.global-pop-modal {
  z-index: 100;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &.pop-up-cart-modal {
    display: block;
    visibility: hidden;

    &.overflow {
      visibility: visible;
    }
  }

  .global-pop-modal-content {
    display: flex;
    margin: 14.5% auto;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    border-radius: 28px;
    background: var(--colors-white, #fff);
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.16);

    &.user-fast-buy {
      width: calc(480px - (32px * 2));

      .global-modal-form-container {
        flex-direction: column;
        gap: 16px;
      }
    }

    &.user-notify {
      width: calc(480px - (32px * 2));
    }

    &.user-response {
      width: calc(640px - (32px * 2));
    }

    &.user-cart,
    &.user-to-cart {
      width: calc(960px - (32px * 2));
      gap: 32px;
      margin: 2% auto;
    }

    .global-pop-modal-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      align-self: stretch;

      color: var(---dark-gray, #333);
      font-weight: 400;

      .global-pop-modal-header-top {
        display: flex;
        height: 24px;
        align-items: center;
        gap: 32px;
        justify-content: space-between;
        align-self: stretch;

        font-size: 24px;
      }

      .global-pop-modal-header-bottom {
        display: flex;
        align-items: center;
        align-self: stretch;
        gap: 8px;

        font-size: 14px;

        .pop-up-user-question-value {
          color: #808080;
        }
      }
    }

    .global-modal-block-content {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;

      img {
        max-width: 80px;
        height: 80px;
        object-fit: contain;
      }

      .global-modal-block-content-container {
        display: flex;
        padding: 4px 4px 0px 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;

        .global-p-short-product-span {
          color: var(---dark-gray, #333);
          font-size: 14px;
          font-weight: 400;
        }

        .global-modal-price-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;

          .global-modal-counter-container {
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 3px;
            user-select: none;

            .ctrl-button {
              display: flex;
              width: 24px;
              height: 24px;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              color: var(--colors-gray-300, #c0c0c0);
              text-align: center;

              cursor: pointer;
              border-radius: var(---radius-min, 8px);
              background: var(--colors-white, #fff);

              -webkit-transition: background-color 100ms ease-in;
              transition: background-color 100ms ease-in;

              &:hover {
                background: var(--colors-green-100, #e9f9e9);
                color: var(--colors-green-400, #62b278);
                -webkit-transition: background-color 100ms ease-in;
                transition: background-color 100ms ease-in;
              }

              &:active {
                background: var(--colors-green-200, #dbf6e2);
                -webkit-transition: background-color 100ms ease-in;
                transition: background-color 100ms ease-in;
              }
            }

            .ctrl-counter {
              position: relative;
              color: var(--colors-gray-700, #2f2c2f);
              overflow: hidden;

              .global-modal-counter,
              .ctrl-counter-num {
                display: flex;
                min-width: 12px;
                max-width: 20px;
                height: 24px;
                padding: 0px 3px;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                color: var(--colors-gray-700, #2f2c2f);

                text-align: center;
                font-size: 16px;
                font-family: Rubik;
                font-weight: 400;
                line-height: 150%; /* 24px */
              }

              .global-modal-counter {
                z-index: 2;
                position: relative;

                border: none;

                box-shadow: none;
                outline: none;
              }

              .ctrl-counter-num {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
              }

              .ctrl-counter-num,
              &.is-input .ctrl-counter-input {
                visibility: visible;
                opacity: 1;
              }
              .to-cart-counter-num,
              .cart-counter-num,
              &.is-input .ctrl-counter-input {
                visibility: hidden;
              }

              .global-modal-counter,
              &.is-input .ctrl-counter-num {
                visibility: hidden;
                opacity: 0;
              }

              .global-modal-counter,
              .ctrl-counter-num,
              &.is-input .ctrl-counter-num,
              &.is-input .ctrl-counter-input {
                -webkit-transition: opacity 100ms ease-in;
                transition: opacity 100ms ease-in;
              }

              .ctrl-counter-num.is-increment-hide {
                opacity: 0;
                -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
                -webkit-animation: increment-prev 100ms ease-in;
                animation: increment-prev 100ms ease-in;
              }

              .ctrl-counter-num.is-decrement-hide {
                opacity: 0;
                -webkit-transform: translateY(50px);
                transform: translateY(50px);
                -webkit-animation: decrement-prev 100ms ease-in;
                animation: decrement-prev 100ms ease-in;
              }

              .ctrl-counter-num.is-decrement-visible {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation: decrement-next 100ms ease-out;
                animation: decrement-next 100ms ease-out;
              }
              .ctrl-counter-num.is-increment-visible {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation: increment-next 100ms ease-out;
                animation: increment-next 100ms ease-out;
              }
            }
          }

          .global-p-short-product {
            user-select: none;

            .global-p-short-product-old-price-container {
              color: var(---gray, #c0c0c0);
              font-size: 12px;
              font-weight: 400;
            }

            .global-p-short-product-discount-container {
              display: flex;
              padding: 2px 6px 1px 5px;
              justify-content: center;
              align-items: center;

              font-size: 12px;
            }

            .global-p-short-product-new-price-container {
              color: var(---dark-gray, #333);
              user-select: text;
            }
          }
        }
      }
    }

    .global-modal-form-container {
      display: flex;
      align-self: stretch;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        width: 100%;

        div {
          display: flex;
          height: 40px;
          padding: 0px 16px;
          align-items: center;
          align-self: stretch;

          border-radius: 4px;
          background: #fafafa;

          /* form-inner-shadow */
          box-shadow: 2px 2px 4px 0px rgba(216, 216, 216, 0.5) inset;

          color: var(--gray, #c0c0c0);
          font-size: 12px;
          font-weight: 400;

          input {
            width: 100%;
            border: none;
            background: #fafafa;
            outline: none;
          }
        }

        .global-raiting {
          flex-direction: row-reverse;
          background: transparent;
          box-shadow: unset;
        }

        .global-modal-textarea {
          display: flex;
          height: 120px;
          padding: 13px 16px;
          align-items: flex-start;
          align-self: stretch;

          textarea {
            resize: none;
            outline: none;
            background: #fafafa;
            height: 120px;
            width: 100%;
          }

          textarea:valid {
            border: none;
          }
        }
      }
    }
  }
}
@-webkit-keyframes decrement-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes decrement-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes decrement-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
@keyframes decrement-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
@-webkit-keyframes increment-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes increment-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes increment-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@keyframes increment-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
