.global-list {
  color: var(--colors-gray-700, #2f2c2f);
  font-weight: 500;

  font-size: 14px;

  user-select: none;

  .global-list-line {
    @include flexbox($alignItems: center);

    gap: 4px;
  }

  @media (max-width: 719px) {
    font-size: 12px;
  }
}

.global-list-status--expected {
  .global-list-line {
    color: var(--colors-mint-400, #59c2b8);

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M19 12C19 15.866 15.866 19 12 19C8.13401 19 5 15.866 5 12C5 8.13401 8.13401 5 12 5C15.866 5 19 8.13401 19 12ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM11 6.99985V11.9807C10.9993 12.0205 11.0009 12.0603 11.0049 12.0997C11.0193 12.2444 11.0645 12.3801 11.1338 12.5C11.203 12.62 11.2978 12.7269 11.416 12.8117C11.4482 12.8349 11.4817 12.8562 11.5166 12.8755L14.8404 14.7944C15.3187 15.0706 15.9303 14.9067 16.2064 14.4284C16.4826 13.9501 16.3187 13.3385 15.8404 13.0624L13 11.4225V6.99985C13 6.44756 12.5523 5.99985 12 5.99985C11.4477 5.99985 11 6.44756 11 6.99985Z" fill="%2359c2b8"/></svg>');
      width: 24px;
      height: 24px;
    }
  }
}

.global-list-status--to-order {
  .global-list-line {
    color: var(--colors-mint-400, #59c2b8);

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none"><path d="M17.5 9C17.5 13.4183 13.9183 17 9.5 17C5.08172 17 1.5 13.4183 1.5 9C1.5 4.58172 5.08172 1 9.5 1C13.9183 1 17.5 4.58172 17.5 9Z" stroke="%2381d8d0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M9.5 5V13" stroke="%2359c2b8" stroke-width="2" stroke-linecap="round" /><path d="M6.5 10.5L9.5 13.5" stroke="%2359c2b8" stroke-width="2" stroke-linecap="round" /><path d="M12.5 10.5L9.5 13.5" stroke="%2359c2b8" stroke-width="2" stroke-linecap="round" /></svg>');
      width: 19px;
      height: 18px;
    }
  }
}

.global-list-status--outlet {
  .global-list-line {
    color: var(--colors-yellow-500, #ffbf00);

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z" stroke="%23FFBF00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 8C7.32843 8 8 7.32843 8 6.5C8 5.67157 7.32843 5 6.5 5C5.67157 5 5 5.67157 5 6.5C5 7.32843 5.67157 8 6.5 8ZM5.29289 12.7071C4.90237 12.3166 4.90237 11.6834 5.29289 11.2929L11.2929 5.29289C11.6834 4.90237 12.3166 4.90237 12.7071 5.29289C13.0976 5.68342 13.0976 6.31658 12.7071 6.70711L6.70711 12.7071C6.31658 13.0976 5.68342 13.0976 5.29289 12.7071ZM13 11.5C13 12.3284 12.3284 13 11.5 13C10.6716 13 10 12.3284 10 11.5C10 10.6716 10.6716 10 11.5 10C12.3284 10 13 10.6716 13 11.5Z" fill="%23FFBF00" /></svg>');
      width: 18px;
      height: 18px;
    }
  }
}

.global-list-status--discontinued {
  .global-list-line {
    color: var(--colors-gray-400, #929292);

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M17.125 9C17.125 13.4873 13.4873 17.125 9 17.125C4.51269 17.125 0.875 13.4873 0.875 9C0.875 4.51269 4.51269 0.875 9 0.875C13.4873 0.875 17.125 4.51269 17.125 9Z" stroke="%23c0c0c0" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" /><path d="M3 3L15 15" stroke="%23c0c0c0" stroke-width="1.75" /></svg>');
      width: 18px;
      height: 18px;
    }
  }
}

.global-list-status--not-available,
.global-list-status--no-offers {
  .global-list-line {
    color: var(--colors-red-300, #fa8072);

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M17 9.00073C17 13.419 13.4183 17.0007 9 17.0007C4.58172 17.0007 1 13.419 1 9.00073C1 4.58245 4.58172 1.00073 9 1.00073C13.4183 1.00073 17 4.58245 17 9.00073Z" stroke="%23FA8072" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 6.00073L12 12.0007" stroke="%23FA8072" stroke-width="2" stroke-linecap="round"/><path d="M12 6.00073L6 12.0007" stroke="%23FA8072" stroke-width="2" stroke-linecap="round"/></svg>');
      width: 18px;
      height: 18px;
    }
  }
}

.global-list-status--in-stock,
.global-list-status--available-propositions {
  text-wrap: nowrap;
  .global-list-line {
    color: var(--colors-green-400, #62b278);

    // align-items: flex-end;

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z" stroke="%2362B378" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M5.5 10.1748L7.75 12.4248L13.375 6.7998" stroke="%2362B378" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </svg>');
      width: 18px;
      height: 18px;
    }
  }
}

.global-list-rating {
  @include flexbox($alignItems: center);
  color: var(---dark-gray, #333);
  text-align: center;

  .global-list-line {
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path d="M17.8254 13.1362C17.5914 13.3611 17.4834 13.6932 17.5383 14.009L18.3383 18.4362C18.4022 18.8142 18.2492 19.1912 17.9333 19.4081C17.6274 19.633 17.2225 19.66 16.8805 19.4801L12.8951 17.4014C12.7502 17.3294 12.5973 17.2835 12.4452 17.2835H12.2013C12.1114 17.2925 12.0313 17.3294 11.9584 17.3645L7.97207 19.4531C7.77411 19.552 7.54915 19.588 7.33318 19.552C6.79328 19.4441 6.44324 18.9393 6.53232 18.4083L7.33318 13.9811C7.38717 13.6581 7.27919 13.3341 7.04613 13.1002L3.7968 9.95071C3.52684 9.68076 3.42786 9.29292 3.55474 8.93389C3.67172 8.58205 3.97677 8.32109 4.3547 8.259L8.82692 7.61021C9.16887 7.57422 9.46581 7.36816 9.61879 7.06221L11.5894 3.02191C11.6344 2.93193 11.6974 2.85004 11.7703 2.77895L11.8504 2.71596C11.8864 2.67007 11.9404 2.63498 11.9953 2.59898L12.0934 2.56299L12.2463 2.5H12.6252C12.9671 2.53599 13.2641 2.74206 13.417 3.03901L15.4138 7.06221C15.5578 7.35916 15.8367 7.55712 16.1607 7.61021L20.6329 8.259C21.0108 8.31299 21.3267 8.57395 21.4517 8.93389C21.5687 9.29292 21.4697 9.68975 21.1908 9.95071L17.8254 13.1362Z" fill="%23ffda55" /></svg>');
      width: 25px;
      height: 24px;
    }
  }
}

.global-list-guarantee {
  .global-list-line {
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path d="M12.2227 4.08397C12.3906 3.97201 12.6094 3.97201 12.7774 4.08397C14.7155 5.3761 16.8117 6.1823 19.0707 6.50503C19.317 6.54021 19.5 6.75117 19.5 7V11.5C19.5 15.3913 17.193 18.2307 12.6795 19.9667C12.564 20.0111 12.436 20.0111 12.3205 19.9667C7.807 18.2307 5.5 15.3913 5.5 11.5V7C5.5 6.75117 5.68296 6.54021 5.92929 6.50503C8.18833 6.1823 10.2845 5.3761 12.2227 4.08397Z" fill="%23e5e4e2" /></svg>');
      width: 25px;
      height: 24px;
    }
  }

  .global-list-guarantee-days {
    color: var(--colors-green-400, #62b278);

    font-weight: 500;
    margin-left: 2px;
  }
}

.global-list-articul {
  color: var(--colors-gray-400, #929292);
  user-select: text;
}

.global-list-reviews {
  @include flexbox($alignItems: center);

  gap: 4px;

  text-align: center;
  font-size: 16px;

  a {
    color: var(--colors-gray-700, #2f2c2f);
    &:hover {
      color: var(--colors-green-500-primary, #2ea84f);
    }
  }

  .global-list-line {
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 5C4.39543 5 3.5 5.89543 3.5 7V15C3.5 16.1046 4.39543 17 5.5 17H9C9.27614 17 9.5 17.2239 9.5 17.5L9.5 19.5981C9.5 19.983 9.91667 20.2235 10.25 20.0311L15.384 17.067C15.46 17.0231 15.5462 17 15.634 17H19.5C20.6046 17 21.5 16.1046 21.5 15V7C21.5 5.89543 20.6046 5 19.5 5H5.5Z" fill="%23e9e9e9" /></svg>');
      width: 25px;
      height: 24px;
    }
    &:hover::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 5C4.39543 5 3.5 5.89543 3.5 7V15C3.5 16.1046 4.39543 17 5.5 17H9C9.27614 17 9.5 17.2239 9.5 17.5L9.5 19.5981C9.5 19.983 9.91667 20.2235 10.25 20.0311L15.384 17.067C15.46 17.0231 15.5462 17 15.634 17H19.5C20.6046 17 21.5 16.1046 21.5 15V7C21.5 5.89543 20.6046 5 19.5 5H5.5Z" fill="%232ea84f" /></svg>');
    }
  }
}

.global-list-bonus {
  display: flex;
  align-items: center;
  gap: 4px;
  text-wrap: nowrap;

  &::before {
    content: url('data:image/svg+xml;utf8,<svg width="22" height="24" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11.1999" cy="10.8667" r="10.6667" fill="%23FFBF00" /><path d="M5.8947 13.2657C5.38457 13.2657 4.9959 13.1291 4.72869 12.8561V14.603C4.72869 14.7061 4.71047 14.7757 4.67403 14.8121C4.6376 14.8485 4.55865 14.8667 4.43719 14.8667H3.93603C3.82065 14.8667 3.74328 14.8485 3.70368 14.8121C3.66407 14.7757 3.64453 14.7058 3.64453 14.603V10.5816C3.64453 9.89015 3.80692 9.3564 4.13195 8.98034C4.45673 8.60429 4.97768 8.41626 5.6943 8.41626C6.35018 8.41626 6.86031 8.58451 7.22469 8.92127C7.58907 9.25803 7.77126 9.73245 7.77126 10.3451V11.2003C7.77126 11.8614 7.61019 12.3709 7.28832 12.7288C6.96645 13.0866 6.50174 13.2657 5.8947 13.2657ZM6.68736 11.1003V10.527C6.68736 10.1146 6.60683 9.8113 6.44603 9.61721C6.28496 9.42312 6.03465 9.32607 5.69456 9.32607C5.35447 9.32607 5.11287 9.42312 4.95207 9.61721C4.79101 9.8113 4.71074 10.1146 4.71074 10.527V11.0911C4.71074 11.9281 5.03868 12.3466 5.69456 12.3466C6.35044 12.3466 6.68762 11.9313 6.68762 11.1003H6.68736Z" fill="white" /><path d="M9.09015 8.14966C8.90188 8.14966 8.75164 8.10114 8.63916 8.00409C8.52668 7.90705 8.4707 7.77361 8.4707 7.60378V7.41259C8.4707 7.23669 8.52668 7.10193 8.63916 7.00779C8.75138 6.9139 8.90188 6.8667 9.09015 6.8667C9.27841 6.8667 9.43763 6.91364 9.55011 7.00779C9.66233 7.10193 9.71857 7.23669 9.71857 7.41259V7.60378C9.71857 7.77361 9.66233 7.90705 9.55011 8.00409C9.43763 8.10114 9.28448 8.14966 9.09015 8.14966Z" fill="white" /><path d="M9.62713 8.80762V13.0473C9.62713 13.1565 9.60733 13.228 9.56798 13.2612C9.52838 13.2947 9.45101 13.3113 9.33563 13.3113H8.83447C8.71909 13.3113 8.64172 13.2947 8.60211 13.2612C8.56251 13.228 8.54297 13.1565 8.54297 13.0473V8.80762C8.54297 8.69844 8.56251 8.62724 8.60211 8.59375C8.64146 8.56052 8.71882 8.54364 8.83447 8.54364H9.33563C9.45101 8.54364 9.52838 8.56052 9.56798 8.59375C9.60733 8.62724 9.62713 8.69844 9.62713 8.80762Z" fill="white" /><path d="M10.5246 8.54366H11.2079C11.299 8.54366 11.3674 8.56186 11.4128 8.59825C11.4585 8.63464 11.5052 8.69239 11.5541 8.77098L12.31 10.0357L13.0934 8.76201C13.142 8.68316 13.189 8.62699 13.2347 8.59376C13.2804 8.56054 13.3485 8.54366 13.4396 8.54366H14.059C14.2048 8.54366 14.2777 8.59535 14.2777 8.69846C14.2777 8.74698 14.2563 8.80157 14.2138 8.86223L12.8928 10.8003L14.2956 12.9928C14.3381 13.0534 14.3595 13.108 14.3595 13.1565C14.3595 13.2596 14.2866 13.3113 14.1409 13.3113H13.4396C13.3485 13.3113 13.2801 13.2947 13.2347 13.2612C13.1893 13.228 13.142 13.1718 13.0934 13.093L12.2554 11.6191L11.4263 13.0837C11.3838 13.1626 11.3381 13.2201 11.2898 13.2565C11.2412 13.2929 11.1712 13.3111 11.0801 13.3111H10.4335C10.2877 13.3111 10.2148 13.2596 10.2148 13.1563C10.2148 13.1138 10.2391 13.0592 10.2877 12.9925L11.6724 10.8L10.3698 8.86196C10.3273 8.80131 10.3059 8.74672 10.3059 8.6982C10.3059 8.59508 10.3788 8.5434 10.5246 8.5434V8.54366Z" fill="white" /><path d="M16.6637 13.4384C16.0139 13.4384 15.5069 13.2609 15.1423 12.9062C14.7779 12.5513 14.5957 12.0555 14.5957 11.4186V10.527C14.5957 9.85983 14.7779 9.34137 15.1423 8.97111C15.5067 8.60112 16.0136 8.41626 16.6637 8.41626C17.3138 8.41626 17.8207 8.59374 18.1851 8.94843C18.5495 9.30313 18.7317 9.79917 18.7317 10.436V11.3277C18.7317 11.9888 18.5495 12.5059 18.1851 12.8788C17.8207 13.252 17.3135 13.4384 16.6637 13.4384ZM16.6637 12.5196C17.3196 12.5196 17.6475 12.1072 17.6475 11.2823V10.5726C17.6475 9.74775 17.3196 9.3353 16.6637 9.3353C16.0078 9.3353 15.6799 9.74775 15.6799 10.5726V11.2823C15.6799 12.1072 16.0078 12.5196 16.6637 12.5196Z" fill="white" /><path d="M22.9054 12.1651L22.9054 12.1651L22.9047 12.1609C22.8346 11.7403 22.4761 11.3758 21.9775 11.3758C21.573 11.3758 21.129 11.6491 21.0501 12.1612C20.8599 13.2019 20.482 14.2049 19.954 15.0448C19.4244 15.8536 18.7388 16.5395 17.9587 17.0703C17.2126 17.5673 16.3752 17.9076 15.5433 18.0617C15.0039 18.1597 14.4442 18.1794 13.8966 18.1207V17.7188C13.8966 17.0716 13.5667 16.5074 13.0142 16.1851C12.4583 15.8608 11.7991 15.8605 11.2431 16.1842L4.96735 19.7894L4.96735 19.7894L4.96448 19.791C4.41191 20.1134 4.08203 20.6775 4.08203 21.3247C4.08203 21.972 4.41191 22.5361 4.96448 22.8585L4.96635 22.8595L11.21 26.4655L11.223 26.473L11.2365 26.4797C11.4859 26.6044 11.7966 26.6995 12.0945 26.6995C12.3923 26.6995 12.703 26.6044 12.9524 26.4797L12.9669 26.4725L12.9808 26.4644C13.5333 26.1421 13.8632 25.5779 13.8632 24.9307V24.5117C15.1757 24.2432 16.4232 23.7524 17.555 23.0922L17.555 23.0922L17.5586 23.0901C18.8457 22.3248 20.0317 21.2802 20.9091 20.0879C21.7893 18.9251 22.3811 17.5617 22.7281 16.2101C23.0821 14.8982 23.1149 13.4918 22.9054 12.1651Z" fill="%23DC343B" stroke="white" /></svg>');
    width: 22px;
    height: 24px;
  }

  .global-list-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
    align-self: stretch;

    .list-bonus-top {
      color: var(--colors-green-400, #62b278);
      font-size: 12px;
    }

    .list-bonus-bottom {
      color: var(--colors-gray-700, #2f2c2f);
      font-size: 8px;

      &.line {
        font-size: 12px;
      }
    }
  }
}
