//Языковой переключатель
.language_switch {
  @include flexbox($alignItems: center, $justify: center);

  gap: 4px;

  .language_switch-container {
    @include flexbox($alignItems: center, $justify: center, $direction: column);
    cursor: default;

    gap: 2px;

    .language_switch-span {
      @include flexbox($alignItems: center, $justify: center);

      padding: 1px 3px 0px 3px;

      border-radius: 4px;

      font-size: 10px;
    }
  }
  // Toogle Switch Checkbox
  input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 32px;
    appearance: none;

    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background 300ms linear;

    // circle
    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      top: 2px;
      left: 2px;
      border-radius: 16px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: top 300ms linear;
    }

    // move to top
    &:checked {
      &::before {
        top: 18px;
      }
    }
  }
}

//Горизонтальный переключатель
.global-horizontal-switch {
  @include flexbox($alignItems: center, $self: stretch);

  gap: var(---gap-small, 16px);
  user-select: none;

  // Toogle Switch Checkbox
  input[type="checkbox"] {
    position: relative;
    width: 32px;
    height: 16px;
    appearance: none;
    background: var(--colors-gray-300, #c0c0c0);

    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background 300ms linear;

    // circle
    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      top: 2px;
      left: 2px;
      border-radius: 16px;
      background-color: var(---white, #fff);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: top 300ms linear;
    }

    // move to right
    &:checked {
      background: var(--colors-green-500-primary, #2ea84f);
      &::before {
        left: 18px;
        background-color: var(---white, #fff);
      }
    }
  }

  .gen-tab__add-services-content {
    @include flexbox($alignItems: center);

    gap: 8px;
    flex: 1 0 0;

    .gen-tab__add-services-text {
      @include flexbox(
        $alignItems: center,
        $justify: space-between,
        $self: stretch
      );

      height: var(--nums-block-radius, 32px);
      padding-left: 16px;
      gap: 64px;
      flex-shrink: 0;
      flex: 1 0 0;
      cursor: pointer;
      border-radius: var(---radius-min, 8px);
      border: var(---stroke-thickness, 2px) solid transparent;
      background: var(--colors-white, #fff);
    }
  }

  .gen-tab__add-services-price {
    @include flexbox($alignItems: baseline, $justify: flex-end);
    width: 80px;
  }
}
//Квадратная кнопка добавить
.global-button-state {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: var(---radius-min, 8px);

  &.add-product {
    background: var(--colors-green-500-primary, #2ea84f);
    &:hover {
      background: var(--colors-green-600, #25863f);
    }
    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 15 14" fill="none"><path d="M7.66699 1L7.66699 13" stroke="%23fff" stroke-width="2" stroke-linecap="round" /><path d="M1.66699 7H13.667" stroke="%23fff" stroke-width="2" stroke-linecap="round" /></svg>');
      width: 16px;
      height: 16px;
    }
  }
  &.success {
    background: var(--colors-green-200, #dbf6e2);

    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M6.5 13.4407L9.76442 16.7051L18.5 8" stroke="%2362B378" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      width: 24px;
      height: 24px;
    }
    &:hover {
      background: var(--colors-red-100, #ffe4e1);
    }
    &:hover::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M1 11L11 1" stroke="%23FA8072" stroke-width="2" stroke-linecap="round"/><path d="M1 1L11 11" stroke="%23FA8072" stroke-width="2" stroke-linecap="round"/></svg>');
      width: 12px;
      height: 12px;
    }
  }
}

//Прямоугольная кнопка Купить/Хочу купить
.global-button {
  @include flexbox();
  flex: 1 0 0;

  button {
    @include flexbox($justify: center, $alignItems: center);

    height: 48px;
    flex: 1 0 0;
    border: none;
    border-radius: 8px;
    background: linear-gradient(
        0deg,
        var(--colors-green-500-primary, #2ea84f) 0%,
        var(--colors-green-500-primary, #2ea84f) 100%
      ),
      var(--colors-white, #fff);

    color: var(--colors-white, #fff);

    font-weight: 500;
    cursor: pointer;

    &:hover {
      background: var(--colors-green-600, #25863f);
    }
    &::before {
      // SVG COLOR var(--colors-white: #fff;);
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none"><path d="M1 1.5H2.38653C2.82196 1.5 3.20734 1.78175 3.33942 2.19667L6.07235 10.7818C6.20443 11.1967 6.5898 11.4784 7.02523 11.4784H16.5525C17.0253 11.4784 17.4334 11.1474 17.531 10.6848L18.7457 4.92374C18.8767 4.30211 18.4025 3.71743 17.7672 3.71743H8.09091" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="7.6" cy="15.225" r="1.35" fill="white"/><circle cx="15.475" cy="15.225" r="1.35" fill="white"/></svg>');
      width: 18px;
      height: 15.075px;
      // margin: auto 0;
      // margin-right: 8px;
      // margin-bottom: 17px;
      margin: auto 8px 17px 0;
    }
    &:hover::before {
      // SVG COLOR var(--colors-white: #fff;);
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none"><path d="M1 1.5H2.38653C2.82196 1.5 3.20734 1.78175 3.33942 2.19667L6.07235 10.7818C6.20443 11.1967 6.5898 11.4784 7.02523 11.4784H16.5525C17.0253 11.4784 17.4334 11.1474 17.531 10.6848L19 3.71743" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="7.6" cy="15.225" r="1.35" fill="white"/><circle cx="15.475" cy="15.225" r="1.35" fill="white"/><path d="M11.5 3L11.5 8" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M9 5.5L14 5.5" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
    }
  }
  .global-button-buy.active {
    background: var(--colors-green-200, #dbf6e2);
    color: var(--colors-green-400, #62b278);
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M6.5 13.4407L9.76442 16.7051L18.5 8" stroke="%2362B378" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      width: 24px;
      height: 24px;
      margin: 0;
    }
  }
}

//Прямоугольная кнопка Олата частями
.global-button-credit {
  @include flexbox();

  display: flex;
  flex: 1 0 0;

  button {
    @include flexbox($justify: center, $alignItems: center);
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    cursor: pointer;

    border: none;
    border-radius: 8px;
    background: var(--colors-green-100, #e9f9e9);

    color: var(--colors-green-400, #62b278);
    text-align: center;

    &:hover {
      border: 2px solid var(--colors-green-500-primary, #2ea84f);
      background: var(--colors-white, #fff);
    }
  }
}

//Прямоугольная ссылка показать все модели
.global-all-models-button-a {
  @include flexbox();
  flex: 1 0 0;

  a {
    @include flexbox($justify: center, $alignItems: center);

    height: 52px;
    flex: 1 0 0;
    border: solid 2px transparent;
    border-radius: 8px;
    background: var(--colors-blue-100, #e9f5ff);
    color: var(--colors-blue-500, #318ce7);

    font-weight: 500;
    cursor: pointer;

    &:hover {
      border: var(---stroke-thickness, 2px) solid
        var(--colors-blue-500, #318ce7);
      background: var(--colors-white, #fff);

      color: var(--colors-blue-400, #62a8ed);
    }
  }
}

//Прямоугольная кнопки
.global-button-notify,
.global-button-reviews,
.global-button-fast-buy {
  @include flexbox();
  flex: 1 0 0;

  button {
    @include flexbox($justify: center, $alignItems: center);

    height: 48px;
    gap: 4px;
    flex: 1 0 0;
    border: solid 2px transparent;
    border-radius: 8px;
    background: var(--colors-blue-100, #e9f5ff);

    font-weight: 500;
    color: var(--colors-blue-500, #318ce7);
    cursor: pointer;
  }
}

.global-button-notify,
.global-button-fast-buy {
  button {
    &:hover {
      border: var(---stroke-thickness, 2px) solid
        var(--colors-blue-500, #318ce7);
      background: var(--colors-white, #fff);

      color: var(--colors-blue-400, #62a8ed);
    }
  }
}

//Прямоугольная кнопка Отзывы и Вопросы
.global-button-questions,
.global-button-reviews {
  @include flexbox();
  flex: 1 0 0;

  button {
    @include flexbox($justify: center, $alignItems: center);

    height: 48px;
    gap: 4px;
    flex: 1 0 0;
    border: solid 2px transparent;
    border-radius: 8px;
    background: var(--colors-blue-100, #e9f5ff);

    font-weight: 500;
    color: var(--colors-blue-500, #318ce7);
    cursor: pointer;

    &:hover {
      background: var(--colors-blue-500, #318ce7);

      color: var(--colors-white, #fff);
    }
  }
}

//Прямоугольная кнопка Оповестить
.global-button-notify {
  button {
    gap: 8px;

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M14.4081 18.0938C13.7831 19.0312 13.0019 19.5 12.0644 19.5C11.1269 19.5 10.3456 19.0312 9.72064 18.0938M16.8311 16.6875H7.29765C6.44296 16.6875 5.7501 15.9946 5.7501 15.14C5.7501 14.8595 5.82633 14.5843 5.97064 14.3438C6.89081 12.8101 7.37689 11.0552 7.37689 9.26674V8.25C7.37689 6.17893 9.05582 4.5 11.1269 4.5H13.0019C15.073 4.5 16.7519 6.17893 16.7519 8.25V9.26674C16.7519 11.0552 17.238 12.8101 18.1581 14.3438C18.5979 15.0766 18.3602 16.0272 17.6273 16.467C17.3868 16.6113 17.1116 16.6875 16.8311 16.6875Z" stroke="%23318CE7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      width: 24px;
      height: 24px;
    }

    &:hover::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M14.4081 18.0938C13.7831 19.0312 13.0019 19.5 12.0644 19.5C11.1269 19.5 10.3456 19.0312 9.72064 18.0938M16.8311 16.6875H7.29765C6.44296 16.6875 5.7501 15.9946 5.7501 15.14C5.7501 14.8595 5.82633 14.5843 5.97064 14.3438C6.89081 12.8101 7.37689 11.0552 7.37689 9.26674V8.25C7.37689 6.17893 9.05582 4.5 11.1269 4.5H13.0019C15.073 4.5 16.7519 6.17893 16.7519 8.25V9.26674C16.7519 11.0552 17.238 12.8101 18.1581 14.3438C18.5979 15.0766 18.3602 16.0272 17.6273 16.467C17.3868 16.6113 17.1116 16.6875 16.8311 16.6875Z" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
  }
}

//Прямоугольная кнопка Быстрая покупка
.global-button-fast-buy {
  button {
    gap: 8px;

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18" fill="none"><path d="M13.625 4.5V8.79289C13.625 8.9255 13.6777 9.05268 13.7714 9.14645L16.625 12" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7.31291 5C7.66795 5 7.99619 4.8227 8.2221 4.54881C9.50599 2.99224 11.4495 2 13.6248 2C17.4908 2 20.6248 5.13401 20.6248 9C20.6248 12.866 17.4908 16 13.6248 16C12.4276 16 11.3005 15.6994 10.315 15.1696C10.1175 15.0634 9.89876 15 9.67453 15C8.60876 15 8.12181 16.2014 9.03834 16.7453C10.3815 17.5424 11.9497 18 13.6248 18C18.5954 18 22.6248 13.9706 22.6248 9C22.6248 4.02944 18.5954 0 13.6248 0C10.7182 0 8.13335 1.37791 6.48792 3.51617C5.99625 4.15511 6.50669 5 7.31291 5Z" fill="%2362A8ED"/><path d="M8.625 7L3.625 7" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path d="M7.625 10L1.625 10" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path d="M8.625 13L4.625 13" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/></svg>');
      width: 21px;
      height: 18px;
      margin-bottom: 2px;
    }

    &:hover::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18" fill="none"><path d="M13.75 4.5V8.79289C13.75 8.9255 13.8027 9.05268 13.8964 9.14645L16.75 12" stroke="%23318CE7" stroke-width="2" stroke-linecap="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7.43791 5C7.79295 5 8.12119 4.8227 8.3471 4.54881C9.63099 2.99224 11.5745 2 13.7498 2C17.6158 2 20.7498 5.13401 20.7498 9C20.7498 12.866 17.6158 16 13.7498 16C12.5526 16 11.4255 15.6994 10.44 15.1696C10.2425 15.0634 10.0238 15 9.79953 15C8.73376 15 8.24681 16.2014 9.16334 16.7453C10.5065 17.5424 12.0747 18 13.7498 18C18.7204 18 22.7498 13.9706 22.7498 9C22.7498 4.02944 18.7204 0 13.7498 0C10.8432 0 8.25835 1.37791 6.61292 3.51617C6.12125 4.15511 6.63169 5 7.43791 5Z" fill="%23318CE7"/><path d="M8.75 7L3.75 7" stroke="%23318CE7" stroke-width="2" stroke-linecap="round"/><path d="M7.75 10L1.75 10" stroke="%23318CE7" stroke-width="2" stroke-linecap="round"/><path d="M8.75 13L4.75 13" stroke="%23318CE7" stroke-width="2" stroke-linecap="round"/></svg>');
    }
  }
}

//Вернуться к верху
.back-to-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: none;

  padding: 13px 12px 11px 12px;
  align-items: flex-start;

  cursor: pointer;
  z-index: 20;

  border-radius: 32px;
  background: var(--colors-green-500-primary, #2ea84f);

  &:hover {
    background: var(--colors-green-600, #25863f);
  }

  &::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M14 10L8 4L2 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 16px;
    height: 16px;
  }
}

//Рейтинг
.raiting {
  margin-left: auto;
  margin-right: auto;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }

  &__check {
    display: none;

    &:checked {
      ~ .raiting__star {
        color: #f29625;
      }
    }
  }

  &__star {
    position: relative;
    display: block;
    float: right;
    height: 0;
    width: 0;
    border-right: 10px solid transparent;
    border-bottom: 7px solid;
    border-left: 10px solid transparent;
    margin-right: 5px;

    font-size: 0;
    line-height: 0;
    color: #e1e1e1;

    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -6px;

      height: 0;
      width: 0;
      border-bottom: 8px solid;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;

      -webkit-transform: rotate(-35deg);
      transform: rotate(-35deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;

      width: 0;
      height: 0;
      border-right: 10px solid transparent;
      border-bottom: 7px solid;
      border-left: 10px solid transparent;

      -webkit-transform: rotate(-70deg);
      transform: rotate(-70deg);
    }

    &:hover {
      color: #f29625;

      & ~ .raiting__star {
        color: #f29625;
      }
    }
  }
}

.reviews-block-rating-value {
  display: block;
}
