//Языковой переключатель
.language_switch {
  @include flexbox($alignItems: center, $justify: center);
  user-select: none;
  gap: 4px;

  .language_switch-container {
    @include flexbox($alignItems: center, $justify: center, $direction: column);
    cursor: default;

    gap: 2px;

    .language_switch-span {
      @include flexbox($alignItems: center, $justify: center);

      padding: 1px 3px 0px 3px;

      border-radius: 4px;

      font-size: 10px;
    }
  }
  // Toogle Switch Checkbox
  input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 32px;
    appearance: none;

    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background 300ms linear;

    // circle
    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      top: 2px;
      left: 2px;
      border-radius: 16px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: top 300ms linear;
    }

    // move to top
    &:checked {
      &::before {
        top: 18px;
      }
    }
  }
}

//Кнопка входа\выхода
.global__authorized-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  cursor: pointer;
  border: none;

  border-radius: 8px;
  background: transparent;

  span {
    font-size: 12px;
  }

  .left-home__authorized-login {
    color: var(--colors-green-400, #62b278);
  }

  .left-home__authorized-logout {
    color: var(--colors-red-300, #fa8072);
  }
}

.global-button-shared,
.global-button-date {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  border-radius: 48px;
  background: var(--colors-blue-100, #e9f5ff);
  border: none;

  &:hover {
    background: var(--colors-blue-500, #318ce7);
  }
}

.global-button-shared {
  &::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M13.991 13.3652C13.1103 13.3652 12.3167 13.7456 11.766 14.3506L6.81215 11.2825C6.94816 10.9348 7.01789 10.5648 7.01774 10.1915C7.01791 9.81817 6.94818 9.44812 6.81215 9.10046L11.766 6.03219C12.3167 6.63725 13.1103 7.01777 13.991 7.01777C15.6502 7.01777 17 5.66798 17 4.00881C17 2.34964 15.6502 1 13.991 1C12.3319 1 10.9821 2.34978 10.9821 4.00895C10.982 4.38225 11.0518 4.75227 11.1877 5.09994L6.23402 8.1681C5.68325 7.56304 4.88973 7.18253 4.00896 7.18253C2.34979 7.18253 1 8.53246 1 10.1915C1 11.8506 2.34979 13.2004 4.00896 13.2004C4.88969 13.2004 5.68329 12.8201 6.23402 12.2149L11.1877 15.283C11.0518 15.6307 10.982 16.0008 10.9821 16.3742C10.9821 18.0332 12.3319 19.383 13.991 19.383C15.6502 19.383 17 18.0332 17 16.3742C17 14.715 15.6502 13.3652 13.991 13.3652ZM12.0793 4.00895C12.0793 2.95481 12.9369 2.0972 13.991 2.0972C15.0452 2.0972 15.9028 2.95481 15.9028 4.00895C15.9028 5.0631 15.0452 5.92071 13.991 5.92071C12.9369 5.92071 12.0793 5.06307 12.0793 4.00895ZM4.00896 12.1032C2.95467 12.1032 2.09706 11.2456 2.09706 10.1915C2.09706 9.13737 2.95467 8.27973 4.00896 8.27973C5.06311 8.27973 5.92058 9.13737 5.92058 10.1915C5.92058 11.2456 5.06308 12.1032 4.00896 12.1032ZM12.0793 16.3741C12.0793 15.3199 12.9369 14.4623 13.991 14.4623C15.0452 14.4623 15.9028 15.3199 15.9028 16.374C15.9028 17.4282 15.0452 18.2858 13.991 18.2858C12.9369 18.2858 12.0793 17.4282 12.0793 16.374V16.3741Z" fill="%2362A8ED" stroke="%2362A8ED" stroke-width="0.5"/></svg>');
    width: 20px;
    height: 20px;
  }

  &:hover {
    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M13.991 13.3652C13.1103 13.3652 12.3167 13.7456 11.766 14.3506L6.81215 11.2825C6.94816 10.9348 7.01789 10.5648 7.01774 10.1915C7.01791 9.81817 6.94818 9.44812 6.81215 9.10046L11.766 6.03219C12.3167 6.63725 13.1103 7.01777 13.991 7.01777C15.6502 7.01777 17 5.66798 17 4.00881C17 2.34964 15.6502 1 13.991 1C12.3319 1 10.9821 2.34978 10.9821 4.00895C10.982 4.38225 11.0518 4.75227 11.1877 5.09994L6.23402 8.1681C5.68325 7.56304 4.88973 7.18253 4.00896 7.18253C2.34979 7.18253 1 8.53246 1 10.1915C1 11.8506 2.34979 13.2004 4.00896 13.2004C4.88969 13.2004 5.68329 12.8201 6.23402 12.2149L11.1877 15.283C11.0518 15.6307 10.982 16.0008 10.9821 16.3742C10.9821 18.0332 12.3319 19.383 13.991 19.383C15.6502 19.383 17 18.0332 17 16.3742C17 14.715 15.6502 13.3652 13.991 13.3652ZM12.0793 4.00895C12.0793 2.95481 12.9369 2.0972 13.991 2.0972C15.0452 2.0972 15.9028 2.95481 15.9028 4.00895C15.9028 5.0631 15.0452 5.92071 13.991 5.92071C12.9369 5.92071 12.0793 5.06307 12.0793 4.00895ZM4.00896 12.1032C2.95467 12.1032 2.09706 11.2456 2.09706 10.1915C2.09706 9.13737 2.95467 8.27973 4.00896 8.27973C5.06311 8.27973 5.92058 9.13737 5.92058 10.1915C5.92058 11.2456 5.06308 12.1032 4.00896 12.1032ZM12.0793 16.3741C12.0793 15.3199 12.9369 14.4623 13.991 14.4623C15.0452 14.4623 15.9028 15.3199 15.9028 16.374C15.9028 17.4282 15.0452 18.2858 13.991 18.2858C12.9369 18.2858 12.0793 17.4282 12.0793 16.374V16.3741Z" fill="white" stroke="white" stroke-width="0.5"/></svg>');
    }
  }

  @media (max-width: 719px) {
    width: 28px;
    height: 28px;
  }
}

.global-button-date {
  position: relative;

  &::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 7.5C7.44772 7.5 7 7.05228 7 6.5H5.5C4.94772 6.5 4.5 6.94772 4.5 7.5V8.5L19.5 8.5V7.5C19.5 6.94772 19.0523 6.5 18.5 6.5H17C17 7.05228 16.5523 7.5 16 7.5C15.4477 7.5 15 7.05228 15 6.5H9C9 7.05228 8.55228 7.5 8 7.5ZM17 4.5C17 3.94772 16.5523 3.5 16 3.5C15.4477 3.5 15 3.94772 15 4.5H9C9 3.94772 8.55228 3.5 8 3.5C7.44772 3.5 7 3.94772 7 4.5H5.5C3.84315 4.5 2.5 5.84315 2.5 7.5V17.5C2.5 19.1569 3.84315 20.5 5.5 20.5H18.5C20.1569 20.5 21.5 19.1569 21.5 17.5V7.5C21.5 5.84315 20.1569 4.5 18.5 4.5H17ZM4.5 10.5V17.5C4.5 18.0523 4.94772 18.5 5.5 18.5H18.5C19.0523 18.5 19.5 18.0523 19.5 17.5V10.5L4.5 10.5Z" fill="%2362A8ED"/></svg>');
    width: 24px;
    height: 24px;
  }

  &:hover {
    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 7.5C7.44772 7.5 7 7.05228 7 6.5H5.5C4.94772 6.5 4.5 6.94772 4.5 7.5V8.5L19.5 8.5V7.5C19.5 6.94772 19.0523 6.5 18.5 6.5H17C17 7.05228 16.5523 7.5 16 7.5C15.4477 7.5 15 7.05228 15 6.5H9C9 7.05228 8.55228 7.5 8 7.5ZM17 4.5C17 3.94772 16.5523 3.5 16 3.5C15.4477 3.5 15 3.94772 15 4.5H9C9 3.94772 8.55228 3.5 8 3.5C7.44772 3.5 7 3.94772 7 4.5H5.5C3.84315 4.5 2.5 5.84315 2.5 7.5V17.5C2.5 19.1569 3.84315 20.5 5.5 20.5H18.5C20.1569 20.5 21.5 19.1569 21.5 17.5V7.5C21.5 5.84315 20.1569 4.5 18.5 4.5H17ZM4.5 10.5V17.5C4.5 18.0523 4.94772 18.5 5.5 18.5H18.5C19.0523 18.5 19.5 18.0523 19.5 17.5V10.5L4.5 10.5Z" fill="white"/></svg>');
    }
  }

  &.active {
    &::before {
      position: absolute;
      right: 2px;
      top: -6px;

      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none"><circle cx="4" cy="4" r="3.5" fill="%23318CE7" stroke="white"/></svg>');
      width: 8px;
      height: 8px;
    }
  }
}

.global-button-edit {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  border-radius: 16px;
  border: none;
  background: transparent;

  color: var(--colors-green-400, #62b278);

  font-size: 14px;

  &::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M9.41098 4.0056L2.80812 10.6156C2.77487 10.649 2.75117 10.6906 2.7395 10.7363L2.00761 13.6768C1.99685 13.7205 1.99751 13.7661 2.00953 13.8094C2.02155 13.8527 2.04452 13.8922 2.07623 13.924C2.12494 13.9726 2.19088 13.9999 2.25964 14C2.28085 14 2.30199 13.9974 2.32256 13.9922L5.26013 13.2595C5.3058 13.248 5.3475 13.2243 5.38074 13.1909L11.9842 6.58136L9.41098 4.0056ZM13.62 3.10434L12.885 2.36862C12.3938 1.87688 11.5376 1.87737 11.0469 2.36862L10.1466 3.26988L12.7197 5.84555L13.62 4.94431C13.8654 4.69878 14.0006 4.37196 14.0006 4.02438C14.0006 3.6768 13.8654 3.34998 13.62 3.10434Z" fill="%2362B378"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 13.25C6.5 12.8358 6.83579 12.5 7.25 12.5H13.25C13.6642 12.5 14 12.8358 14 13.25C14 13.6642 13.6642 14 13.25 14H7.25C6.83579 14 6.5 13.6642 6.5 13.25Z" fill="%2362B378"/></svg>');
    width: 16px;
    height: 16px;
  }

  &:hover {
    color: var(--colors-green-600, #25863f);

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M9.41098 4.0056L2.80812 10.6156C2.77487 10.649 2.75117 10.6906 2.7395 10.7363L2.00761 13.6768C1.99685 13.7205 1.99751 13.7661 2.00953 13.8094C2.02155 13.8527 2.04452 13.8922 2.07623 13.924C2.12494 13.9726 2.19088 13.9999 2.25964 14C2.28085 14 2.30199 13.9974 2.32256 13.9922L5.26013 13.2595C5.3058 13.248 5.3475 13.2243 5.38074 13.1909L11.9842 6.58136L9.41098 4.0056ZM13.62 3.10434L12.885 2.36862C12.3938 1.87688 11.5376 1.87737 11.0469 2.36862L10.1466 3.26988L12.7197 5.84555L13.62 4.94431C13.8654 4.69878 14.0006 4.37196 14.0006 4.02438C14.0006 3.6768 13.8654 3.34998 13.62 3.10434Z" fill="%2325863f"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 13.25C6.5 12.8358 6.83579 12.5 7.25 12.5H13.25C13.6642 12.5 14 12.8358 14 13.25C14 13.6642 13.6642 14 13.25 14H7.25C6.83579 14 6.5 13.6642 6.5 13.25Z" fill="%2325863f"/></svg>');
    }
  }
}

.global-btn-trash {
  background: unset;
  border: unset;
  display: flex;
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M3 5V4H2V5H3ZM15 5H16V4H15V5ZM3 6H15V4H3V6ZM14 5V15H16V5H14ZM13 16H5V18H13V16ZM4 15V5H2V15H4ZM5 16C4.44772 16 4 15.5523 4 15H2C2 16.6569 3.34315 18 5 18V16ZM14 15C14 15.5523 13.5523 16 13 16V18C14.6569 18 16 16.6569 16 15H14Z" fill="%23C0C0C0"/><path d="M1 5H17" stroke="%23C0C0C0" stroke-width="2" stroke-linecap="round"/><path d="M7 9V13" stroke="%23C0C0C0" stroke-width="2" stroke-linecap="round"/><path d="M11 9V13" stroke="%23C0C0C0" stroke-width="2" stroke-linecap="round"/><path d="M13 5V6H14V5H13ZM5 5H4V6H5V5ZM7 2H11V0H7V2ZM12 3V5H14V3H12ZM13 4H5V6H13V4ZM6 5V3H4V5H6ZM11 2C11.5523 2 12 2.44772 12 3H14C14 1.34315 12.6569 0 11 0V2ZM7 0C5.34315 0 4 1.34315 4 3H6C6 2.44772 6.44772 2 7 2V0Z" fill="%23C0C0C0"/></svg>');
    width: 18px;
    height: 18px;
  }

  &:hover {
    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M3 5V4H2V5H3ZM15 5H16V4H15V5ZM3 6H15V4H3V6ZM14 5V15H16V5H14ZM13 16H5V18H13V16ZM4 15V5H2V15H4ZM5 16C4.44772 16 4 15.5523 4 15H2C2 16.6569 3.34315 18 5 18V16ZM14 15C14 15.5523 13.5523 16 13 16V18C14.6569 18 16 16.6569 16 15H14Z" fill="%23fa8072"/><path d="M1 5H17" stroke="%23fa8072" stroke-width="2" stroke-linecap="round"/><path d="M7 9V13" stroke="%23fa8072" stroke-width="2" stroke-linecap="round"/><path d="M11 9V13" stroke="%23fa8072" stroke-width="2" stroke-linecap="round"/><path d="M13 5V6H14V5H13ZM5 5H4V6H5V5ZM7 2H11V0H7V2ZM12 3V5H14V3H12ZM13 4H5V6H13V4ZM6 5V3H4V5H6ZM11 2C11.5523 2 12 2.44772 12 3H14C14 1.34315 12.6569 0 11 0V2ZM7 0C5.34315 0 4 1.34315 4 3H6C6 2.44772 6.44772 2 7 2V0Z" fill="%23fa8072"/></svg>');
    }
  }
}

//Горизонтальный переключатель
.global-horizontal-switch {
  @include flexbox($alignItems: center, $self: stretch);

  gap: var(---gap-small, 16px);
  user-select: none;

  // Toogle Switch Checkbox
  input[type="checkbox"] {
    position: relative;
    width: 32px;
    height: 16px;
    appearance: none;
    background: var(--colors-gray-300, #c0c0c0);

    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background 300ms linear;

    // circle
    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      top: 2px;
      left: 2px;
      border-radius: 16px;
      background-color: var(---white, #fff);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: left 300ms linear;
    }

    // move to right
    &:checked {
      background: var(--colors-green-500-primary, #2ea84f);
      &::before {
        left: 18px;
        background-color: var(---white, #fff);
      }
    }

    &.blue:checked {
      background: var(--colors-blue-500, #318ce7);
    }
  }

  .gen-tab__add-services-content {
    @include flexbox($alignItems: center);

    gap: 8px;
    flex: 1 0 0;

    .gen-tab__add-services-text {
      @include flexbox(
        $alignItems: center,
        $justify: space-between,
        $self: stretch
      );

      height: 32px;
      padding-left: 16px;
      gap: 64px;
      flex-shrink: 0;
      flex: 1 0 0;
      cursor: pointer;
      border-radius: 8px;
      border: 2px solid transparent;
      background: var(--colors-white, #fff);
    }
  }

  .gen-tab__add-services-price {
    @include flexbox($alignItems: baseline, $justify: flex-end);
    width: 80px;

    @media (max-width: 719px) {
      width: 60px;
      font-weight: 500;
    }
  }
}
//Квадратная кнопка добавить
.global-button-state {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 8px;

  &.add-product {
    background: var(--colors-green-500-primary, #2ea84f);
    &:hover {
      background: var(--colors-green-600, #25863f);
    }
    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 15 14" fill="none"><path d="M7.66699 1L7.66699 13" stroke="%23fff" stroke-width="2" stroke-linecap="round" /><path d="M1.66699 7H13.667" stroke="%23fff" stroke-width="2" stroke-linecap="round" /></svg>');
      width: 16px;
      height: 16px;
    }
  }

  &.success {
    background: var(--colors-green-200, #dbf6e2);

    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M6.5 13.4407L9.76442 16.7051L18.5 8" stroke="%2362B378" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      width: 24px;
      height: 24px;
    }
    &:hover {
      background: var(--colors-red-100, #ffe4e1);
    }
    &:hover::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M1 11L11 1" stroke="%23FA8072" stroke-width="2" stroke-linecap="round"/><path d="M1 1L11 11" stroke="%23FA8072" stroke-width="2" stroke-linecap="round"/></svg>');
      width: 12px;
      height: 12px;
    }
  }
}

//Прямоугольная кнопка Купить/Хочу купить
.global-button {
  @include flexbox();
  flex: 1 0 0;

  button {
    @include flexbox($justify: center, $alignItems: center);

    height: 48px;
    flex: 1 0 0;
    border: none;
    border-radius: 8px;
    background: linear-gradient(
        0deg,
        var(--colors-green-500-primary, #2ea84f) 0%,
        var(--colors-green-500-primary, #2ea84f) 100%
      ),
      var(--colors-white, #fff);

    color: var(--colors-white, #fff);

    font-weight: 500;
    cursor: pointer;
    gap: 8px;

    &:hover {
      background: var(--colors-green-600, #25863f);
    }

    &::before {
      // SVG COLOR var(--colors-white: #fff;);
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none"><path d="M1 1.5H2.38653C2.82196 1.5 3.20734 1.78175 3.33942 2.19667L6.07235 10.7818C6.20443 11.1967 6.5898 11.4784 7.02523 11.4784H16.5525C17.0253 11.4784 17.4334 11.1474 17.531 10.6848L18.7457 4.92374C18.8767 4.30211 18.4025 3.71743 17.7672 3.71743H8.09091" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="7.6" cy="15.225" r="1.35" fill="white"/><circle cx="15.475" cy="15.225" r="1.35" fill="white"/></svg>');
      // width: 18px;
      height: 15.075px;
      // margin: auto 0;
      // margin-right: 8px;
      // margin-bottom: 17px;
      margin: auto 0 17px 0;
    }

    &:hover::before {
      // SVG COLOR var(--colors-white: #fff;);
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none"><path d="M1 1.5H2.38653C2.82196 1.5 3.20734 1.78175 3.33942 2.19667L6.07235 10.7818C6.20443 11.1967 6.5898 11.4784 7.02523 11.4784H16.5525C17.0253 11.4784 17.4334 11.1474 17.531 10.6848L19 3.71743" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="7.6" cy="15.225" r="1.35" fill="white"/><circle cx="15.475" cy="15.225" r="1.35" fill="white"/><path d="M11.5 3L11.5 8" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M9 5.5L14 5.5" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
    }
  }
  .global-button-buy.active {
    background: var(--colors-green-200, #dbf6e2);
    color: var(--colors-green-400, #62b278);
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M6.5 13.4407L9.76442 16.7051L18.5 8" stroke="%2362B378" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      width: 24px;
      height: 24px;
      margin: 0;
    }
  }
}

//Прямоугольная кнопка Олата частями
.global-button-credit {
  @include flexbox();

  flex: 1 0 0;

  button {
    @include flexbox($justify: center, $alignItems: center);
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    cursor: pointer;

    border: none;
    border-radius: 8px;
    background: var(--colors-green-100, #e9f9e9);

    color: var(--colors-green-400, #62b278);
    text-align: center;

    &:hover {
      border: 2px solid var(--colors-green-500-primary, #2ea84f);
      background: var(--colors-white, #fff);
    }
  }
}
//Прямоугольная кнопка Изменить товар
.global-change-product-btn {
  @include flexbox();
  width: 100%;

  a {
    @include flexbox($justify: center, $alignItems: center);
    width: 100%;
    height: 48px;
    padding: 0px 24px;
    cursor: pointer;

    border: 2px solid var(--colors-green-100, #e9f9e9);
    border-radius: 8px;
    background: var(--colors-green-100, #e9f9e9);

    color: var(--colors-green-400, #62b278);
    text-align: center;

    &:hover {
      border: 2px solid var(--colors-green-500-primary, #2ea84f);
      background: var(--colors-white, #fff);
    }
  }
}

.button-a__more {
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 24px;
  background: var(--colors-blue-100, #e9f5ff);
  cursor: pointer;

  color: var(--colors-blue-400, #62a8ed);
  font-size: 10px;
  font-weight: 500;
  line-height: 10px; /* 100% */

  &:hover {
    background: var(--colors-blue-400, #62a8ed);

    color: var(--colors-white, #fff);
  }
}
//Прямоугольная ссылка показать все модели
.global-all-models-button-a {
  @include flexbox();
  flex: 1 0 0;

  a {
    @include flexbox($justify: center, $alignItems: center);

    height: 52px;
    flex: 1 0 0;
    border: solid 2px transparent;
    border-radius: 8px;
    background: var(--colors-blue-100, #e9f5ff);
    color: var(--colors-blue-500, #318ce7);

    font-weight: 500;
    cursor: pointer;

    &:hover {
      border: 2px solid var(--colors-blue-500, #318ce7);
      background: var(--colors-white, #fff);

      color: var(--colors-blue-400, #62a8ed);
    }
  }
}

//Прямоугольная кнопки
.global-button-notify,
.global-button-reviews,
.global-button-all-show-bu,
.global-button-fast-buy {
  @include flexbox();
  flex: 1 0 0;

  button {
    @include flexbox($justify: center, $alignItems: center);

    height: 48px;
    gap: 4px;
    flex: 1 0 0;
    border: solid 2px transparent;
    border-radius: 8px;
    background: var(--colors-blue-100, #e9f5ff);

    font-weight: 500;
    color: var(--colors-blue-500, #318ce7);
    cursor: pointer;
  }
}

.global-button-notify,
.global-button-all-show-bu,
.global-button-fast-buy {
  button {
    &:hover {
      border: 2px solid var(--colors-blue-500, #318ce7);
      background: var(--colors-white, #fff);

      color: var(--colors-blue-400, #62a8ed);
    }
  }
}

//Прямоугольная кнопка Отзывы и Вопросы
.global-button-questions,
.global-button-reviews {
  @include flexbox();
  flex: 1 0 0;

  button {
    @include flexbox($justify: center, $alignItems: center);

    height: 48px;
    gap: 4px;
    flex: 1 0 0;
    border: solid 2px transparent;
    border-radius: 8px;
    background: var(--colors-blue-100, #e9f5ff);

    font-weight: 500;
    color: var(--colors-blue-500, #318ce7);
    cursor: pointer;

    &:hover {
      background: var(--colors-blue-500, #318ce7);

      color: var(--colors-white, #fff);
    }
  }
}

//Прямоугольная кнопка бу предложений
.global-button-used {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  button {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background: var(--colors-blue-500, #318ce7);
    border: none;
    position: relative;

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><path d="M9 1H23.5C27.0899 1 30 3.91015 30 7.5V22" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M1.75 8.75C1.75 6.54086 3.54086 4.75 5.75 4.75H22.25C24.4591 4.75 26.25 6.54086 26.25 8.75V25.25C26.25 27.4591 24.4591 29.25 22.25 29.25H5.75C3.54086 29.25 1.75 27.4591 1.75 25.25V8.75Z" fill="%23318CE7"/><path d="M5.75 5.75H22.25V3.75H5.75V5.75ZM25.25 8.75V25.25H27.25V8.75H25.25ZM22.25 28.25H5.75V30.25H22.25V28.25ZM2.75 25.25V8.75H0.75V25.25H2.75ZM5.75 28.25C4.09315 28.25 2.75 26.9069 2.75 25.25H0.75C0.75 28.0114 2.98858 30.25 5.75 30.25V28.25ZM25.25 25.25C25.25 26.9069 23.9069 28.25 22.25 28.25V30.25C25.0114 30.25 27.25 28.0114 27.25 25.25H25.25ZM22.25 5.75C23.9069 5.75 25.25 7.09315 25.25 8.75H27.25C27.25 5.98858 25.0114 3.75 22.25 3.75V5.75ZM5.75 3.75C2.98858 3.75 0.75 5.98858 0.75 8.75H2.75C2.75 7.09315 4.09315 5.75 5.75 5.75V3.75Z" fill="white"/></svg>');
      width: 28.25px;
      height: 28.25px;
    }

    span {
      position: absolute;
      top: 16px;
      left: 14px;
      color: var(--colors-white, #fff);
      text-align: center;
      font-size: 14px;
      font-weight: 700;
    }
  }

  &.general {
    button {
      background: unset;
      width: 32px;
      height: 32px;
      padding: 0;

      &::before {
        content: url('data:image/svg+xml;utf8,<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="35" height="35" fill="%23909090"/><rect width="393" height="9668.5" transform="translate(-56 -1347)" fill="%23F7F7F7"/><rect x="-44" y="-24.5" width="369" height="220" rx="24" fill="white"/><path id="Rectangle 122" d="M9.28516 1.21423H25.8566C29.9593 1.21423 33.2852 4.54012 33.2852 8.6428V25.2142" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><rect id="Rectangle 121" x="1" y="5.5" width="28" height="28" rx="4.57143" stroke="%2362A8ED" stroke-width="2"/></svg>');
        width: 32.285px;
        height: 32.286px;
      }

      span {
        color: var(--colors-blue-400, #62a8ed);
        font-size: 16px;
        top: 11px;
        left: 6px;
      }
    }
  }
}
//Прямоугольная кнопка Оповестить
.global-button-notify {
  button {
    gap: 8px;

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M14.4081 18.0938C13.7831 19.0312 13.0019 19.5 12.0644 19.5C11.1269 19.5 10.3456 19.0312 9.72064 18.0938M16.8311 16.6875H7.29765C6.44296 16.6875 5.7501 15.9946 5.7501 15.14C5.7501 14.8595 5.82633 14.5843 5.97064 14.3438C6.89081 12.8101 7.37689 11.0552 7.37689 9.26674V8.25C7.37689 6.17893 9.05582 4.5 11.1269 4.5H13.0019C15.073 4.5 16.7519 6.17893 16.7519 8.25V9.26674C16.7519 11.0552 17.238 12.8101 18.1581 14.3438C18.5979 15.0766 18.3602 16.0272 17.6273 16.467C17.3868 16.6113 17.1116 16.6875 16.8311 16.6875Z" stroke="%23318CE7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      width: 24px;
      height: 24px;
    }

    &:hover::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M14.4081 18.0938C13.7831 19.0312 13.0019 19.5 12.0644 19.5C11.1269 19.5 10.3456 19.0312 9.72064 18.0938M16.8311 16.6875H7.29765C6.44296 16.6875 5.7501 15.9946 5.7501 15.14C5.7501 14.8595 5.82633 14.5843 5.97064 14.3438C6.89081 12.8101 7.37689 11.0552 7.37689 9.26674V8.25C7.37689 6.17893 9.05582 4.5 11.1269 4.5H13.0019C15.073 4.5 16.7519 6.17893 16.7519 8.25V9.26674C16.7519 11.0552 17.238 12.8101 18.1581 14.3438C18.5979 15.0766 18.3602 16.0272 17.6273 16.467C17.3868 16.6113 17.1116 16.6875 16.8311 16.6875Z" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
  }
}

//Прямоугольная кнопка Быстрая покупка
.global-button-fast-buy {
  button {
    gap: 8px;

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18" fill="none"><path d="M13.625 4.5V8.79289C13.625 8.9255 13.6777 9.05268 13.7714 9.14645L16.625 12" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7.31291 5C7.66795 5 7.99619 4.8227 8.2221 4.54881C9.50599 2.99224 11.4495 2 13.6248 2C17.4908 2 20.6248 5.13401 20.6248 9C20.6248 12.866 17.4908 16 13.6248 16C12.4276 16 11.3005 15.6994 10.315 15.1696C10.1175 15.0634 9.89876 15 9.67453 15C8.60876 15 8.12181 16.2014 9.03834 16.7453C10.3815 17.5424 11.9497 18 13.6248 18C18.5954 18 22.6248 13.9706 22.6248 9C22.6248 4.02944 18.5954 0 13.6248 0C10.7182 0 8.13335 1.37791 6.48792 3.51617C5.99625 4.15511 6.50669 5 7.31291 5Z" fill="%2362A8ED"/><path d="M8.625 7L3.625 7" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path d="M7.625 10L1.625 10" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path d="M8.625 13L4.625 13" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/></svg>');
      width: 21px;
      height: 18px;
      margin-bottom: 2px;
    }

    &:hover::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18" fill="none"><path d="M13.75 4.5V8.79289C13.75 8.9255 13.8027 9.05268 13.8964 9.14645L16.75 12" stroke="%23318CE7" stroke-width="2" stroke-linecap="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7.43791 5C7.79295 5 8.12119 4.8227 8.3471 4.54881C9.63099 2.99224 11.5745 2 13.7498 2C17.6158 2 20.7498 5.13401 20.7498 9C20.7498 12.866 17.6158 16 13.7498 16C12.5526 16 11.4255 15.6994 10.44 15.1696C10.2425 15.0634 10.0238 15 9.79953 15C8.73376 15 8.24681 16.2014 9.16334 16.7453C10.5065 17.5424 12.0747 18 13.7498 18C18.7204 18 22.7498 13.9706 22.7498 9C22.7498 4.02944 18.7204 0 13.7498 0C10.8432 0 8.25835 1.37791 6.61292 3.51617C6.12125 4.15511 6.63169 5 7.43791 5Z" fill="%23318CE7"/><path d="M8.75 7L3.75 7" stroke="%23318CE7" stroke-width="2" stroke-linecap="round"/><path d="M7.75 10L1.75 10" stroke="%23318CE7" stroke-width="2" stroke-linecap="round"/><path d="M8.75 13L4.75 13" stroke="%23318CE7" stroke-width="2" stroke-linecap="round"/></svg>');
    }
  }
}

.global-button-send,
.global-button-send-fast-buy {
  width: 100%;

  button {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 8px;
    width: 100%;
    cursor: pointer;

    border-radius: 4px;

    color: var(--colors-white, #fff);
    font-size: 14px;

    border: none;
  }
}

.global-button-send-fast-buy {
  button {
    background: var(--colors-green-500-primary, #2ea84f);

    &:hover {
      background: var(--colors-green-600, #25863f);
    }
  }

  &.disable {
    button {
      background: var(--colors-gray-100, #f7f7f7);

      color: var(--colors-gray-300, #c0c0c0);
      cursor: inherit;

      &:hover {
        background: var(--colors-gray-100, #f7f7f7);
      }
    }
  }
}

//Кнопка показать все содержимое
.global-all-view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  font-size: 12px;
  font-weight: 500;

  button {
    color: var(--colors-gray-400, #929292);
    text-align: justify;
    display: flex;
    height: 32px;
    padding: 1px 16px 0px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 24px;
    background: var(--colors-gray-100, #f7f7f7);
    border: none;

    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M5 6.5L8 9.5L11 6.5" stroke="%23929292" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      width: 16px;
      height: 16px;
    }
  }
}

.global-button-send {
  button {
    background: linear-gradient(
        0deg,
        var(--colors-blue-500, #318ce7) 0%,
        var(--colors-blue-500, #318ce7) 100%
      ),
      var(--colors-white, #fff);

    &:hover {
      background: var(--colors-blue-600, #2672be);
    }
  }

  &.gen-tab__to-all-product-button {
    button {
      border-radius: 8px;
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 100px;
        opacity: 0;
        width: 135px;
        height: 135px;
        z-index: 2;
        -webkit-animation: pulseblob 1.5s 1s infinite linear;
        -moz-animation: pulseblob 1.5s 1s infinite linear;
        -ms-animation: pulseblob 1.5s 1s infinite linear;
        -o-animation: pulseblob 1.5s 1s infinite linear;
        animation: pulseblob 1.5s 1s infinite linear;
        box-sizing: border-box;
      }
    }
  }
}

//Вернуться к верху
.back-to-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  right: -52px;
  display: inline-flex;

  padding: 13px 12px 11px 12px;
  align-items: flex-start;

  cursor: pointer;
  z-index: 20;

  border-radius: 32px;
  background: var(--colors-green-500-primary, #2ea84f);
  transition: right 0.5s ease;

  @media (max-width: 719px) {
    bottom: 136px;
  }

  &.visible {
    right: 32px;
  }
  &.mobile {
    right: -52px;
  }

  &:hover {
    background: var(--colors-green-600, #25863f);
  }

  &::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M14 10L8 4L2 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 16px;
    height: 16px;
  }
}

//Рейтинг
.raiting {
  margin-left: auto;
  margin-right: auto;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }

  &__check {
    display: none;

    &:checked {
      ~ .raiting__star {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M23.1005 18.1815C22.7885 18.4815 22.6446 18.9242 22.7178 19.3453L23.7844 25.2483C23.8696 25.7522 23.6656 26.2549 23.2445 26.5441C22.8365 26.844 22.2966 26.88 21.8407 26.6401L16.5268 23.8686C16.3337 23.7726 16.1297 23.7114 15.9269 23.7114H15.6018C15.4818 23.7234 15.375 23.7726 15.2778 23.8194L9.96276 26.6041C9.69881 26.7361 9.39886 26.7841 9.11091 26.7361C8.39104 26.5921 7.92432 25.919 8.0431 25.2111L9.11091 19.3081C9.1829 18.8774 9.03892 18.4455 8.72818 18.1335L4.39573 13.9343C4.03579 13.5743 3.90381 13.0572 4.07299 12.5785C4.22896 12.1094 4.63569 11.7615 5.1396 11.6787L11.1026 10.8136C11.5585 10.7656 11.9544 10.4909 12.1584 10.0829L14.7859 4.69588C14.8459 4.5759 14.9299 4.46672 15.0271 4.37194L15.1339 4.28795C15.1819 4.22676 15.2538 4.17997 15.327 4.13198L15.4578 4.08399L15.6618 4H16.1669C16.6228 4.04799 17.0187 4.32274 17.2227 4.71868L19.885 10.0829C20.077 10.4789 20.4489 10.7428 20.8809 10.8136L26.8438 11.6787C27.3478 11.7507 27.7689 12.0986 27.9356 12.5785C28.0916 13.0572 27.9596 13.5863 27.5877 13.9343L23.1005 18.1815Z" fill="%23FFDA55"/></svg>');
        width: 32px;
        height: 32px;
      }
    }
  }

  &__star {
    position: relative;
    display: block;
    float: right;
    height: 32px;
    width: 32px;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M23.1005 18.1815C22.7885 18.4815 22.6446 18.9242 22.7178 19.3453L23.7844 25.2483C23.8696 25.7522 23.6656 26.2549 23.2445 26.5441C22.8365 26.844 22.2966 26.88 21.8407 26.6401L16.5268 23.8686C16.3337 23.7726 16.1297 23.7114 15.9269 23.7114H15.6018C15.4818 23.7234 15.375 23.7726 15.2778 23.8194L9.96276 26.6041C9.69881 26.7361 9.39886 26.7841 9.11091 26.7361C8.39104 26.5921 7.92432 25.919 8.0431 25.2111L9.11091 19.3081C9.1829 18.8774 9.03892 18.4455 8.72818 18.1335L4.39573 13.9343C4.03579 13.5743 3.90381 13.0572 4.07299 12.5785C4.22896 12.1094 4.63569 11.7615 5.1396 11.6787L11.1026 10.8136C11.5585 10.7656 11.9544 10.4909 12.1584 10.0829L14.7859 4.69588C14.8459 4.5759 14.9299 4.46672 15.0271 4.37194L15.1339 4.28795C15.1819 4.22676 15.2538 4.17997 15.327 4.13198L15.4578 4.08399L15.6618 4H16.1669C16.6228 4.04799 17.0187 4.32274 17.2227 4.71868L19.885 10.0829C20.077 10.4789 20.4489 10.7428 20.8809 10.8136L26.8438 11.6787C27.3478 11.7507 27.7689 12.0986 27.9356 12.5785C28.0916 13.0572 27.9596 13.5863 27.5877 13.9343L23.1005 18.1815Z" fill="%23F5F5F5"/></svg>');

    font-size: 0;
    line-height: 0;
    color: #e1e1e1;

    cursor: pointer;

    &:hover {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M23.1005 18.1815C22.7885 18.4815 22.6446 18.9242 22.7178 19.3453L23.7844 25.2483C23.8696 25.7522 23.6656 26.2549 23.2445 26.5441C22.8365 26.844 22.2966 26.88 21.8407 26.6401L16.5268 23.8686C16.3337 23.7726 16.1297 23.7114 15.9269 23.7114H15.6018C15.4818 23.7234 15.375 23.7726 15.2778 23.8194L9.96276 26.6041C9.69881 26.7361 9.39886 26.7841 9.11091 26.7361C8.39104 26.5921 7.92432 25.919 8.0431 25.2111L9.11091 19.3081C9.1829 18.8774 9.03892 18.4455 8.72818 18.1335L4.39573 13.9343C4.03579 13.5743 3.90381 13.0572 4.07299 12.5785C4.22896 12.1094 4.63569 11.7615 5.1396 11.6787L11.1026 10.8136C11.5585 10.7656 11.9544 10.4909 12.1584 10.0829L14.7859 4.69588C14.8459 4.5759 14.9299 4.46672 15.0271 4.37194L15.1339 4.28795C15.1819 4.22676 15.2538 4.17997 15.327 4.13198L15.4578 4.08399L15.6618 4H16.1669C16.6228 4.04799 17.0187 4.32274 17.2227 4.71868L19.885 10.0829C20.077 10.4789 20.4489 10.7428 20.8809 10.8136L26.8438 11.6787C27.3478 11.7507 27.7689 12.0986 27.9356 12.5785C28.0916 13.0572 27.9596 13.5863 27.5877 13.9343L23.1005 18.1815Z" fill="%23FFDA55"/></svg>');
      height: 32px;
      width: 32px;

      & ~ .raiting__star {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M23.1005 18.1815C22.7885 18.4815 22.6446 18.9242 22.7178 19.3453L23.7844 25.2483C23.8696 25.7522 23.6656 26.2549 23.2445 26.5441C22.8365 26.844 22.2966 26.88 21.8407 26.6401L16.5268 23.8686C16.3337 23.7726 16.1297 23.7114 15.9269 23.7114H15.6018C15.4818 23.7234 15.375 23.7726 15.2778 23.8194L9.96276 26.6041C9.69881 26.7361 9.39886 26.7841 9.11091 26.7361C8.39104 26.5921 7.92432 25.919 8.0431 25.2111L9.11091 19.3081C9.1829 18.8774 9.03892 18.4455 8.72818 18.1335L4.39573 13.9343C4.03579 13.5743 3.90381 13.0572 4.07299 12.5785C4.22896 12.1094 4.63569 11.7615 5.1396 11.6787L11.1026 10.8136C11.5585 10.7656 11.9544 10.4909 12.1584 10.0829L14.7859 4.69588C14.8459 4.5759 14.9299 4.46672 15.0271 4.37194L15.1339 4.28795C15.1819 4.22676 15.2538 4.17997 15.327 4.13198L15.4578 4.08399L15.6618 4H16.1669C16.6228 4.04799 17.0187 4.32274 17.2227 4.71868L19.885 10.0829C20.077 10.4789 20.4489 10.7428 20.8809 10.8136L26.8438 11.6787C27.3478 11.7507 27.7689 12.0986 27.9356 12.5785C28.0916 13.0572 27.9596 13.5863 27.5877 13.9343L23.1005 18.1815Z" fill="%23FFDA55"/></svg>');
        height: 32px;
        width: 32px;
      }
    }
  }
}

.reviews-block-rating-value {
  display: block;

  &.mobile {
    display: none;
  }
}

//Закрытие попап
.global-pop-up-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;

  &::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.6564 15.0711C14.0469 15.4616 14.6801 15.4616 15.0706 15.0711C15.4611 14.6805 15.4611 14.0474 15.0706 13.6569L9.41377 8L15.0706 2.34315C15.4611 1.95262 15.4611 1.31946 15.0706 0.928932C14.6801 0.538408 14.0469 0.538408 13.6564 0.928932L7.99956 6.58579L2.3427 0.928932C1.95218 0.538408 1.31901 0.538408 0.92849 0.928932C0.537966 1.31946 0.537966 1.95262 0.92849 2.34315L6.58534 8L0.92849 13.6569C0.537965 14.0474 0.537966 14.6805 0.92849 15.0711C1.31901 15.4616 1.95218 15.4616 2.3427 15.0711L7.99956 9.41421L13.6564 15.0711Z" fill="%23E9E9E9"/></svg>');
    width: 16px;
    height: 16px;

    display: flex;
    align-items: center;
  }
  &:hover::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.6564 15.0711C14.0469 15.4616 14.6801 15.4616 15.0706 15.0711C15.4611 14.6805 15.4611 14.0474 15.0706 13.6569L9.41377 8L15.0706 2.34315C15.4611 1.95262 15.4611 1.31946 15.0706 0.928932C14.6801 0.538408 14.0469 0.538408 13.6564 0.928932L7.99956 6.58579L2.3427 0.928932C1.95218 0.538408 1.31901 0.538408 0.92849 0.928932C0.537966 1.31946 0.537966 1.95262 0.92849 2.34315L6.58534 8L0.92849 13.6569C0.537965 14.0474 0.537966 14.6805 0.92849 15.0711C1.31901 15.4616 1.95218 15.4616 2.3427 15.0711L7.99956 9.41421L13.6564 15.0711Z" fill="%23C0C0C0"/></svg>');
  }
  &:active {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.6564 15.0711C14.0469 15.4616 14.6801 15.4616 15.0706 15.0711C15.4611 14.6805 15.4611 14.0474 15.0706 13.6569L9.41377 8L15.0706 2.34315C15.4611 1.95262 15.4611 1.31946 15.0706 0.928932C14.6801 0.538408 14.0469 0.538408 13.6564 0.928932L7.99956 6.58579L2.3427 0.928932C1.95218 0.538408 1.31901 0.538408 0.92849 0.928932C0.537966 1.31946 0.537966 1.95262 0.92849 2.34315L6.58534 8L0.92849 13.6569C0.537965 14.0474 0.537966 14.6805 0.92849 15.0711C1.31901 15.4616 1.95218 15.4616 2.3427 15.0711L7.99956 9.41421L13.6564 15.0711Z" fill="%23F37D7D"/></svg>');
  }
}

.global-span-checked {
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 2px;

  border-radius: 32px;
  background: var(--colors-gray-100, #f7f7f7);

  color: var(--colors-gray-700, #2f2c2f);
  text-align: center;

  font-size: 14px;
  font-weight: 400;

  &.check {
    padding: 4px 16px 4px 8px;

    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path d="M7 13.4407L10.2644 16.7051L19 8" stroke="%2362B378" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      width: 24px;
      height: 24px;
    }
  }
}

.global-controls__btn {
  @include flexbox($justify: center, $alignItems: center);
  border: none;
  border-radius: 8px;
  background: var(--colors-white, #fff);
  width: 32px;
  height: 32px;
  cursor: pointer;

  &:hover {
    path {
      stroke: var(--colors-gray-700, #2f2c2f);
    }
  }

  &.global__info-wishlist-btn.active {
    path {
      stroke: var(--colors-green-500-primary, #2ea84f);
      fill: var(--colors-green-500-primary, #2ea84f);
    }
  }

  &.global__info-compare-btn.active {
    path {
      stroke: var(--colors-green-500-primary, #2ea84f);
    }

    .global__info-compare-btn_fill {
      fill: var(--colors-green-500-primary, #2ea84f);
    }
  }
}

.pixo-indx {
  display: flex;
  width: 21px;
  height: 15px;
  padding: 4.5px 7.5px;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
  user-select: none;
  border-radius: 3px;

  color: var(--colors-white, #fff);
  font-size: 13.5px;
  font-weight: 700;
  text-transform: uppercase;
}

.pixo-indx,
.status-indicator {
  &.score-0 {
    background: var(--score, #f7f7f7);
  }
  &.score-1 {
    background: var(--score-1, #fa8072);
  }
  &.score-2 {
    background: var(--score-2, #ffce4f);
  }
  &.score-3 {
    background: var(--score-3, #cde24d);
  }
  &.score-4 {
    background: var(--score-4, #94db5c);
  }
  &.score-5 {
    background: var(--score-5, #62b278);
  }
}

@keyframes pulseblob {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  33% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}
