@import "../_0-global/mixin";

html {
  scrollbar-width: thin;
  scrollbar-color: var(--colors-green-500-primary, #2ea84f)
    var(--colors-white, #fff);
}
// html::-webkit-scrollbar {
//   width: 5px; /* Ширина всего элемента навигации */
// }

// html::-webkit-scrollbar-track {
//   background: var(--colors-white, #fff); /* Цвет дорожки */
// }

// html::-webkit-scrollbar-thumb {
//   background: var(--colors-green-500-primary, #2ea84f);
//   /* Цвет бегунка */
//   // border-radius: 20px; /* Округление бегунка */
//   // border: 3px solid var(--colors-white, #fff); /* Оформление границ бегунка */
// }
body {
  background: var(--bg-color, #f5f5f5);
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a,
a:active,
a:visited {
  color: var(--colors-gray-500, #696969);
  text-decoration: none;
}

.content-container {
  width: min(95%, var(---width, 1366px));
}
