.global-p-short-product {
  @include flexbox($alignItems: center, $self: stretch);
  gap: 4px;

  color: var(--colors-gray-700, #2f2c2f);

  div {
    display: flex;
    gap: 4px;
  }

  .global-p-short-product-old-price-container {
    @include flexbox($alignItems: center, $justify: center);

    color: var(--colors-gray-300, #c0c0c0);
    text-align: center;

    span {
      margin-right: 2px;
    }
  }

  .global-p-short-product-discount-container {
    border-radius: 28px;
    background: var(--colors-red-300, #fa8072);

    color: var(--colors-white, #fff);
    text-align: center;
  }

  .global-p-short-product-new-price-container {
    @include flexbox($alignItems: center, $justify: center);
  }
}
