.gen-tab__add-product {
  @include flexbox($alignItems: flex-start, $direction: column, $self: stretch);
  position: relative;

  padding: 24px 32px;
  gap: 12px;

  background: var(---white, #fff);

  color: var(---dark-gray, #333);
  text-align: start;
  font-size: 18px;
  font-weight: 400;

  user-select: none;

  .carousel-container {
    overflow: hidden;
  }
  .gen-tab__add-product-accessories-container {
    @include flexbox($alignItems: flex-start, $self: stretch);

    // (1366/2)-10% = 615px
    width: calc(var(---width, 1366px) / 2 - (var(---width, 1366px) / 2 * 0.09));

    transition: transform 0.3s ease;

    @media (max-width: 1152px) {
      width: 900px;
    }

    & .slick-slide {
      margin-right: var(---gap-small, 16px);
    }

    .gen-tab__add-product-accessories--item {
      @include flexbox($alignItems: flex-start, $justify: center);

      width: 181.167px;
      padding: 8px;
      gap: 8px;

      border-radius: 16px;
      border: 2px solid var(--colors-gray-100, #f7f7f7);
      background: var(--colors-white, #fff);

      &:hover {
        border: 2px solid var(--colors-gray-200, #e5e4e2);
      }

      img {
        max-width: 64px;
        height: 64px;
        object-fit: contain;
      }

      .gen-tab__add-product-accessories--info-conteiner {
        @include flexbox(
          $alignItems: center,
          $direction: column,
          $self: stretch
        );

        flex: 1 0 0;
        gap: 8px;

        .gen-tab__add-product-accessories--name {
          $font-size: 10px;

          display: -webkit-box;
          -webkit-line-clamp: 2; /* количество строк */
          -webkit-box-orient: vertical;
          width: 90px;
          height: calc(($font-size + 2px) * 2);
          align-self: stretch;
          overflow: hidden;
          color: var(--colors-gray-700, #2f2c2f);
          text-overflow: ellipsis;
          font-size: $font-size;
          font-weight: 400;
        }

        .gen-tab__add-product-accessories--info {
          @include flexbox(
            $alignItems: center,
            $justify: space-between,
            $self: stretch
          );

          color: var(--colors-gray-700, #2f2c2f);

          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }

  .block-slick-arrow,
  .fade {
    @include flexbox($alignItems: center, $justify: center);
    position: absolute;

    top: 58%;
    transform: translateY(-50%);
  }

  .fade {
    z-index: 2;
    width: 40px;
    height: 90px;
  }

  .block-slick-arrow {
    z-index: 3;

    width: 32px;
    height: 32px;
    padding: 6px 10px 6px 8px;
    border-radius: 28px;
    border: 2px solid var(--colors-white, #fff);
    background: var(--colors-white, #fff);
    cursor: pointer;

    &:hover {
      background: var(--colors-gray-100, #f7f7f7);
    }
    &::after {
      @include flexbox();
    }
  }

  .fade-left {
    left: 16px;

    background: linear-gradient(
      90deg,
      #fff 39.61%,
      rgba(255, 255, 255, 0) 99.61%
    );
  }

  .block-slick-prev {
    left: 16px;

    &::after {
      margin-right: 3px;
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none"><path d="M7 1L1 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/><path d="M7 13L1 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/></svg>');
    }

    &:hover::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none"><path d="M7 1L1 7" stroke="%23333333" stroke-width="2" stroke-linecap="round"/><path d="M7 13L1 7" stroke="%23333333" stroke-width="2" stroke-linecap="round"/></svg>');
    }
  }

  .fade-right {
    right: 16px;

    background: linear-gradient(
      270deg,
      #fff 39.61%,
      rgba(255, 255, 255, 0) 99.61%
    );
  }

  .block-slick-next {
    right: 16px;

    &::after {
      margin-left: 3px;
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none"><path d="M1 13L7 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/><path d="M1 1L7 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/></svg>');
    }

    &:hover::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none"><path d="M1 13L7 7" stroke="%23333333" stroke-width="2" stroke-linecap="round"/><path d="M1 1L7 7" stroke="%23333333" stroke-width="2" stroke-linecap="round"/></svg>');
    }
  }
}
