@import "../_0-global/mixin";

html {
  // scrollbar-width: thin;
  // scrollbar-color: var(--colors-green-500-primary, #2ea84f)
  //   var(--colors-white, #fff);

  &.no-scroll {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    width: 8px; /* Ширина всего элемента навигации */
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-color, #f5f5f5); /* Цвет дорожки */
  }

  &::-webkit-scrollbar-thumb {
    background: var(--colors-green-500-primary, #2ea84f);
    /* Цвет бегунка */
    // border-radius: 20px; /* Округление бегунка */
    // border: 3px solid var(--colors-white, #fff); /* Оформление границ бегунка */
  }
}

body,
input,
textarea,
button {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body {
  background: var(--bg-color, #f5f5f5);
}

img,
button {
  user-select: none;
}

a,
a:active,
a:visited {
  color: var(--colors-gray-500, #696969);
  text-decoration: none;
}

.content-container {
  width: min(95%, var(---width, 1366px));
}

header,
main,
footer {
  @media (max-width: 1152px) {
    width: 1152px;
  }
}
.screen {
  display: none;

  &.overflow {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 10000vh;
    z-index: 20;
  }
}

@import "../_0-global/global-btn";
@import "../_0-global/global-list";
@import "../_0-global/global-block";
@import "../_0-global/global-p-short";
@import "../_0-global/global-pop-up";
@import "../_0-global/global-service-block";
@import "../_0-global/global-label";
@import "../_0-global/global-acces";
@import "../_0-global/global-checkbox";
