@import "../_0-global/mixin";

html {
  scrollbar-width: thin;
  scrollbar-color: var(--colors-green-500-primary, #2ea84f)
    var(--colors-white, #fff);
}
// html::-webkit-scrollbar {
//   width: 5px; /* Ширина всего элемента навигации */
// }

// html::-webkit-scrollbar-track {
//   background: var(--colors-white, #fff); /* Цвет дорожки */
// }

// html::-webkit-scrollbar-thumb {
//   background: var(--colors-green-500-primary, #2ea84f);
//   /* Цвет бегунка */
//   // border-radius: 20px; /* Округление бегунка */
//   // border: 3px solid var(--colors-white, #fff); /* Оформление границ бегунка */
// }
body {
  background: var(--bg-color, #f5f5f5);
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a,
a:active,
a:visited {
  color: var(--colors-gray-500, #696969);
  text-decoration: none;
}

.content-container {
  width: min(95%, var(---width, 1366px));
}

.global-button-state {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: var(---radius-min, 8px);

  &.add-product {
    background: var(--colors-green-500-primary, #2ea84f);
    &:hover {
      background: var(--colors-green-600, #25863f);
    }
    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 15 14" fill="none"><path d="M7.66699 1L7.66699 13" stroke="%23fff" stroke-width="2" stroke-linecap="round" /><path d="M1.66699 7H13.667" stroke="%23fff" stroke-width="2" stroke-linecap="round" /></svg>');
      width: 16px;
      height: 16px;
    }
  }
  &.success {
    background: var(--colors-green-200, #dbf6e2);

    &::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M6.5 13.4407L9.76442 16.7051L18.5 8" stroke="%2362B378" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      width: 24px;
      height: 24px;
    }
    &:hover {
      background: var(--colors-red-100, #ffe4e1);
    }
    &:hover::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M1 11L11 1" stroke="%23FA8072" stroke-width="2" stroke-linecap="round"/><path d="M1 1L11 11" stroke="%23FA8072" stroke-width="2" stroke-linecap="round"/></svg>');
      width: 12px;
      height: 12px;
    }
  }
}
.language_switch {
  @include flexbox($alignItems: center, $justify: center);

  gap: 4px;

  .language_switch-container {
    @include flexbox($alignItems: center, $justify: center, $direction: column);
    cursor: default;

    gap: 2px;

    .language_switch-span {
      @include flexbox($alignItems: center, $justify: center);

      padding: 1px 3px 0px 3px;

      border-radius: 4px;

      font-size: 10px;
    }
  }
  // Toogle Switch Checkbox
  input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 32px;
    appearance: none;

    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background 300ms linear;

    // circle
    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      top: 2px;
      left: 2px;
      border-radius: 16px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: top 300ms linear;
    }

    // move to right
    &:checked {
      &::before {
        top: 18px;
      }
    }
  }
}
.global-button {
  @include flexbox();
  flex: 1 0 0;

  button {
    @include flexbox($justify: center, $alignItems: center);

    height: 48px;
    flex: 1 0 0;
    border: none;
    border-radius: 8px;
    background: linear-gradient(
        0deg,
        var(--colors-green-500-primary, #2ea84f) 0%,
        var(--colors-green-500-primary, #2ea84f) 100%
      ),
      var(--colors-white, #fff);

    color: var(--colors-white, #fff);

    font-weight: 500;
    cursor: pointer;

    &:hover {
      background: var(--colors-green-600, #25863f);
    }
    &::before {
      // SVG COLOR var(--colors-white: #fff;);
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none"><path d="M1 1.5H2.38653C2.82196 1.5 3.20734 1.78175 3.33942 2.19667L6.07235 10.7818C6.20443 11.1967 6.5898 11.4784 7.02523 11.4784H16.5525C17.0253 11.4784 17.4334 11.1474 17.531 10.6848L18.7457 4.92374C18.8767 4.30211 18.4025 3.71743 17.7672 3.71743H8.09091" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="7.6" cy="15.225" r="1.35" fill="white"/><circle cx="15.475" cy="15.225" r="1.35" fill="white"/></svg>');
      width: 18px;
      height: 15.075px;
      // margin: auto 0;
      // margin-right: 8px;
      // margin-bottom: 17px;
      margin: auto 8px 17px 0;
    }
    &:hover::before {
      // SVG COLOR var(--colors-white: #fff;);
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none"><path d="M1 1.5H2.38653C2.82196 1.5 3.20734 1.78175 3.33942 2.19667L6.07235 10.7818C6.20443 11.1967 6.5898 11.4784 7.02523 11.4784H16.5525C17.0253 11.4784 17.4334 11.1474 17.531 10.6848L19 3.71743" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="7.6" cy="15.225" r="1.35" fill="white"/><circle cx="15.475" cy="15.225" r="1.35" fill="white"/><path d="M11.5 3L11.5 8" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M9 5.5L14 5.5" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
    }
  }
}
