.gen-tab__info-price-cashback {
  @include flexbox(
    $alignItems: center,
    $direction: column,
    $justify: space-between
  );

  height: 24px;
  position: relative;

  color: var(--colors-gray-700, #2f2c2f);

  font-size: 14px;
  font-weight: 400;
  user-select: none;

  &::after {
    background-color: #333;
    border-radius: 10px;
    display: none;
    width: 211px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--colors-white, #fff);
    font-size: 10px;
    font-weight: 500;
    line-height: 150%; /* 15px */
    z-index: 15;
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 5px));
    user-select: none;
  }

  &::before {
    background-color: #333;
    content: " ";
    display: none;
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 15;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100%)) rotate(45deg);
  }

  &:hover::after {
    display: flex;
  }

  &:hover::before {
    display: block;
  }

  .gen-tab__info-price-cashback-span {
    @include flexbox($alignItems: center);

    gap: 2px;
  }

  .gen-tab__info-price-cashback-current {
    color: var(--colors-green-400, #62b278);
    margin-left: 2px;

    font-weight: 500;
  }
}
