@import "../_1-header/header-variable";
@import "../_2-main/main-variable";

:root {
  //PARAMETRS
  //global
  ---width-desc: 1920px;
  ---width: 1366px;
  ---gap-basic: 24px;

  //COLORS
  //global
  --bg-color: #f5f5f5;

  ---white: #fff;

  --colors-red-300: #{$--colors-red-300};
  --colors-red-500: #{$--colors-red-500};
  --colors-gray-500: #696969;
  --colors-green-500-primary: #2ea84f;
}
