@import "../_1-header/header-variable";
@import "../_2-main/main-variable";

:root {
  //parametrs
  ---width: #{$---width};

  //COLORS
  //global
  --bg-color: #f5f5f5;

  ---white: #{$---white};
  --colors-red-300: #{$--colors-red-300};
  --colors-red-500: #{$--colors-red-500};
  --colors-gray-500: #{$--colors-gray-500};
  --colors-green-500-primary: #{$--colors-green-500-primary};
}
