/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
  background-color: #fff;
  cursor: move;
}

/* cloud zoom wrapper styles */
.cloud-zoom-wrap {
  top: 0;
  z-index: 9999;
  position: relative;
}

/* This is the zoom window. */
.cloud-zoom-big {
  width: 100%;
  overflow: hidden;
  margin-top: 0px;
  border-radius: 8px;
}

.mousetrap {
  width: 100% !important;
  height: 100% !important;
}
/* This is the loading message. */
.cloud-zoom-loading {
  background: linear-gradient(
      0deg,
      var(--colors-green-500-primary, #2ea84f) 0%,
      var(--colors-green-500-primary, #2ea84f) 100%
    ),
    var(--colors-white, #fff);

  color: var(--colors-white, #fff);
  padding: 3px;
}
