.gen-tab__work-checked {
  display: flex;
  padding: 24px 32px 32px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;

  background: var(--colors-white, #fff);
  user-select: none;

  .work-checked-container__header {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;

    color: var(---dark-gray, #333);

    font-size: 16px;
    font-weight: 400;
  }

  .work-checked-container__content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
