.gen-tab__constructor {
  @include flexbox($direction: column, $alignItems: flex-start, $self: stretch);

  padding: 24px 32px;
  gap: var(---gap-basic, 24px);

  background: var(---white, #fff);
  user-select: none;

  @media (max-width: 719px) {
    padding: 24px;
  }

  .constructor-container {
    @include flexbox(
      $direction: column,
      $alignItems: flex-start,
      $self: stretch,
      $justify: center
    );
    gap: 12px;

    .constructor-container__header {
      align-self: stretch;

      color: var(---dark-gray, #333);

      font-weight: 400;

      @media (max-width: 719px) {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .constructor-container__list {
      @include flexbox($alignItems: flex-start, $self: stretch);
      align-content: flex-start;
      gap: 8px;
      flex-wrap: wrap;

      .constructor-container__block {
        // default
        @include flexbox($alignItems: center, $justify: center);

        position: relative;
        height: 48px;
        padding: 0 16px;
        gap: 10px;
        min-width: 50px;
        border-radius: 8px;
        border: 2px solid var(--colors-gray-100, #f7f7f7);
        background: var(--colors-white, #fff);

        color: var(--colors-gray-700, #2f2c2f);
        text-align: center;

        font-weight: 400;

        @media (max-width: 719px) {
          height: 44px;
          padding: 0px 14px;
          font-weight: 500;
        }

        .device-color-block__img-container {
          @include flexbox($alignItems: center, $justify: center);

          width: 44px;
          height: 44px;

          .device-color-block__img {
            max-width: 36px;
            height: 36px;
            flex-shrink: 0;
            object-fit: contain;

            border-radius: 1px;
          }
        }

        .constructor-container-block__value-container,
        .constructor-container-block__disabled {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -16px;
          width: 150px;
          display: none;
        }
        // hover
        &.default:hover {
          border: 2px solid var(--colors-gray-200, #e5e4e2);

          .constructor-container-block__value-container {
            display: block;

            color: var(--colors-gray-700, #2f2c2f);
            text-align: center;

            font-size: 12px;
            font-weight: 500;
          }
        }
        // active
        &.active {
          border: 2px solid var(--colors-gray-700, #2f2c2f);
          background: var(--colors-white, #fff);
        }
        // disabled
        &.disabled {
          background: var(--colors-gray-100, #f7f7f7);
          mix-blend-mode: multiply;

          color: var(--colors-gray-300, #c0c0c0);
          text-align: center;
          font-weight: 400;

          .device-color-block__img-container {
            opacity: 0.25;
          }
        }
        // disabled-hover
        &.disabled:hover {
          .constructor-container-block__disabled {
            display: block;

            font-size: 12px;
            font-weight: 500;
          }
        }
      }

      .device-color-block {
        padding: 0px 16px 0px 2px;
      }
    }

    .gen-tab__device-version-span {
      @include flexbox($alignItems: center);

      gap: 4px;
    }
  }

  .gen-tab__show-all-models {
    @include flexbox($justify: center, $alignItems: center, $self: stretch);
  }
}
