.gen-tab__stock {
  @include flexbox($self: stretch, $alignItems: center);

  padding: 24px 32px;
  gap: var(---gap-small, 16px);

  background: var(---white, #fff);
  user-select: none;

  .gen-tab__stock-trade-in {
    @include flexbox($self: stretch, $alignItems: center, $justify: center);

    flex: 1 0 0;
    position: relative;
    border-radius: 8px;
    background: radial-gradient(
        46.03% 170.31% at 75.55% 50%,
        var(---blue-light, #81dcec) 0%,
        var(---blue, #0eb7d4) 100%
      ),
      var(---blue, #0eb7d4);

    .gen-tab__stock-trade-in-text {
      @include flexbox(
        $self: stretch,
        $alignItems: flex-start,
        $justify: space-between,
        $direction: column
      );

      flex: 1 0 0;
      padding: 16px;
      position: relative;

      color: var(--colors-white, #fff);
      font-size: 14px;
      font-weight: 700;

      .gen-tab__stock-trade-in-bottom {
        font-size: 10px;
        font-weight: 500;
      }

      .gen-tab__stock-trade-in-img {
        position: absolute;
        width: 113.25px;
        height: 85px;
        right: 7px;
        top: -14px;
        background: url(/images/trade\ in.png) no-repeat center right/cover;
      }
    }

    &::after {
      @include flexbox($alignItems: center, $justify: center);
      background-color: #333;
      border-radius: 10px;

      width: 125px;
      opacity: 0;
      visibility: hidden;
      transition: width 0.3s ease, opacity 0.3s ease,
        visibility 0.3s linear 0.3s;
      padding: 8px 16px;
      position: absolute;
      color: var(--colors-white, #fff);
      font-size: 10px;
      font-weight: 500;
      line-height: 150%; /* 15px */
      z-index: 15;
      content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
      bottom: 0;
      left: 50%;
      transform: translate(-50%, calc(100% + 10px));
      user-select: none;
    }

    &::before {
      background-color: #333;
      content: " ";
      position: absolute;
      opacity: 0;
      visibility: hidden;
      width: 0px;
      height: 0px;
      transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease,
        visibility 0.3s;
      z-index: 15;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
    }

    &:hover::after,
    &:hover::before {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }
    &:hover::after {
      width: 211px;
    }

    &:hover::before {
      width: 15px;
      height: 15px;
    }
  }

  .gen-tab__stock-used {
    @include flexbox($alignItems: center, $justify: space-between);

    height: 64px;
    flex: 1 0 0;

    border-radius: 5.333px;
    background: var(--colors-gray-700, #2f2c2f);

    &.new {
      background: var(--colors-green-400, #62b278);
    }

    .gen-tab__stock-used-text {
      @include flexbox(
        $alignItems: center,
        $justify: space-between,
        $self: stretch
      );

      padding: 16px 10.667px 16px 13.333px;
      width: 100%;
      color: var(--colors-white, #fff);

      .gen-tab__stock-used-left {
        @include flexbox(
          $alignItems: flex-start,
          $direction: column,
          $self: stretch
        );

        font-weight: 700;
        line-height: 100%; /* 16px */
        text-transform: uppercase;

        .gen-tab__stock-used-left-bottom {
          font-size: 13.333px;
          font-weight: 500;
          text-transform: lowercase;
        }
      }

      .gen-tab__stock-used-right {
        @include flexbox();

        gap: 2.667px;

        font-size: 37.333px;
        font-weight: 500;
        letter-spacing: -1.493px;

        .gen-tab__stock-used-simb {
          @include flexbox($alignItems: flex-end);

          font-size: 21.333px;
          margin-bottom: 4px;
        }

        .gen-tab__stock-used-arrow {
          @include flexbox();

          margin: auto 0;
          width: 0px;
          opacity: 0;
          visibility: hidden;
          transition: width 0.3s ease, opacity 0.3s ease,
            visibility 0.3s linear 0.3s;
        }
      }

      &:hover {
        .gen-tab__stock-used-arrow {
          opacity: 1;
          width: 12px;
          visibility: visible;
          transition-delay: 0s; /* Сброс задержки для плавного появления */
        }
      }
    }
  }
}
