.block-description {
  @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);

  .block-block-description-container {
    $padding: 48px;
    @include flexbox(
      $direction: column,
      $alignItems: flex-start,
      $self: stretch
    );
    padding: $padding;
    width: min(95%, calc(var(---width, 1366px) - ($padding * 2)));
    gap: 24px;
    border-radius: 32px;
    background: var(--colors-white, #fff);

    /* block-shadow */
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

    .block-block-description-paragraf {
      align-self: stretch;

      color: var(--colors-gray-700, #2f2c2f);
      text-align: justify;
      font-weight: 400;
      line-height: 150%; /* 24px */
      margin: 0;
    }

    img {
      width: 100%;
      align-self: stretch;

      border-radius: 8px;
    }
  }
}
