.block-used-sentences {
  @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);
  user-select: none;

  .block-used-sentences-container {
    background: var(--colors-white, #fff);

    .block-used-sentences-content {
      position: relative;

      .global-used-sentences-container {
        display: flex;
        width: var(---width, 1366px);
        padding: 24px 32px;
        align-items: flex-start;
        gap: 24px;

        img {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex-shrink: 0;
          max-width: 176px;
          height: 176px;
          object-fit: contain;

          border-radius: 8px;
        }

        .global-used-sentences-block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          flex: 1 0 0;
          align-self: stretch;

          .global-used-sentences-block-header {
            display: flex;
            align-items: center;
            gap: 16px;
            align-self: stretch;
          }

          .global-used-sentences-block-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            flex: 1 0 0;
            align-self: stretch;

            .global-used-sentences-content-span {
              display: flex;
              align-items: center;
              align-content: center;
              gap: 8px;
              align-self: stretch;
              flex-wrap: wrap;

              color: var(--colors-gray-700, #2f2c2f);

              font-weight: 400;
            }
          }
        }
        .global-used-sentences-container-btn {
          display: flex;
          width: 240px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
          flex-shrink: 0;
          align-self: stretch;

          .global-block-container-bottom-value {
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 24px;
            align-self: stretch;

            color: var(--colors-gray-700, #2f2c2f);

            font-size: 48px;
          }

          .global-block-container-button,
          .global-button-credit {
            align-self: stretch;
            flex: unset;
          }
        }
      }

      .fade {
        width: var(---width, 1366px);
        height: 449px;

        position: absolute;
        top: -1px;

        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          #fff 100%
        );
      }
    }
    .block-used-sentences-show-more {
      display: flex;
      padding: 0px 32px 24px 32px;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      background: var(--colors-white, #fff);
      border-radius: 0 0 32px 32px;

      button {
        flex: unset;
        width: 320px;
      }
    }
  }
}
