.pop-up-cart-modal {
  .global-pop-modal-content {
    position: relative;

    .global-pop-modal-header-top {
      font-weight: 500;
    }

    .global-modal-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1px;
      align-self: stretch;

      max-height: calc(192px * 2.5);

      text-rendering: optimizeLegibility;
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;

      &.to-cart {
        overflow-y: unset;
      }

      &::-webkit-scrollbar {
        width: 8px; /* Ширина всего элемента навигации */
      }

      &::-webkit-scrollbar-track {
        border-radius: 8px; /* Округление бегунка */

        background: var(--colors-gray-100, #f7f7f7); /* Цвет дорожки */
      }

      &::-webkit-scrollbar-thumb {
        background: var(--colors-gray-200, #e5e4e2);
        /* Цвет бегунка */
        border-radius: 8px; /* Округление бегунка */
      }

      .global-modal-block-content {
        display: flex;
        padding: 16px;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        img {
          width: 160px;
          height: 160px;
          object-fit: contain;

          border-radius: 8px;
        }

        .global-modal-block-content-container {
          padding: 12px 0px;
          gap: 16px;
          justify-content: unset;

          .global-p-short-product-span {
            align-self: stretch;
            font-weight: 500;
            font-size: 16px;
            color: var(--colors-gray-700, #2f2c2f);
          }

          .global-modal-price-container {
            display: flex;
            align-items: center;
            gap: 24px;
            align-self: stretch;

            .global-modal-total-container {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              gap: 24px;
              flex: 1 0 0;

              .gen-tab__info-price-cashback {
                display: flex;
                align-items: center;
                gap: 2px;
                height: 100%;
              }

              .global-p-short-product {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 24px;
              }
            }
          }

          .gen-tab__add-services {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
            padding: 10px 0 0 10px;
            border-radius: 16px;
            background: var(--colors-white, #fff);

            .gen-tab__add-services-header {
              display: flex;
              padding: 10px 20px 10px 0;
              align-items: center;
              align-self: unset;

              border-radius: var(---radius-min, 8px);
              background: var(--colors-white, #fff);

              color: var(--colors-gray-700, #2f2c2f);

              font-size: 14px;
              font-weight: 500;
              cursor: pointer;

              span {
                display: flex;
                align-items: center;

                &::before {
                  display: flex;
                  align-items: flex-start;

                  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M13 8.5C13 7.94772 12.5523 7.5 12 7.5C11.4477 7.5 11 7.94772 11 8.5V11H8.5C7.94772 11 7.5 11.4477 7.5 12C7.5 12.5523 7.94772 13 8.5 13H11V15.5C11 16.0523 11.4477 16.5 12 16.5C12.5523 16.5 13 16.0523 13 15.5V13H15.5C16.0523 13 16.5 12.5523 16.5 12C16.5 11.4477 16.0523 11 15.5 11H13V8.5Z" fill="%232F2C2F"/></svg>');
                  width: 24px;
                  height: 24px;
                }
              }

              &:hover {
                background: var(--colors-gray-100, #f7f7f7);
              }
            }

            form {
              display: none;
            }

            &.active {
              padding: 8px 8px 16px 8px;
              gap: 8px;
              border-radius: 16px;
              border: 2px solid var(--colors-gray-100, #f7f7f7);
              form {
                display: block;

                .gen-tab__add-services-block {
                  height: unset;
                }
                .gen-tab__add-services-ul {
                  li {
                    overflow: unset;
                  }

                  &.scroll {
                    overflow-y: scroll;
                    max-height: 450px;

                    &::-webkit-scrollbar {
                      width: 8px; /* Ширина всего элемента навигации */
                    }

                    &::-webkit-scrollbar-track {
                      border-radius: 8px; /* Округление бегунка */

                      background: var(
                        --colors-gray-100,
                        #f7f7f7
                      ); /* Цвет дорожки */
                    }

                    &::-webkit-scrollbar-thumb {
                      background: var(--colors-gray-200, #e5e4e2);
                      /* Цвет бегунка */
                      border-radius: 8px; /* Округление бегунка */
                    }
                  }
                }
              }

              .gen-tab__add-services-header {
                justify-content: space-between;
                padding: 0;
                align-self: stretch;

                span {
                  padding: 10px 0;

                  &::before {
                    content: "";
                  }
                }

                &::after {
                  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M11 9.5L8 6.5L5 9.5" stroke="%232F2C2F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                  width: 16px;
                  height: 16px;
                  margin-right: 16px;
                }
              }
            }
          }
        }
      }

      .fade {
        width: 896px;
        height: 32px;

        position: absolute;
        bottom: 112px;

        background: linear-gradient(
          360deg,
          #fff -0.39%,
          rgba(255, 255, 255, 0) 99.61%
        );
      }
    }

    .gen-tab__add-product {
      .gen-tab__add-product-header {
        font-size: 16px;
      }

      .gen-tab__add-product-accessories-container {
        width: calc(896px - 32px - 32px);
      }
    }

    .global-bottom-cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      .global-bottom-cart-left {
        display: flex;
        height: var(--nums-block-radius, 32px);
        align-items: center;
        gap: 4px;
        user-select: none;
        padding: 0 12px;
        border-radius: 4px;

        color: var(--colors-gray-700, #2f2c2f);
        font-size: 14px;
        font-weight: 400;

        cursor: pointer;
        border-radius: 16px;

        &:hover {
          background: var(--colors-gray-100, #f7f7f7);
        }
      }

      .global-bottom-cart-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;

        .gen-tab__info-price-cashback {
          display: flex;
          align-items: center;
          gap: 2px;
          height: 100%;
          font-size: 14px;

          svg {
            width: 17.471px;
            height: 20px;
          }
        }

        .global-p-short-product {
          font-size: 32px;

          .gen-tab__info-price-simb {
            font-size: 24px;
            margin-top: 7px;
          }
        }

        .global-button-send-fast-buy {
          width: 150px;
        }
      }
    }
  }
}
