$--modal-colors-white: #fff;
$--modal-colors-blue-400: #62a8ed;
$--modal-colors-gray-100: #f7f7f7;
$--modal-colors-gray-200: #e5e4e2;
$--modal-colors-gray-400: #929292;
$--modal-colors-gray-500: #696969;
$--modal-colors-gray-700: #2f2c2f;
$--modal-colors-green-100: #e9f9e9;
$--modal-colors-green-400: #62b278;
$--modal-colors-red-300: #fa8072;
