.pop-up-credit-calculator-modal-content {
  background: var(--colors-gray-100, #f7f7f7) !important;
  padding: 0 !important;
  gap: 1px !important;

  .cart-modal-span {
    color: var(--colors-gray-700, #2f2c2f);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  .cart-modal-header-block {
    display: flex;
    padding: 32px 32px 24px 32px;
    align-items: flex-start !important;
    gap: 24px !important;
    border-radius: 24px 24px 0 0;

    background: var(--colors-white, #fff);

    .global-pop-modal-header-top {
      span {
        color: var(--colors-gray-700, #2f2c2f);
        font-size: 20px;
        font-weight: 500;
      }
    }

    .cart-modal-block-content {
      display: flex;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;

      img {
        max-width: 165px;
        height: 165px;

        border-radius: 8px;
      }
    }

    .global-modal-block-content-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: unset !important;
      padding: 0 !important;
      gap: 16px;
      align-self: stretch;

      .global-p-short-product {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 32px;
        align-self: stretch;

        span {
          overflow: hidden;
          color: var(--colors-gray-700, #2f2c2f) !important;
          text-overflow: ellipsis;
          font-size: 16px !important;
          font-weight: 500 !important;
        }

        .global-p-short-product-span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
      }

      .gen-tab__add-services {
        padding: 0;

        form {
          width: 100%;

          .gen-tab__add-services-block {
            width: 100%;

            .gen-tab__add-services-price {
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .cart-modal-bank {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    position: relative;

    background: var(--colors-white, #fff);

    .credit-offer-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      overflow: hidden;
      overflow-y: scroll;
      padding-right: 12px;

      height: 370px;

      &::-webkit-scrollbar {
        width: 8px; /* Ширина всего элемента навигации */
      }

      &::-webkit-scrollbar-track {
        border-radius: 8px; /* Округление бегунка */

        background: var(--colors-gray-100, #f7f7f7); /* Цвет дорожки */
      }

      &::-webkit-scrollbar-thumb {
        background: var(--colors-gray-200, #e5e4e2);
        /* Цвет бегунка */
        border-radius: 8px; /* Округление бегунка */
      }

      .credit-offer-block {
        display: flex;
        width: calc(776px - (24px + 16px));
        padding: 12px 16px 12px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;

        border-radius: 8px;
        border: 2px solid transparent;

        .credit-offer {
          display: flex;
          align-items: center;
          gap: 16px;
          align-self: stretch;

          input {
            display: none;
          }

          input + label {
            font-size: 20px;
            cursor: pointer;
            padding-left: 10px;
            position: relative;
          }

          input:checked + label {
            color: #17aa1c;
            font-weight: bolder;
          }

          label:before {
            content: "";
            top: 50%;
            left: 0;
            width: 11px;
            height: 11px;
            position: absolute;
            background: #17aa1c;
            border-radius: 100%;
            transition: all 0.3s ease;
            box-shadow: inset 0 0 0 18px #ffffff;

            transform: translateY(-50%);
          }

          input:checked + label:before {
            border: 1px solid #17aa1c;
            box-shadow: inset 0 0 0 2px #fff;
          }

          .credit-offer-select-container {
            display: flex;
            align-items: center;
            gap: 12px;
            flex: 1 0 0;

            img {
              width: 48px;
              height: 48px;

              object-fit: contain;
            }

            .credit-offer-select-block {
              display: flex;
              align-items: center;
              gap: 32px;
              flex: 1 0 0;
              align-self: stretch;
              user-select: none;

              .info {
                display: flex;
                max-width: 160px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex: 1 0 0;
                align-self: stretch;

                .credit-offer-bank-span {
                  color: var(--colors-gray-700, #2f2c2f);
                  font-size: 20px;
                }

                .credit-offer-info-span {
                  color: var(--colors-gray-400, #929292);
                  font-size: 12px;
                }
              }

              .months {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                align-self: stretch;
                position: relative;

                .months-select {
                  display: flex;
                  width: 48px;
                  height: 32px;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;

                  border-radius: 8px;
                  cursor: pointer;

                  &.active,
                  &:hover {
                    background: linear-gradient(
                        0deg,
                        var(--colors-green-100, #e9f9e9) 0%,
                        var(--colors-green-100, #e9f9e9) 100%
                      ),
                      var(--colors-white, #fff);
                  }

                  &.active {
                    color: var(--colors-green-500-primary, #2ea84f);
                  }
                }
              }

              .price {
                display: flex;
                width: 140px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 4px;
                flex: 1 0 0;
                position: relative;
                height: 48px;

                .price-span-block {
                  display: flex;
                  max-width: 140px;
                  justify-content: flex-end;
                  gap: 4px;
                  flex: 1 0 0;

                  align-items: center;

                  color: var(--colors-gray-700, #2f2c2f);
                  text-align: center;
                  font-size: 32px;
                  font-weight: 400;
                  user-select: text;

                  .price-span-simb {
                    font-size: 24px;
                    margin-bottom: -8px;
                  }
                }
              }

              .months-affter,
              .price-affter {
                position: absolute;
                bottom: -4px;

                color: var(--colors-gray-500, #696969);
                font-size: 9px;
                width: 100px;
                transform: translateX(-50%);
              }

              .months-affter {
                left: 54%;
              }

              .price-affter {
                left: 80%;
              }
            }
          }

          .credit-offer-container-arrow {
            width: 32px;
            height: 32px;
            cursor: pointer;

            &:hover {
              background: var(--colors-gray-100, #f7f7f7);
              border-radius: 20%;
            }

            &::before {
              content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M11.5007 14.4993L16 19.1005L20.4993 14.4993" stroke="%232F2C2F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
              width: 32px;
              height: 32px;
              transform: rotate(0deg);
            }
          }
        }

        .terms {
          display: none;

          padding: 0px 48px 4px 32px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          transition: all 0.3s ease;

          color: var(--colors-gray-700, #2f2c2f);

          span {
            align-self: stretch;

            text-align: justify;
          }

          p {
            padding: 0;
            margin: 0;
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%; /* 24px */
          }
        }

        &.selected,
        &.selected.open {
          border: 2px solid var(--colors-gray-700, #2f2c2f);
        }

        &.open,
        &:hover:not(.selected) {
          border: 2px solid var(--colors-gray-100, #f7f7f7);
        }

        &.open {
          .terms {
            display: flex;
          }

          .credit-offer-container-arrow {
            &::before {
              content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M20.4993 17.5007L16 12.8995L11.5007 17.5007" stroke="%232F2C2F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
              width: 32px;
              height: 32px;
              transform: rotate(-90deg);
              transition: transform 0.5s ease-in-out;
            }
          }
        }
      }
    }

    .fade {
      width: 772px;
      height: 32px;
      position: absolute;
      bottom: 24px;
      background: linear-gradient(
        360deg,
        #fff -0.39%,
        rgba(255, 255, 255, 0) 99.61%
      );
    }

    .cart-modal-sentences-show-more {
      align-self: stretch;
    }
  }

  .cart-modal-form-contact-container {
    display: flex;
    padding: 24px var(--nums-block-radius, 32px);
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    background: var(--colors-white, #fff);

    .form-contact {
      display: flex;
      align-items: flex-start;
      gap: 24px 48px;
      align-self: stretch;
      flex-wrap: wrap;

      .form-contact-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
        width: 364px;

        border-radius: 8px;

        label {
          color: var(--colors-gray-500, #696969);
          font-size: 12px;
        }

        input {
          display: flex;
          height: 44px;
          padding: 0px 12px;
          align-items: center;
          gap: 16px;
          align-self: stretch;

          border-radius: 8px;
          border: 1px solid var(--colors-gray-200, #e5e4e2);

          &:focus {
            border: 1px solid var(--colors-gray-700, #2f2c2f);
            outline: none;
          }
        }
      }
    }
  }

  .cart-modal-checking {
    display: flex;
    padding: 24px var(--nums-block-radius, 32px);
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 0 0 24px 24px;

    background: var(--colors-white, #fff);

    .cart-modal-checking-container {
      display: flex;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;

      .cart-modal-checking-block {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
      }

      .cart-modal-checking-box {
        display: flex;
        padding: 8px 16px;
        flex-direction: column;
        align-items: center;
        color: var(--colors-gray-700, #2f2c2f);
        font-weight: 400;

        .cart-modal-checking-value {
          text-align: center;
          font-size: 32px;

          .cart-modal-checking-simb {
            font-size: 24px;
          }
        }

        .cart-modal-checking-info {
          font-size: 10px;
        }
      }
    }
  }

  &.choice {
    .cart-modal-bank-head-paperwork,
    .cart-modal-sentences-show-more,
    .cart-modal-form-contact-container,
    .pop-up-credit-calculator-send-buy-button {
      display: none;
    }
  }

  &.paperwork {
    .fade,
    .cart-modal-bank-head-choice,
    .pop-up-credit-calculator-buy-button {
      display: none;
    }

    .credit-offer-container {
      overflow: unset;

      height: unset;

      .credit-offer-block {
        &.selected,
        &.selected.open,
        &.open,
        &:hover {
          border: 2px solid transparent;

          .credit-offer-container-arrow {
            display: none;
          }
        }

        .terms {
          display: flex !important;
        }
      }
    }
  }
}

@keyframes rotateArrow {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
