.pop-up-search-modal {
  display: none;
  left: 0;
  top: 0;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;

  overflow-y: scroll;
  scrollbar-width: thin;

  position: fixed;
  transform: translate(0, 0%);
  transition: all 0.5s ease;
  width: 100%;

  box-sizing: border-box;
  z-index: 50;

  @media (max-width: 719px) {
    // top: 100%;
    flex-direction: column;
    gap: 12px;
    height: calc(100%);
  }

  .pop-up-search-container {
    background: var(--modal-colors-white, #fff);
    margin: 2% auto;
    @include flexbox($alignItems: center, $direction: column);
    overflow: auto;
    overflow-x: hidden;

    // width: calc(var(---width, 1366px) - (48px * 2));
    width: min(95%, var(---width, 1366px) - (48px * 2));
    padding: 48px;
    gap: 32px;

    @media (max-width: 1520px) {
      margin: 2%;
      width: calc(100% - (48px * 3));
    }
    @media (max-width: 719px) {
      width: calc(95% - 32px);
      max-height: calc(100% - 56px);

      padding: 16px;
      padding-top: 24px;
      margin: 8px auto;
    }

    border-radius: 32px;
    background: var(--modal-colors-white, #fff);

    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.16);

    .header-search-top {
      @include flexbox($alignItems: center, $self: stretch);
      padding: 16px;
      background: var(--modal-colors-white, #fff);
      border-radius: 8px;
      border: 2px solid var(--modal-colors-gray-100, #f7f7f7);

      @media (max-width: 719px) {
        padding: 0;
      }

      .pop-up-header-search-form {
        @include flexbox();
        align-items: center;
        width: 100%;
        height: 100%;

        @media (max-width: 719px) {
          height: unset;
          position: relative;
          justify-content: space-between;

          .pop-up-header-search-form-svg {
            left: 16px;
            position: absolute;
          }
          .header-search-form__search-btn-close {
            right: 16px;
            position: absolute;
          }
        }

        .pop-up-header-search-form__input {
          background: var(--modal-colors-white, #fff);
          border: none;
          flex: 1;
          padding: 0 24px;
          color: var(--modal-colors-gray-500, #696969);
          font-size: 24px;
          font-weight: 400;
          outline: none;

          @media (max-width: 719px) {
            padding: 16px 52px;
            font-size: 20px;
            width: 100%;
          }
        }

        .header-search-form__search-btn-close {
          width: 24px;
          height: 24px;
          border: none;
          background: var(--modal-colors-white, #fff);
          cursor: pointer;

          &:hover {
            path {
              stroke: var(--colors-gray-300, #c0c0c0);
            }
          }

          &:active {
            path {
              stroke: var(---pink-btn, #f37d7d);
            }
          }
        }
      }
    }

    .catalog_products_main-container {
      display: none;
      overflow: hidden;
      overflow-y: scroll;
      scrollbar-width: none;
      gap: var(---gap-big, 48px);
      min-height: 515px;
      height: 73.5vh;
      max-height: 825px;

      &.active {
        @include flexbox();
        @media (max-width: 719px) {
          flex-direction: column;
          min-height: unset;
          height: unset;
          max-height: unset;
          gap: 16px;
        }
      }

      .catalog_products_main {
        width: min(95%, 505px);
        height: 100%;

        font-size: 16px;

        @media (max-width: 1280px) {
          width: min(95%, 380px);
        }
        @media (max-width: 719px) {
          width: unset;
        }

        .main-menu {
          @include flexbox(
            $alignItems: flex-start,
            $direction: column,
            $self: stretch
          );

          padding: 0;
          list-style: none;
          margin: 0;

          position: relative;

          .contain-submenu {
            width: 100%;

            &.active {
              .category-link {
                color: var(--modal-colors-green-400, #62b278);
                .parent-link-count {
                  color: var(--modal-colors-green-400, #62b278);
                  background: var(--modal-colors-green-100, #e9f9e9);
                }
              }
            }

            &:not(.active) {
              .category-link {
                &:hover {
                  background: var(--modal-colors-gray-100, #f7f7f7);
                  color: var(--modal-colors-green-400, #62b278);

                  .parent-link-count {
                    color: var(--modal-colors-green-400, #62b278);
                    background: var(--modal-colors-green-100, #e9f9e9);
                  }
                }
              }
            }

            .category-link {
              @include flexbox(
                $alignItems: center,
                $justify: space-between,
                $self: stretch
              );

              height: 48px;
              padding: 0px 8px;

              color: var(--modal-colors-gray-700, #2f2c2f);

              border-bottom: 1px solid var(--modal-colors-gray-100, #f7f7f7);
              cursor: pointer;

              .parent-link-count {
                @include flexbox(
                  $alignItems: center,
                  $direction: column,
                  $justify: center
                );

                padding: 2px 8px;

                color: var(--modal-colors-gray-400, #929292);
                text-align: center;

                font-size: 12px;

                border-radius: 24px;
                background: var(--modal-colors-gray-100, #f7f7f7);
              }
            }
          }
        }
      }

      .category-content {
        // width: calc((var(---width, 1366px) - 328px) - (48px * 2));
        width: min(95%, (var(---width, 1366px) - 328px) - (48px * 2));

        flex: 1 0 0;
        display: none;
        align-self: stretch;

        @media (max-width: 1152px) {
          justify-content: center;
        }

        @media (max-width: 719px) {
          width: unset;
          justify-content: space-between;
        }

        .menu-list-item {
          @include flexbox(
            $alignItems: flex-start,
            $self: stretch,
            $direction: column
          );

          break-inside: avoid-column;
          padding: 0;

          background: var(--modal-colors-white, #fff);

          @media (max-width: 719px) {
            width: 100%;
            gap: 24px;
          }

          .submenu-list__cont {
            @include flexbox(
              $alignItems: center,
              $self: stretch,
              $justify: space-between
            );

            height: 48px;
            padding: 0px 12px;
            border-bottom: 1px solid var(--modal-colors-gray-100, #f7f7f7);

            .submenu-list__cont-btn {
              display: flex;
              gap: var(---gap-small, 16px);

              @media (max-width: 719px) {
                display: none;
              }
              .submenu-list__btn {
                border: none;
                @include flexbox($alignItems: center, $justify: center);

                border-radius: 28px;
                width: 24px;
                height: 24px;
                padding: 4px 8px 4px 6px;
                border: 2px solid transparent;
                background: var(--modal-colors-gray-100, #f7f7f7);
                cursor: pointer;

                &:hover {
                  border: 2px solid var(--modal-colors-gray-700, #2f2c2f);
                  background: var(--modal-colors-white, #fff);
                  path {
                    stroke: var(--modal-colors-gray-700, #2f2c2f);
                  }
                }
              }

              .submenu-list__btn-right {
                padding: 4px 6px 4px 8px;
              }
            }
          }

          .submenu-list__link {
            @include flexbox($alignItems: center, $self: stretch);

            color: var(--modal-colors-gray-700, #2f2c2f);
            gap: 4px;

            @media (max-width: 719px) {
              padding: 16px 8px;
            }

            &::before {
              content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.5858 5H15C14.4477 5 14 4.55228 14 4C14 3.44772 14.4477 3 15 3H18C19.6569 3 21 4.34315 21 6V9C21 9.55228 20.5523 10 20 10C19.4477 10 19 9.55228 19 9V6.41421L12.7071 12.7071C12.3166 13.0976 11.6834 13.0976 11.2929 12.7071C10.9024 12.3166 10.9024 11.6834 11.2929 11.2929L17.5858 5ZM19 13C19 12.4477 19.4477 12 20 12C20.5523 12 21 12.4477 21 13V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6C3 4.34315 4.34315 3 6 3H11C11.5523 3 12 3.44772 12 4C12 4.55228 11.5523 5 11 5H6C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V13Z" fill="%232F2C2F"/></svg>');
              width: 24px;
              height: 24px;
            }

            &:hover {
              &::before {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.5858 5H15C14.4477 5 14 4.55228 14 4C14 3.44772 14.4477 3 15 3H18C19.6569 3 21 4.34315 21 6V9C21 9.55228 20.5523 10 20 10C19.4477 10 19 9.55228 19 9V6.41421L12.7071 12.7071C12.3166 13.0976 11.6834 13.0976 11.2929 12.7071C10.9024 12.3166 10.9024 11.6834 11.2929 11.2929L17.5858 5ZM19 13C19 12.4477 19.4477 12 20 12C20.5523 12 21 12.4477 21 13V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6C3 4.34315 4.34315 3 6 3H11C11.5523 3 12 3.44772 12 4C12 4.55228 11.5523 5 11 5H6C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V13Z" fill="%2362a8ed"/></svg>');
              }
              color: var(--modal-colors-blue-400, #62a8ed);
            }
          }

          .search-menu-categories {
            .search-menu-categories-list {
              @include flexbox($alignItems: flex-start, $self: stretch);

              list-style: none;
              padding: 0;
              flex-wrap: wrap;
              gap: 8px 24px;

              @media (max-width: 719px) {
                width: 100%;
                margin: 0;
              }
              .search-menu-categories-list__item {
                padding: 8px;
                gap: 8px;

                border-radius: 8px;
                border: 2px solid transparent;
                min-width: 260px;
                max-width: 278px;

                @media (max-width: 719px) {
                  min-width: unset;
                  max-width: unset;
                  display: flex;
                  align-self: stretch;
                  justify-content: space-between;
                  // width: 100%;
                }
                &:hover {
                  border: 2px solid var(--modal-colors-gray-200, #e5e4e2);
                }

                .search-menu-categories-list__link {
                  @include flexbox($alignItems: flex-start, $self: stretch);
                  gap: 8px;

                  @media (max-width: 719px) {
                    width: 100%;
                  }
                  img {
                    @include flexbox(
                      $alignItems: flex-start,
                      $direction: column
                    );

                    width: 64px;
                    height: 64px;
                    object-fit: contain;

                    border-radius: 8px;
                  }

                  .global-p-short-product-container {
                    @include flexbox(
                      $alignItems: flex-start,
                      $direction: column,
                      $justify: space-between,
                      $self: stretch
                    );

                    padding: 8px 0px;
                    flex: 1 0 0;

                    .global-p-short-product-span {
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 2;
                      align-self: stretch;

                      overflow: hidden;
                      color: var(--modal-colors-gray-700, #2f2c2f);
                      text-overflow: ellipsis;
                      font-size: 12px;
                      font-weight: 400;
                    }

                    .global-p-short-product {
                      justify-content: space-between;
                      gap: 0;

                      div {
                        align-items: center;
                      }

                      .global-p-short-product-availability-price-container {
                        color: var(--modal-colors-green-400, #62b278);
                        font-family: Rubik;
                        font-size: 8px;

                        &::before {
                          content: "";
                          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3e%3cg clip-path='url(%23clip0_10851_21842)'%3e%3cpath d='M11.3333 6C11.3333 8.94552 8.94552 11.3333 6 11.3333C3.05448 11.3333 0.666667 8.94552 0.666667 6C0.666667 3.05448 3.05448 0.666667 6 0.666667C8.94552 0.666667 11.3333 3.05448 11.3333 6Z' stroke='%2362B378' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M3.66699 6.78336L5.16699 8.28336L8.91699 4.53336' stroke='%2362B378' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_10851_21842'%3e%3crect width='12' height='12' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
                          background-repeat: no-repeat;
                          width: 12px;
                          height: 12px;
                          margin-bottom: 2px;
                        }
                      }

                      .global-p-short-product-old-price-container {
                        color: var(--modal-colors-gray-300, #c0c0c0);
                        font-size: 10px;
                      }

                      .global-p-short-product-discount-container {
                        @include flexbox($alignItems: center, $justify: center);
                        padding: 2px 5px 2px 4px;
                        border-radius: 14.824px;
                        background: var(--modal-colors-red-300, #fa8072);

                        color: var(--modal-colors-white, #fff);
                        text-align: center;
                        font-size: 8px;
                        font-weight: 700;
                      }

                      .global-p-short-product-new-price-container {
                        color: var(--modal-colors-gray-700, #2f2c2f);
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }

          .menu-categories-bottom {
            cursor: pointer;
            padding: 8px 0px;

            @include flexbox(
              $alignItems: center,
              $justify: center,
              $self: stretch
            );

            .submenu-list__see-all {
              color: var(--modal-colors-gray-400, #929292);
              text-align: center;
              font-size: 12px;

              &:hover {
                color: var(--modal-colors-blue-400, #62a8ed);
              }
            }
          }

          .submenu-list__cont-btn-mob {
            display: none;

            @media (max-width: 719px) {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: var(--nums-block-radius, 32px);
              align-self: stretch;

              .submenu-list__btn {
                border: none;
                display: flex;
                padding: 8px;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                padding: 10px 0px;

                border-radius: 28px;
                background: var(--colors-gray-100, #f7f7f7);
              }
            }
          }
        }

        &.active {
          @include flexbox();

          @media (max-width: 719px) {
            .search-menu-categories {
              @include flexbox();
              align-self: stretch;
              width: 100%;
            }
          }

          &:not(.all-category) {
            .search-menu-categories-list__item {
              width: 100%;
            }
          }
        }

        &.all-category {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 24px 48px;
          // columns: 3;

          @media (max-width: 1280px) {
            gap: 12px;
          }

          .search-menu-categories-list {
            @include flexbox($alignItems: flex-start, $direction: column);

            width: 282px;

            .submenu-list__link {
              height: var(---button-height, 48px);
              padding: 0px 12px;
              border-bottom: 1px solid var(--modal-colors-gray-100, #f7f7f7);
            }
          }
        }

        &.few {
          .submenu-list__cont-btn {
            display: none !important;
          }
        }
      }
    }
  }
}
