.video-container {
  position: fixed;
  top: 300px;
  right: 0;
  display: flex;
  align-items: flex-start;
  z-index: 50;
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out,
    opacity 0.5s ease-in-out;

  &.closing {
    transform: translateX(100%);
    opacity: 0;
  }

  .video-block {
    padding: 12px;
    padding-bottom: 8px;
    border-radius: 12px 0px 0px 12px;
    background: var(--colors-white, #fff);
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.24);
    position: relative;

    video {
      width: 80px;
      border-radius: 4px;
    }

    .closet {
      display: flex;
      padding: 4px;
      align-items: flex-start;

      position: absolute;
      left: -6px;
      top: -6px;

      border-radius: var(--nums-block-radius, 32px);
      background: var(--colors-gray-100, #f7f7f7);

      /* micro */
      box-shadow: 0px 1px 3px 0px rgba(51, 51, 51, 0.24);
    }

    .fullscreen-closet {
      display: none;
    }
  }

  &.normall {
    top: 93px;
  }

  &.video-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;

    .video-block {
      width: 100%;
      height: 100%;
      padding: unset;
      padding-bottom: unset;
      border-radius: unset;
      background: unset;
      box-shadow: unset;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .closet {
      display: none !important;
    }

    .fullscreen-closet {
      position: absolute;
      display: block;
      top: 30px;
      right: 30px;

      svg {
        width: 8.889px;
        height: 8.889px;
      }
    }
  }
}
