@charset "UTF-8";
.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header .header_bottom-container {
  width: 100%;
  height: 64px;
}
@media (max-width: 992px) {
  .header .header_bottom-container {
    height: 80px;
  }
}
.header .header-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}
.header .header-container .header_top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  background: var(---white, #fff);
  font-size: 14px;
  user-select: none;
}
.header .header-container .header_top a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header .header-container .header_top a:hover {
  color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_top .header_top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  flex-shrink: 0;
}
.header .header-container .header_top .header_top-content .left_side {
  display: flex;
  align-items: center;
  padding: 0px 8px 0px 6px;
  gap: var(---gap-basic, 24px);
}
.header .header-container .header_top .header_top-content .left_side .main_logo {
  display: flex;
  align-items: center;
}
.header .header-container .header_top .header_top-content .left_side .main_logo .main_logo-img {
  width: 144px;
  height: 48px;
  background: url("/images/main logo.png") 50%/cover no-repeat;
}
.header .header-container .header_top .header_top-content .left_side .city-switch {
  display: flex;
  align-items: center;
  gap: 2px;
}
.header .header-container .header_top .header_top-content .left_side .city-switch:hover path {
  fill: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_top .header_top-content .right_side {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  gap: var(---gap-basic, 24px);
}
.header .header-container .header_top .header_top-content .right_side .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(---gap-basic, 24px);
}
.header .header-container .header_top .header_top-content .right_side .menu .menu_promotion {
  padding: 8px 24px;
  border-radius: 24px;
  background: var(--colors-red-300, #fa8072);
  color: var(---white, #fff);
  text-align: center;
}
.header .header-container .header_top .header_top-content .right_side .menu .menu_promotion:hover {
  background: var(--colors-red-500, #dc343b);
}
.header .header-container .header_top .header_top-content .right_side .menu .menu_contacts {
  gap: 2px;
}
.header .header-container .header_top .header_top-content .right_side .language_switch-top .language_switch-span.active {
  color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_top .header_top-content .right_side .language_switch-top input[type=checkbox] {
  background: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_top .header_top-content .right_side .language_switch-top input[type=checkbox]::before {
  background-color: var(---white, #fff);
}
.header .header-container .header_top .header_top-content .right_side .language_switch-top input[type=checkbox]:checked::before {
  background-color: var(---white, #fff);
}
.header .header-container .header_bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  position: static;
  transition: top 3s ease; /* добавляем transition для плавного изменения свойств */
  background: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_bottom .header_bottom-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 0px;
  gap: var(---gap-big, 48px);
  flex-shrink: 0;
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left {
  user-select: none;
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left .main_logo-bottom {
  display: none;
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left .header_bottom-catalog {
  position: relative;
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left .header_bottom-catalog .header-bottom-catalog__desc {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0px 48px 0px 8px;
  gap: 4px;
  border-radius: 8px;
  background: var(--colors-green-700, #1d6d33);
  cursor: pointer;
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left .header_bottom-catalog .header-bottom-catalog__desc:hover {
  background: var(--colors-green-600, #25863f);
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left .header_bottom-catalog .header-bottom-catalog__desc .header-bottom-catalog__label {
  color: var(--colors-white, #fff);
  font-size: 16px;
}
@media (max-width: 992px) {
  .header .header-container .header_bottom .header_bottom-content {
    gap: 16px;
    padding: 16px;
    font-size: 12px;
  }
}
.header .header-container .header_bottom .header_bottom-content__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  padding-left: 48px;
  gap: var(---gap-small, 16px);
  flex: 1 0 0;
}
@media (max-width: 992px) {
  .header .header-container .header_bottom .header_bottom-content__right {
    padding-left: 0;
  }
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-search {
  background: var(--colors-white, #fff);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  min-width: 220px;
  max-width: 580px;
  gap: var(---gap-basic, 24px);
  flex: 1 0 0;
  height: 36px;
  border-radius: 8px;
  border: 2px solid var(--colors-gray-100, #f7f7f7);
  margin: auto 0;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-search .header-search-form {
  display: flex;
  width: 100%;
  height: 100%;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-search .header-search-form .header-search-form__input {
  background: var(--colors-white, #fff);
  color: var(--colors-gray-300, #c0c0c0);
  font-weight: 400;
  border: none;
  flex: 1;
  padding: 0 16px;
  text-overflow: ellipsis;
  outline: none;
}

@media (max-width: 992px) {
  .header .header-container .header_bottom .header_bottom-content__right .header-bottom-search .header-search-form .header-search-form__input {
    padding: 0 8px;
  }
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-search .header-search-form .header-search-form__search-btn {
  background: var(--colors-white, #fff);
  border: none;
  margin: auto 14px;
  height: 18px;
  padding: 0;
  cursor: pointer;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  user-select: none;
  gap: var(---gap-small, 16px);
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn {
  background: var(--colors-green-500-primary, #2ea84f);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  padding: 0px 8px;
  cursor: pointer;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn .header-bottom__profile-log {
  color: var(--colors-white, #fff);
  font-size: 10px;
  line-height: 100%;
  max-width: 46px;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn:hover {
  background: var(--colors-green-700, #1d6d33);
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn.header-bottom__profile-btn {
  width: unset;
  max-width: 91px;
  padding: 0px 12px 0px 8px;
  align-items: center;
  gap: 2px;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn.header-bottom__profile-btn .header-bottom__profile-authorized {
  display: none;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn.header-bottom__profile-btn.authorized .header-bottom__profile-authorized {
  display: block;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn.header-bottom__profile-btn.authorized .header-bottom__profile-login {
  display: none;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn.header-bottom__profile-btn.authorized svg {
  fill: #fff;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-cart .header-bottom-counter {
  display: none;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-cart.counter {
  position: relative;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-cart.counter .header-bottom-counter {
  display: flex;
  padding: 2px 3px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  position: absolute;
  right: 6px;
  top: 12px;
  border-radius: 28px;
  border: 1px solid var(--colors-green-500-primary, #2ea84f);
  background: var(--colors-white, #fff);
  color: var(--colors-green-500-primary, #2ea84f);
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 6px; /* 75% */
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-cart.counter:hover .header-bottom-counter {
  border: 1px solid var(--colors-green-700, #1d6d33);
}
.header .header-container .header_bottom .header_bottom-content__right .language_switch-bottom {
  display: none;
}
.header .header-container .header_bottom.fixed {
  position: fixed;
  top: 0;
  z-index: 21;
  transition: top 0.5s ease-in-out;
}
.header .header-container .header_bottom.fixed .header_bottom-content__left {
  display: flex;
  gap: var(---gap-small, 16px);
}
.header .header-container .header_bottom.fixed .header_bottom-content__left .main_logo-bottom {
  display: block !important;
  width: 144px;
  height: 48px;
  margin-left: 6px;
  background: url("/images/main logo_w.png") 50%/cover no-repeat;
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom .language_switch-span {
  color: var(--colors-white, #fff);
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom .language_switch-span.active {
  color: var(--colors-green-500-primary, #2ea84f);
  background: var(--colors-white, #fff);
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom input[type=checkbox] {
  background: var(--colors-white, #fff);
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom input[type=checkbox]::before {
  background-color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom input[type=checkbox]:checked::before {
  background-color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_bottom.mobile {
  top: -80px;
}
@keyframes slideOpation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.header .header-container .catalog_products_main {
  width: min(95%, var(---width, 1366px) + 1.25%);
  align-items: flex-start;
  position: fixed;
  top: 128px;
  border-radius: 0px 0px var(---radius-block, 24px) var(---radius-block, 24px);
  background: rgba(255, 255, 255, 0.64);
  backdrop-filter: blur(8px);
  z-index: 20;
  left: auto;
  left: 50%;
  transform: translateX(-50%);
  min-height: 630px;
  height: 68.5vh;
  max-height: 650px;
}
.header .header-container .catalog_products_main.active {
  top: 64px;
}
.header .header-container .catalog_products_main .main-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-self: stretch;
  padding: 16px 0px 16px 16px;
  backdrop-filter: blur(8px);
  border-radius: 0px 0px 0px 24px;
  list-style: none;
  margin: 0;
  width: 280px;
  height: calc(100% - 32px);
}
.header .header-container .catalog_products_main .main-menu .vertical-list {
  display: flex;
  align-items: center;
  align-self: stretch;
  height: 48px;
  padding: 0px 12px 0px 8px;
}
.header .header-container .catalog_products_main .main-menu .vertical-list a {
  display: flex;
  align-items: center;
  color: var(--colors-gray-700, #2f2c2f);
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 100%;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .nsmenu-thumb {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.header .header-container .catalog_products_main .main-menu .vertical-list:hover {
  border-radius: 8px 0px 0px 8px;
  background: var(--colors-white, #fff);
}
.header .header-container .catalog_products_main .main-menu .vertical-list:hover .active-link {
  color: var(--colors-green-500-primary, #2ea84f);
  font-weight: 500;
}
.header .header-container .catalog_products_main .main-menu .vertical-list:hover path {
  stroke: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list {
  display: none;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: var(---gap-basic, 24px);
  flex: 1 0 0;
  width: calc(var(---width, 1366px) - 91.89%);
  position: absolute;
  top: 0;
  left: 296px;
  background: var(--colors-white, #fff);
  height: 100%;
  border-radius: 0px 0px 24px 0px;
  animation: slideOpation 0.5s ease forwards;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left {
  padding: 28px 24px 24px 24px;
  gap: var(---gap-basic, 24px);
  flex: 1 0 0;
  align-self: stretch;
  columns: 3;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  break-inside: avoid-column;
  padding: 6px 0;
  padding-right: 24px;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .menu-categories-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .menu-categories-list a {
  line-height: 24px;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .menu-categories-list .submenu-list__see-all {
  color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .submenu-list__name {
  font-weight: 500;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .submenu-list__span:hover,
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .submenu-list__name:hover,
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item a:hover {
  color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-right .js-menu-col-img {
  height: 100%;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-right .js-menu-col-img .js-menu-right__link {
  height: 100%;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-right .js-menu-col-img .js-menu-right__link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 24px 0px;
}
.header .header-container .header_promo-mobile {
  display: none;
}
@media (max-width: 992px) {
  /* .header .header-container {
    width: 99%;
  } */

  .header .header-container .header_top {
    display: none;
  }
  .header .header-container .header_promo-mobile {
    display: block;
    width: 100%;
    height: 48px;
    background: linear-gradient(90deg, #04060c, #6b1416);
  }
  .header .header-container .header_promo-mobile img {
    width: 100%;
    object-fit: contain;
    height: 48px;
  }
  .header .header-container .header_bottom .main_logo-bottom {
    display: block !important;
    width: 63.429px !important;
    height: 48px !important;
    margin-left: 6px !important;
    background: url("/images/mobile-logo.png") 50%/contain no-repeat !important;
  }
  .header .header-container .header_bottom .header_bottom-catalog,
  .header .header-container .header_bottom .language_switch,
  .header .header-container .header_bottom .header-bottom-controls {
    display: none !important;
  }
}/*# sourceMappingURL=Header.css.map */