@charset "UTF-8";
.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header .header-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}
.header .header-container .header_top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  background: var(---white, #fff);
  font-size: 14px;
  user-select: none;
}
.header .header-container .header_top a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header .header-container .header_top a:hover {
  color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_top .header_top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  flex-shrink: 0;
}
.header .header-container .header_top .header_top-content .left_side {
  display: flex;
  align-items: center;
  padding: 0px 8px 0px 6px;
  gap: var(---gap-basic, 24px);
}
.header .header-container .header_top .header_top-content .left_side .main_logo {
  display: flex;
  align-items: center;
}
.header .header-container .header_top .header_top-content .left_side .main_logo .main_logo-img {
  width: 144px;
  height: 48px;
  background: url("/images/main logo.png") 50%/cover no-repeat;
}
.header .header-container .header_top .header_top-content .left_side .city-switch {
  display: flex;
  align-items: center;
  gap: 2px;
}
.header .header-container .header_top .header_top-content .left_side .city-switch:hover path {
  fill: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_top .header_top-content .right_side {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  gap: var(---gap-basic, 24px);
}
.header .header-container .header_top .header_top-content .right_side .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(---gap-basic, 24px);
}
.header .header-container .header_top .header_top-content .right_side .menu .menu_promotion {
  padding: 8px 24px;
  border-radius: 24px;
  background: var(--colors-red-300, #fa8072);
  color: var(---white, #fff);
  text-align: center;
}
.header .header-container .header_top .header_top-content .right_side .menu .menu_promotion:hover {
  background: var(--colors-red-500, #dc343b);
}
.header .header-container .header_top .header_top-content .right_side .menu .menu_contacts {
  gap: 2px;
}
.header .header-container .header_top .header_top-content .right_side .menu .menu_pixocoin {
  display: flex;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
  border-radius: var(---radius-block, 24px);
  background: var(--colors-red-500, #dc343b);
  color: var(--colors-white, #fff);
  text-align: center;
  font-size: 14px;
}
.header .header-container .header_top .header_top-content .right_side .menu .menu_pixocoin .monetka {
  background-color: var(--colors-yellow-500, #ffbf00);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial;
  border-radius: 30px;
  transition: transform 1s;
  z-index: 2;
}
.header .header-container .header_top .header_top-content .right_side .menu .menu_pixocoin .monetka::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="12" viewBox="0 0 24 12" fill="none"><path d="M4.04127 9.5985C3.27608 9.5985 2.69307 9.39359 2.29226 8.98418V11.6044C2.29226 11.7591 2.26493 11.8635 2.21027 11.9181C2.15561 11.9727 2.03719 12 1.855 12H1.10327C0.93019 12 0.814144 11.9727 0.754734 11.9181C0.695324 11.8635 0.666016 11.7587 0.666016 11.6044V5.57239C0.666016 4.53521 0.909595 3.73457 1.39715 3.17049C1.88431 2.60641 2.66574 2.32437 3.74066 2.32437C4.72448 2.32437 5.48968 2.57674 6.03625 3.08188C6.58282 3.58703 6.8561 4.29866 6.8561 5.21756V6.5004C6.8561 7.49209 6.6145 8.25633 6.1317 8.79312C5.6489 9.32991 4.95183 9.5985 4.04127 9.5985ZM5.23026 6.35048V5.49051C5.23026 4.87184 5.10946 4.41693 4.86826 4.12579C4.62666 3.83465 4.25119 3.68908 3.74106 3.68908C3.23093 3.68908 2.86853 3.83465 2.62732 4.12579C2.38573 4.41693 2.26532 4.87184 2.26532 5.49051V6.33663C2.26532 7.59217 2.75723 8.21994 3.74106 8.21994C4.72488 8.21994 5.23065 7.59692 5.23065 6.35048H5.23026Z" fill="white"/><path d="M8.83328 1.92445C8.55089 1.92445 8.32553 1.85166 8.1568 1.70609C7.98808 1.56052 7.90411 1.36036 7.90411 1.10562V0.818829C7.90411 0.554984 7.98808 0.352848 8.1568 0.21163C8.32513 0.0708069 8.55089 0 8.83328 0C9.11567 0 9.3545 0.0704113 9.52322 0.21163C9.69155 0.352848 9.77591 0.554984 9.77591 0.818829V1.10562C9.77591 1.36036 9.69155 1.56052 9.52322 1.70609C9.3545 1.85166 9.12478 1.92445 8.83328 1.92445Z" fill="white"/><path d="M9.63967 2.91139V9.27097C9.63967 9.43473 9.60996 9.54193 9.55095 9.59177C9.49154 9.64201 9.37549 9.66693 9.20241 9.66693H8.45068C8.2776 9.66693 8.16156 9.64201 8.10215 9.59177C8.04274 9.54193 8.01343 9.43473 8.01343 9.27097V2.91139C8.01343 2.74763 8.04274 2.64082 8.10215 2.59058C8.16116 2.54074 8.27721 2.51543 8.45068 2.51543H9.20241C9.37549 2.51543 9.49154 2.54074 9.55095 2.59058C9.60996 2.64082 9.63967 2.74763 9.63967 2.91139Z" fill="white"/><path d="M10.9867 2.51543H12.0117C12.1483 2.51543 12.2509 2.54272 12.319 2.59731C12.3876 2.6519 12.4577 2.73853 12.5309 2.85641L13.6649 4.75356L14.84 2.84296C14.9129 2.72468 14.9834 2.64043 15.0519 2.59059C15.1204 2.54074 15.2226 2.51543 15.3592 2.51543H16.2884C16.507 2.51543 16.6163 2.59296 16.6163 2.74763C16.6163 2.82041 16.5843 2.90229 16.5205 2.99328L14.539 5.90032L16.6433 9.18908C16.707 9.28006 16.7391 9.36195 16.7391 9.43473C16.7391 9.5894 16.6298 9.66693 16.4112 9.66693H15.3592C15.2226 9.66693 15.12 9.64201 15.0519 9.59177C14.9838 9.54193 14.9129 9.45767 14.84 9.3394L13.5829 7.12856L12.3392 9.32555C12.2755 9.44383 12.207 9.53006 12.1345 9.58465C12.0616 9.63924 11.9566 9.66654 11.82 9.66654H10.85C10.6314 9.66654 10.5221 9.5894 10.5221 9.43434C10.5221 9.37065 10.5585 9.28877 10.6314 9.18869L12.7084 5.89992L10.7546 2.99288C10.6908 2.9019 10.6587 2.82002 10.6587 2.74723C10.6587 2.59256 10.768 2.51503 10.9867 2.51503V2.51543Z" fill="white"/><path d="M20.1936 9.85759C19.2189 9.85759 18.4584 9.59138 17.9115 9.05934C17.3649 8.5269 17.0916 7.78323 17.0916 6.82793V5.49051C17.0916 4.48972 17.3649 3.71203 17.9115 3.15665C18.458 2.60166 19.2185 2.32437 20.1936 2.32437C21.1687 2.32437 21.9291 2.59059 22.4757 3.12263C23.0223 3.65467 23.2956 4.39873 23.2956 5.35403V6.69146C23.2956 7.68315 23.0223 8.45886 22.4757 9.0182C21.9291 9.57793 21.1683 9.85759 20.1936 9.85759ZM20.1936 8.47943C21.1774 8.47943 21.6693 7.86076 21.6693 6.62342V5.55894C21.6693 4.3216 21.1774 3.70293 20.1936 3.70293C19.2098 3.70293 18.7179 4.3216 18.7179 5.55894V6.62342C18.7179 7.86076 19.2098 8.47943 20.1936 8.47943Z" fill="white"/></svg>');
  margin-top: 2px;
}
.header .header-container .header_top .header_top-content .right_side .menu .menu_pixocoin .circle {
  position: absolute;
  top: -4px;
  left: -4px;
  background-color: var(--colors-white, #fff);
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
.header .header-container .header_top .header_top-content .right_side .menu .menu_pixocoin .half-flipped {
  transform: rotateY(360deg);
}
.header .header-container .header_top .header_top-content .right_side .language_switch-top .language_switch-span.active {
  color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_top .header_top-content .right_side .language_switch-top input[type=checkbox] {
  background: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_top .header_top-content .right_side .language_switch-top input[type=checkbox]::before {
  background-color: var(---white, #fff);
}
.header .header-container .header_top .header_top-content .right_side .language_switch-top input[type=checkbox]:checked::before {
  background-color: var(---white, #fff);
}
.header .header-container .header_bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  position: static;
  transition: top 3s ease; /* добавляем transition для плавного изменения свойств */
  background: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_bottom .header_bottom-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 0px;
  gap: var(---gap-big, 48px);
  flex-shrink: 0;
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left {
  user-select: none;
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left .main_logo-bottom {
  display: none;
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left .header_bottom-catalog {
  position: relative;
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left .header_bottom-catalog .header-bottom-catalog__desc {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0px 48px 0px 8px;
  gap: 4px;
  border-radius: 8px;
  background: var(--colors-green-700, #1d6d33);
  cursor: pointer;
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left .header_bottom-catalog .header-bottom-catalog__desc:hover {
  background: var(--colors-green-600, #25863f);
}
.header .header-container .header_bottom .header_bottom-content .header_bottom-content__left .header_bottom-catalog .header-bottom-catalog__desc .header-bottom-catalog__label {
  color: var(--colors-white, #fff);
  font-size: 16px;
}
@media (max-width: 719px) {
  .header .header-container .header_bottom .header_bottom-content {
    gap: 16px;
    padding: 16px;
    font-size: 12px;
  }
}
.header .header-container .header_bottom .header_bottom-content__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  padding-left: 48px;
  gap: var(---gap-small, 16px);
  flex: 1 0 0;
}
@media (max-width: 719px) {
  .header .header-container .header_bottom .header_bottom-content__right {
    padding-left: 0;
  }
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-search {
  background: var(--colors-white, #fff);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  min-width: 220px;
  max-width: 580px;
  gap: var(---gap-basic, 24px);
  flex: 1 0 0;
  height: 36px;
  border-radius: 8px;
  border: 2px solid var(--colors-gray-100, #f7f7f7);
  margin: auto 0;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-search .header-search-form {
  display: flex;
  width: 100%;
  height: 100%;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-search .header-search-form .header-search-form__input {
  background: var(--colors-white, #fff);
  color: var(--colors-gray-300, #c0c0c0);
  font-weight: 400;
  border: none;
  flex: 1;
  padding: 0 16px;
  text-overflow: ellipsis;
  outline: none;
}
@media (max-width: 719px) {
  .header .header-container .header_bottom .header_bottom-content__right .header-bottom-search .header-search-form .header-search-form__input {
    padding: 0 8px;
  }
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-search .header-search-form .header-search-form__search-btn {
  background: var(--colors-white, #fff);
  border: none;
  margin: auto 14px;
  height: 18px;
  padding: 0;
  cursor: pointer;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  user-select: none;
  gap: var(---gap-small, 16px);
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn {
  background: var(--colors-green-500-primary, #2ea84f);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  padding: 0px 8px;
  cursor: pointer;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn .header-bottom__profile-log {
  color: var(--colors-white, #fff);
  font-size: 10px;
  line-height: 100%;
  max-width: 46px;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn:hover {
  background: var(--colors-green-700, #1d6d33);
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn.header-bottom__profile-btn {
  width: unset;
  max-width: 91px;
  padding: 0px 12px 0px 8px;
  align-items: center;
  gap: 2px;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn.header-bottom__profile-btn .header-bottom__profile-authorized {
  display: none;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn.header-bottom__profile-btn.authorized .header-bottom__profile-authorized {
  display: block;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn.header-bottom__profile-btn.authorized .header-bottom__profile-login {
  display: none;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-controls__btn.header-bottom__profile-btn.authorized svg {
  fill: #fff;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-cart .header-bottom-counter {
  display: none;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-cart.counter {
  position: relative;
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-cart.counter .header-bottom-counter {
  display: flex;
  padding: 2px 3px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  position: absolute;
  right: 6px;
  top: 12px;
  border-radius: 28px;
  border: 1px solid var(--colors-green-500-primary, #2ea84f);
  background: var(--colors-white, #fff);
  color: var(--colors-green-500-primary, #2ea84f);
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 6px; /* 75% */
}
.header .header-container .header_bottom .header_bottom-content__right .header-bottom-controls .header-bottom-cart.counter:hover .header-bottom-counter {
  border: 1px solid var(--colors-green-700, #1d6d33);
}
.header .header-container .header_bottom .header_bottom-content__right .language_switch-bottom {
  display: none;
}
.header .header-container .header_bottom.fixed {
  position: fixed;
  top: 0;
  z-index: 21;
  transition: top 0.5s ease-in-out;
}
.header .header-container .header_bottom.fixed .header_bottom-content__left {
  display: flex;
  gap: var(---gap-small, 16px);
}
.header .header-container .header_bottom.fixed .header_bottom-content__left .main_logo-bottom {
  display: block !important;
  width: 144px;
  height: 48px;
  margin-left: 6px;
  background: url("/images/main logo_w.png") 50%/cover no-repeat;
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom .language_switch-span {
  color: var(--colors-white, #fff);
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom .language_switch-span.active {
  color: var(--colors-green-500-primary, #2ea84f);
  background: var(--colors-white, #fff);
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom input[type=checkbox] {
  background: var(--colors-white, #fff);
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom input[type=checkbox]::before {
  background-color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_bottom.fixed .header_bottom-content__right .language_switch-bottom input[type=checkbox]:checked::before {
  background-color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .header_bottom.mobile {
  top: -80px;
}
@keyframes slideOpation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.header .header-container .catalog_products_main {
  width: min(95%, var(---width, 1366px) + 1.25%);
  align-items: flex-start;
  position: fixed;
  top: 128px;
  border-radius: 0px 0px var(---radius-block, 24px) var(---radius-block, 24px);
  background: rgba(255, 255, 255, 0.64);
  backdrop-filter: blur(8px);
  z-index: 20;
  left: auto;
  left: 50%;
  transform: translateX(-50%);
  min-height: 630px;
  height: 68.5vh;
  max-height: 650px;
}
.header .header-container .catalog_products_main.active {
  top: 64px;
}
.header .header-container .catalog_products_main .main-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-self: stretch;
  padding: 16px 0px 16px 16px;
  backdrop-filter: blur(8px);
  border-radius: 0px 0px 0px 24px;
  list-style: none;
  margin: 0;
  width: 280px;
  height: calc(100% - 32px);
}
.header .header-container .catalog_products_main .main-menu .vertical-list {
  display: flex;
  align-items: center;
  align-self: stretch;
  height: 48px;
  padding: 0px 12px 0px 8px;
}
.header .header-container .catalog_products_main .main-menu .vertical-list a {
  display: flex;
  align-items: center;
  color: var(--colors-gray-700, #2f2c2f);
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 100%;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .nsmenu-thumb {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.header .header-container .catalog_products_main .main-menu .vertical-list:hover {
  border-radius: 8px 0px 0px 8px;
  background: var(--colors-white, #fff);
}
.header .header-container .catalog_products_main .main-menu .vertical-list:hover .active-link {
  color: var(--colors-green-500-primary, #2ea84f);
  font-weight: 500;
}
.header .header-container .catalog_products_main .main-menu .vertical-list:hover path {
  stroke: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list {
  display: none;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: var(---gap-basic, 24px);
  flex: 1 0 0;
  width: calc(var(---width, 1366px) - 91.89%);
  position: absolute;
  top: 0;
  left: 296px;
  background: var(--colors-white, #fff);
  height: 100%;
  border-radius: 0px 0px 24px 0px;
  animation: slideOpation 0.5s ease forwards;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left {
  padding: 28px 24px 24px 24px;
  gap: var(---gap-basic, 24px);
  flex: 1 0 0;
  align-self: stretch;
  columns: 3;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  break-inside: avoid-column;
  padding: 6px 0;
  padding-right: 24px;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .menu-categories-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .menu-categories-list a {
  line-height: 24px;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .menu-categories-list .submenu-list__see-all {
  color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .submenu-list__name {
  font-weight: 500;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .submenu-list__span:hover,
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item .submenu-list__name:hover,
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-left .submenu-list__item a:hover {
  color: var(--colors-green-500-primary, #2ea84f);
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-right .js-menu-col-img {
  height: 100%;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-right .js-menu-col-img .js-menu-right__link {
  height: 100%;
}
.header .header-container .catalog_products_main .main-menu .vertical-list .js-menu-list.active .js-menu-col-right .js-menu-col-img .js-menu-right__link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 24px 0px;
}
.header .header-container .header_promo-mobile {
  display: none;
}
@media (max-width: 719px) {
  .header .header-container {
    width: 99%;
  }
  .header .header-container .header_top {
    display: none;
  }
  .header .header-container .header_promo-mobile {
    display: block;
    width: 100%;
    height: 48px;
    background: linear-gradient(90deg, #04060c, #6b1416);
  }
  .header .header-container .header_promo-mobile img {
    width: 100%;
    object-fit: contain;
    height: 48px;
  }
  .header .header-container .header_bottom .main_logo-bottom {
    display: block !important;
    width: 63.429px !important;
    height: 48px !important;
    margin-left: 6px !important;
    background: url("/images/mobile-logo.png") 50%/contain no-repeat !important;
  }
  .header .header-container .header_bottom .header_bottom-catalog,
  .header .header-container .header_bottom .language_switch,
  .header .header-container .header_bottom .header-bottom-controls {
    display: none !important;
  }
}/*# sourceMappingURL=Header.css.map */