.pop-up-search-modal {
  display: none;
  left: 0;
  top: 0;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  scrollbar-width: thin;
  position: fixed;
  transform: translate(0, 0%);
  transition: all 0.5s ease;
  width: 100%;
  box-sizing: border-box;
  z-index: 50;
}
@media (max-width: 719px) {
  .pop-up-search-modal {
    flex-direction: column;
    gap: 12px;
    height: 100%;
  }
}
.pop-up-search-modal .pop-up-search-container {
  background: var(--modal-colors-white, #fff);
  margin: 2% auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  width: min(95%, var(---width, 1366px) - 96px);
  padding: 48px;
  gap: 32px;
  border-radius: 32px;
  background: var(--modal-colors-white, #fff);
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.16);
}
@media (max-width: 1520px) {
  .pop-up-search-modal .pop-up-search-container {
    margin: 2%;
    width: calc(100% - 144px);
  }
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container {
    width: calc(95% - 32px);
    max-height: calc(100% - 56px);
    padding: 16px;
    padding-top: 24px;
    margin: 8px auto;
  }
}
.pop-up-search-modal .pop-up-search-container .header-search-top {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 16px;
  background: var(--modal-colors-white, #fff);
  border-radius: 8px;
  border: 2px solid var(--modal-colors-gray-100, #f7f7f7);
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .header-search-top {
    padding: 0;
  }
}
.pop-up-search-modal .pop-up-search-container .header-search-top .pop-up-header-search-form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .header-search-top .pop-up-header-search-form {
    height: unset;
    position: relative;
    justify-content: space-between;
  }
  .pop-up-search-modal .pop-up-search-container .header-search-top .pop-up-header-search-form .pop-up-header-search-form-svg {
    left: 16px;
    position: absolute;
  }
  .pop-up-search-modal .pop-up-search-container .header-search-top .pop-up-header-search-form .header-search-form__search-btn-close {
    right: 16px;
    position: absolute;
  }
}
.pop-up-search-modal .pop-up-search-container .header-search-top .pop-up-header-search-form .pop-up-header-search-form__input {
  background: var(--modal-colors-white, #fff);
  border: none;
  flex: 1;
  padding: 0 24px;
  color: var(--modal-colors-gray-500, #696969);
  font-size: 24px;
  font-weight: 400;
  outline: none;
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .header-search-top .pop-up-header-search-form .pop-up-header-search-form__input {
    padding: 16px 52px;
    font-size: 20px;
    width: 100%;
  }
}
.pop-up-search-modal .pop-up-search-container .header-search-top .pop-up-header-search-form .header-search-form__search-btn-close {
  width: 24px;
  height: 24px;
  border: none;
  background: var(--modal-colors-white, #fff);
  cursor: pointer;
}
.pop-up-search-modal .pop-up-search-container .header-search-top .pop-up-header-search-form .header-search-form__search-btn-close:hover path {
  stroke: var(--colors-gray-300, #c0c0c0);
}
.pop-up-search-modal .pop-up-search-container .header-search-top .pop-up-header-search-form .header-search-form__search-btn-close:active path {
  stroke: var(---pink-btn, #f37d7d);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container {
  display: none;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  gap: var(---gap-big, 48px);
  max-height: 825px;
  width: 100%;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container.active {
  display: flex;
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container.active {
    flex-direction: column;
    min-height: unset;
    height: unset;
    max-height: unset;
    gap: 16px;
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .submenu-list__i-container {
  display: flex;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .catalog_products_main {
  height: 100%;
  font-size: 16px;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .catalog_products_main .main-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-self: stretch;
  width: 280px;
  padding: 0;
  list-style: none;
  margin: 0;
  position: relative;
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .catalog_products_main .main-menu {
    width: unset;
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .catalog_products_main .main-menu .contain-submenu {
  width: 100%;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .catalog_products_main .main-menu .contain-submenu.active .category-link {
  color: var(--modal-colors-green-400, #62b278);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .catalog_products_main .main-menu .contain-submenu.active .category-link .parent-link-count {
  color: var(--modal-colors-green-400, #62b278);
  background: var(--modal-colors-green-100, #e9f9e9);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .catalog_products_main .main-menu .contain-submenu:not(.active) .category-link:hover {
  background: var(--modal-colors-gray-100, #f7f7f7);
  color: var(--modal-colors-green-400, #62b278);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .catalog_products_main .main-menu .contain-submenu:not(.active) .category-link:hover .parent-link-count {
  color: var(--modal-colors-green-400, #62b278);
  background: var(--modal-colors-green-100, #e9f9e9);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .catalog_products_main .main-menu .contain-submenu .category-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 48px;
  padding: 0px 8px;
  color: var(--modal-colors-gray-700, #2f2c2f);
  border-bottom: 1px solid var(--modal-colors-gray-100, #f7f7f7);
  cursor: pointer;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .catalog_products_main .main-menu .contain-submenu .category-link .parent-link-count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px 8px;
  color: var(--modal-colors-gray-400, #929292);
  text-align: center;
  font-size: 12px;
  border-radius: 24px;
  background: var(--modal-colors-gray-100, #f7f7f7);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content {
  flex: 1 0 0;
  display: none;
  align-self: stretch;
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content {
    justify-content: center;
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-self: stretch;
  flex: 0 1 20%;
  break-inside: avoid-column;
  padding: 0;
  background: var(--modal-colors-white, #fff);
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item {
    gap: 24px;
    flex: 0 1 49%;
  }
}
@media (max-width: 665px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item {
    width: min(100%, 370px);
    flex: unset;
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 48px;
  padding: 0px 12px;
  border-bottom: 1px solid var(--modal-colors-gray-100, #f7f7f7);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__cont .submenu-list__cont-btn {
  display: flex;
  gap: var(---gap-small, 16px);
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__cont .submenu-list__cont-btn {
    display: none;
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__cont .submenu-list__cont-btn .submenu-list__btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  width: 24px;
  height: 24px;
  padding: 4px 8px 4px 6px;
  border: 2px solid transparent;
  background: var(--modal-colors-gray-100, #f7f7f7);
  cursor: pointer;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__cont .submenu-list__cont-btn .submenu-list__btn:hover {
  border: 2px solid var(--modal-colors-gray-700, #2f2c2f);
  background: var(--modal-colors-white, #fff);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__cont .submenu-list__cont-btn .submenu-list__btn:hover path {
  stroke: var(--modal-colors-gray-700, #2f2c2f);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__cont .submenu-list__cont-btn .submenu-list__btn-right {
  padding: 4px 6px 4px 8px;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__link {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--modal-colors-gray-700, #2f2c2f);
  gap: 4px;
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__link {
    padding: 16px 8px;
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__link::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.5858 5H15C14.4477 5 14 4.55228 14 4C14 3.44772 14.4477 3 15 3H18C19.6569 3 21 4.34315 21 6V9C21 9.55228 20.5523 10 20 10C19.4477 10 19 9.55228 19 9V6.41421L12.7071 12.7071C12.3166 13.0976 11.6834 13.0976 11.2929 12.7071C10.9024 12.3166 10.9024 11.6834 11.2929 11.2929L17.5858 5ZM19 13C19 12.4477 19.4477 12 20 12C20.5523 12 21 12.4477 21 13V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6C3 4.34315 4.34315 3 6 3H11C11.5523 3 12 3.44772 12 4C12 4.55228 11.5523 5 11 5H6C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V13Z" fill="%232F2C2F"/></svg>');
  width: 24px;
  height: 24px;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__link:hover {
  color: var(--modal-colors-blue-400, #62a8ed);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__link:hover::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.5858 5H15C14.4477 5 14 4.55228 14 4C14 3.44772 14.4477 3 15 3H18C19.6569 3 21 4.34315 21 6V9C21 9.55228 20.5523 10 20 10C19.4477 10 19 9.55228 19 9V6.41421L12.7071 12.7071C12.3166 13.0976 11.6834 13.0976 11.2929 12.7071C10.9024 12.3166 10.9024 11.6834 11.2929 11.2929L17.5858 5ZM19 13C19 12.4477 19.4477 12 20 12C20.5523 12 21 12.4477 21 13V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6C3 4.34315 4.34315 3 6 3H11C11.5523 3 12 3.44772 12 4C12 4.55228 11.5523 5 11 5H6C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V13Z" fill="%2362a8ed"/></svg>');
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  gap: 8px 24px;
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list {
    width: 100%;
    margin: 0;
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item {
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  border: 2px solid transparent;
  min-width: 260px;
  max-width: 278px;
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item {
    min-width: unset;
    max-width: unset;
    display: flex;
    align-self: stretch;
    justify-content: space-between;
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item:hover {
  border: 2px solid var(--modal-colors-gray-200, #e5e4e2);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 8px;
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link {
    width: 100%;
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link img {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 64px;
  height: 64px;
  object-fit: contain;
  border-radius: 8px;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link .global-p-short-product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  align-self: stretch;
  padding: 8px 0px;
  flex: 1 0 0;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link .global-p-short-product-container .global-p-short-product-span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  color: var(--modal-colors-gray-700, #2f2c2f);
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link .global-p-short-product-container .global-p-short-product {
  justify-content: space-between;
  gap: 0;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link .global-p-short-product-container .global-p-short-product div {
  align-items: center;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link .global-p-short-product-container .global-p-short-product .global-p-short-product-availability-price-container {
  color: var(--modal-colors-green-400, #62b278);
  font-family: Rubik;
  font-size: 8px;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link .global-p-short-product-container .global-p-short-product .global-p-short-product-availability-price-container::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3e%3cg clip-path='url(%23clip0_10851_21842)'%3e%3cpath d='M11.3333 6C11.3333 8.94552 8.94552 11.3333 6 11.3333C3.05448 11.3333 0.666667 8.94552 0.666667 6C0.666667 3.05448 3.05448 0.666667 6 0.666667C8.94552 0.666667 11.3333 3.05448 11.3333 6Z' stroke='%2362B378' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M3.66699 6.78336L5.16699 8.28336L8.91699 4.53336' stroke='%2362B378' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_10851_21842'%3e%3crect width='12' height='12' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-bottom: 2px;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link .global-p-short-product-container .global-p-short-product .global-p-short-product-old-price-container {
  color: var(--modal-colors-gray-300, #c0c0c0);
  font-size: 10px;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link .global-p-short-product-container .global-p-short-product .global-p-short-product-discount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px 2px 4px;
  border-radius: 14.824px;
  background: var(--modal-colors-red-300, #fa8072);
  color: var(--modal-colors-white, #fff);
  text-align: center;
  font-size: 8px;
  font-weight: 700;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .search-menu-categories .search-menu-categories-list .search-menu-categories-list__item .search-menu-categories-list__link .global-p-short-product-container .global-p-short-product .global-p-short-product-new-price-container {
  color: var(--modal-colors-gray-700, #2f2c2f);
  font-size: 14px;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .menu-categories-bottom {
  cursor: pointer;
  padding: 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .menu-categories-bottom .submenu-list__see-all {
  color: var(--modal-colors-gray-400, #929292);
  text-align: center;
  font-size: 12px;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .menu-categories-bottom .submenu-list__see-all:hover {
  color: var(--modal-colors-blue-400, #62a8ed);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__cont-btn-mob {
  display: none;
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__cont-btn-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
  }
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content .menu-list-item .submenu-list__cont-btn-mob .submenu-list__btn {
    border: none;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 10px 0px;
    border-radius: 28px;
    background: var(--colors-gray-100, #f7f7f7);
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content.active {
  display: flex;
}
@media (max-width: 719px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content.active .search-menu-categories {
    display: flex;
    align-self: stretch;
    width: 100%;
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content.active:not(.all-category) .search-menu-categories-list__item {
  width: 100%;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content.all-category {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 48px;
}
@media (max-width: 1280px) {
  .pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content.all-category {
    gap: 12px;
  }
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content.all-category .search-menu-categories-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 282px;
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content.all-category .search-menu-categories-list .submenu-list__link {
  height: var(---button-height, 48px);
  padding: 0px 12px;
  border-bottom: 1px solid var(--modal-colors-gray-100, #f7f7f7);
}
.pop-up-search-modal .pop-up-search-container .catalog_products_main-container .category-content.few .submenu-list__cont-btn {
  display: none !important;
}

.pop-up-promo-modal {
  z-index: 99;
}
.pop-up-promo-modal .pop-up-promo-modal-content {
  width: 100vh !important;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.pop-up-promo-modal .pop-up-promo-modal-content .closing {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(---radius-min, 8px);
  background: rgba(47, 44, 47, 0.6);
  padding: 4px;
  width: 24px;
  height: 24px;
}
.pop-up-promo-modal .pop-up-promo-modal-content .closing::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.6568 15.0711C14.0473 15.4616 14.6805 15.4616 15.071 15.0711C15.4615 14.6805 15.4615 14.0474 15.071 13.6569L9.41414 8L15.071 2.34315C15.4615 1.95262 15.4615 1.31946 15.071 0.928932C14.6805 0.538408 14.0473 0.538408 13.6568 0.928932L7.99992 6.58579L2.34307 0.928932C1.95255 0.538408 1.31938 0.538408 0.928856 0.928932C0.538332 1.31946 0.538332 1.95262 0.928856 2.34315L6.58571 8L0.928856 13.6569C0.538331 14.0474 0.538332 14.6805 0.928856 15.0711C1.31938 15.4616 1.95255 15.4616 2.34307 15.0711L7.99992 9.41421L13.6568 15.0711Z" fill="%23E5E4E2"/></svg>');
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item {
  display: flex;
  position: relative;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .fil {
  display: none;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item img,
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item video {
  width: 100%;
  height: calc(100vh - 64px);
  object-fit: cover;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item.video-custom-play {
  position: relative;
  display: inline-block;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item.video-custom-play .video-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item.video-custom-play .video-play-icon .play-icon {
  display: block;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item.video-custom-play .video-play-icon .pause-icon {
  display: none;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item.video-custom-play.is-video-playing .play-icon {
  display: none;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item.video-custom-play.is-video-playing .pause-icon {
  display: block;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container {
  position: absolute;
  left: 0;
  bottom: 0;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .arrow {
  display: none;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo {
  display: flex;
  padding: 18.48px;
  width: calc(100% - 36.96px);
  flex-direction: column;
  align-items: flex-start;
  gap: 12.32px;
  z-index: 3;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%);
  box-shadow: 0px -18.48px 5.39px 0px rgba(41, 41, 41, 0), 0px -11.55px 4.62px 0px rgba(41, 41, 41, 0.03), 0px -6.93px 3.85px 0px rgba(41, 41, 41, 0.1), 0px -3.08px 3.08px 0px rgba(41, 41, 41, 0.17), 0px -0.77px 1.54px 0px rgba(41, 41, 41, 0.2);
  backdrop-filter: blur(6.1599998474px);
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__top.no-span {
  justify-content: flex-end;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__top .description-promo__span {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 32px;
  font-size: 14px;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__top .description-promo__span.today {
  background: #ff7d23;
  color: var(--colors-white, #fff);
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__top .description-promo__span.time {
  background: var(--colors-white, #fff);
  color: var(--colors-red-300, #fa8072);
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__top .description-promo__span.new {
  background: var(--colors-mint-300, #81d8d0);
  color: var(--colors-white, #fff);
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__top .description-promo__a {
  display: flex;
  padding: 7px 10px 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.2);
  color: var(--colors-white, #fff);
  font-size: 14px;
  transition: background 0.3s, color 0.3s;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__top .description-promo__a::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none"><path d="M5.63379 9.87988L8.71379 6.79988" stroke="white" stroke-width="1.54" stroke-linecap="round"/><path d="M5.63379 3.71997L8.71379 6.79997" stroke="white" stroke-width="1.54" stroke-linecap="round"/></svg>');
  width: 12.32px;
  height: 12.32px;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__top .description-promo__a:hover {
  display: inline-flex;
  padding: 5.39px 4.7px 5.39px 12.32px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: var(--colors-white, #fff);
  color: var(--colors-green-500-primary, #2ea84f);
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__top .description-promo__a:hover::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none"><path d="M5.63379 9.87988L8.71379 6.79988" stroke="%232EA84F" stroke-width="1.54" stroke-linecap="round"/><path d="M5.63379 3.71997L8.71379 6.79997" stroke="%232EA84F" stroke-width="1.54" stroke-linecap="round"/></svg>');
  width: 12.32px;
  height: 12.32px;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__bottom .head {
  color: var(--colors-white, #fff);
  font-size: 20px;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .promo--item .description-promo-container .description-promo .description-promo__bottom .text {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  color: var(--colors-white, #fff);
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .splide__arrows .splide__arrow {
  background: var(--colors-white, #fff);
}
.pop-up-promo-modal .pop-up-promo-modal-content .promo-baner .splide__arrows .splide__arrow svg {
  width: 12px;
  height: 12px;
}

.notifications-container {
  position: fixed;
  top: 50px;
  right: 70px;
  z-index: 100;
}
.notifications-container .notifications-item {
  position: relative;
  background: var(--colors-white, #fff);
  padding: 16px 50px 16px 16px;
  border-radius: 16px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: 360px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 32px 0px #00000029;
}
.notifications-container .notifications-item.info .icon {
  background-color: var(--colors-blue-100, #e9f5ff);
  background-image: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAVCAYAAABG1c6oAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHWSURBVHgB3VNLTuNAEH3VjTSwc8QM0qzGOUJukBtkZpnMYpyZAwycIMkNwgWw2WCxAk4QOAFHIDsWfGJlQ0C4i652QixhGwI7ntTq7uqq15/3mvAKgnDi6Q38kXHKOInatXFVPlWSxRNfgUcA+/P0sZlRI+rWkrIaVUWoYHpCZvBQlyZjtSGxqpqK00lnGMOo/X0szc77YGwH8VVzZUINDhkYgx52FzGzrmScEHRvJcK/8XXA4CaY+/OTOUS/aonhdEB2LTi4/llUS8WEtxeWEGF7s+7mBzfb0u91NofSd+PbkS30iwRSL8lu+k5VVsEiZpDCWLkXc0Y6cAKtm/+ounImBElSFHZqZ8skDWWWt4na305BdJwJ5MQrJpzbxLMWGeTjRNRi4lY+Zvh+R7bIagoIn21irZEXogzzHHnTIG8jtRzwyNlkNt3FGyE2kpq8jRyh2CQTwtqkW0/eSig2YpPZ6N/hxP13JZ/fdj3ZKex83ceKiH5vRQw65dQMhWtNf0mbNuDbnRplRSk/nkBpLlsXGxGpkeVqrTHDc4ZQ5JWeorM1RAU0k8eWw3o1oeBo4tHMnIvz8QHIk/Fs2nBmDeJLH0Y3ldI/8A4YQoK76f4qgn4iPAHsRdjh7DL+1wAAAABJRU5ErkJggg==');
  }
  .notifications-container .notifications-item.info .content .title {
  color: var(--colors-blue-400, #62a8ed);
}
.notifications-container .notifications-item.success .icon {
  background-color: var(--colors-green-100, #e9f9e9);
  background-image: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACYSURBVHgBndDLDYMwEATQHVeQEiiBFlJBlA6sNJAjUS6QW+iCDixogFJwHRxYFoQQID4L44sl+3lsg07mVXwsWMYplEcJAXE3V8MpapgSFVyi7PH/4Qo6vOoW6qH8UkUsCw3fs2fqNaiLEeOlNzAGpXVRoEF9o3XxDaYuAQ6l2ctBOUDvPTS+cYaH7KERLvERWo1131CzrwX431yvZurEpQAAAABJRU5ErkJggg==');
  }
  .notifications-container .notifications-item.success .content .title {
  color: var(--colors-green-400, #62b278);
}
.notifications-container .notifications-item.error .icon {
  background-color: var(--colors-red-100, #ffe4e1);
  background-image: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEkSURBVHgBzVTbVcMwDL1yyuOzI5QNOkI2KBu0GxDSAWwG4DRsUEboBIENsgHZgP4BKbFwSgKtsYN7Tj96z/GHdKUbSbFMcGAj5zEIN4Ae2hyTWJ7L+0fbL2xHJdMZE+cMjtnQ+wcjMC/fZBLbeQPbQURTDV1eqMUVHKhU+ipImGrx1FvRVgwo4QGBCgL/aZneZZpExJPOwaDxdwIXLiEXXzOtTGvakFETMm61izYBHrQ8fuOF5h92o+Z5pW5zBMKOFzgSvELN7Jrjs4OFIqKJ2PkJth0sdChOT2jgI2quVzBD8dnBQpd3WdZn29hpjddor38IzOswgquiT6YHs3PXHyp9MQ9G2S+y/eDQbJHqfHsLVclkBoqm+L+atRlXdiYXz53vC3oydVfMJ1EOAAAAAElFTkSuQmCC');
  }
  .notifications-container .notifications-item.error .content .title {
  color: var(--colors-red-300, #fa8072);
}
.notifications-container .notifications-item .icon {
  height: 24px;
  width: 24px;
  flex: 0 0 auto;
  background-position: 50%;
  background-size: 60%;
  border-radius: 50%;
  background-repeat: no-repeat;
}
.notifications-container .notifications-item .content {
  width: 100%;
}
.notifications-container .notifications-item .content .title {
  margin: 0 0 4px;
  line-height: 24px;
}
.notifications-container .notifications-item .content .text {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--colors-gray-700, #2f2c2f);
}
.notifications-container .notifications-item .close {
  background-position: 50%;
  background-size: 80%;
  background-color: unset;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.6564 15.0711C14.0469 15.4616 14.6801 15.4616 15.0706 15.0711C15.4611 14.6805 15.4611 14.0474 15.0706 13.6569L9.41377 8L15.0706 2.34315C15.4611 1.95262 15.4611 1.31946 15.0706 0.928932C14.6801 0.538408 14.0469 0.538408 13.6564 0.928932L7.99956 6.58579L2.3427 0.928932C1.95218 0.538408 1.31901 0.538408 0.92849 0.928932C0.537966 1.31946 0.537966 1.95262 0.92849 2.34315L6.58534 8L0.92849 13.6569C0.537965 14.0474 0.537966 14.6805 0.92849 15.0711C1.31901 15.4616 1.95218 15.4616 2.3427 15.0711L7.99956 9.41421L13.6564 15.0711Z" fill="%23E9E9E9"/></svg>');
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}
@media (max-width: 719px) {
.notifications-container {
  left: 15px;
  right: 15px;
  top: 50px;
  align-items: center;
}
.notifications-container .notifications-item {
  width: auto;
  padding: 12px 50px 12px 12px;
  margin-right: auto;
  margin-left: auto;
}
.notifications-container .notifications-item .icon {
  height: 32px;
  width: 32px;
  background-size: 50%;
}
.notifications-container .notifications-item .content .title {
  font-size: 12px;
  line-height: 1;
}
.notifications-container .notifications-item .content .text {
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notifications-container .notifications-item .close {
  display: none;
}
}

/*# sourceMappingURL=Pop Up.css.map */
