.customers-receive-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;

  .customers-receive-content-container {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    border-radius: 8px;

    .customers-receive-header {
      align-self: stretch;

      color: var(--colors-gray-700, #2f2c2f);
      text-align: center;
      font-size: 32px;

      @media (max-width: 992px) {
        font-size: 24px;
      }
    }

    .blocks-container {
      display: flex;
      padding: 0px 64px;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      gap: 0px 64px;
      align-self: stretch;
      flex-wrap: wrap;

      @media (max-width: 992px) {
        padding: 0px 12px;
        gap: 16px;
      }

      .block-box {
        display: flex;
        min-width: 300px;
        height: 80px;
        padding: 16px;
        align-items: center;
        gap: 4px;
        flex: 1 0 0;

        @media (max-width: 992px) {
          flex-direction: column;
          min-width: 135px;
          max-width: 170px;

          height: unset;
          padding: 0;
        }

        img {
          width: 80px;
          height: 80px;
          object-fit: contain;

          @media (max-width: 992px) {
            width: 64px;
            height: 64px;
          }
        }

        span {
          color: var(--colors-gray-500, #696969);
          font-size: 18px;
          @media (max-width: 992px) {
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }
  }
}
