.promo-rectangle-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;

  .promo-rectangle-content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 32px;
  }

  &.mobile {
    display: none;
  }
}

.promo-rectangle-block {
  display: flex;
  min-width: 380px;
  max-width: 480px;
  height: 64px;
  padding: 8px 8px 8px 24px;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 0;
  position: relative;

  border-radius: 16px;
  background-blend-mode: hue, normal;

  span {
    color: var(--colors-white, #fff);
    font-size: 20px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
  }

  .promo-rectangle-span__hover {
    position: absolute;
    opacity: 0;
  }

  img {
    position: absolute;
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }

  svg {
    position: absolute;
    right: 0;
    opacity: 0.5;
  }

  &.about-gadget {
    background: linear-gradient(0deg, #6cffdc 0%, #6cffdc 100%),
      radial-gradient(51.12% 134.79% at 83.82% 50%, #81dcec 0%, #0eb7d4 100%);

    img {
      top: -10px;
      right: 20px;

      width: 100px;
      transform: rotate(-15deg);
    }
  }

  &.old-smartphone {
    background: radial-gradient(
      51.12% 134.79% at 83.82% 50%,
      #81dcec 0%,
      #0eb7d4 100%
    );

    img {
      top: -5px;
      right: 20px;

      width: 132px;
    }
  }

  &.delivery-europe {
    background: linear-gradient(0deg, #8b78ff 0%, #8b78ff 100%),
      radial-gradient(51.12% 134.79% at 83.82% 50%, #81dcec 0%, #0eb7d4 100%);

    img {
      top: -10px;
      right: 10px;

      width: 116px;
    }
  }

  &:hover {
    .promo-rectangle-span {
      opacity: 0;
    }

    .promo-rectangle-span__hover {
      opacity: 1;
      font-weight: 400;

      span {
        font-weight: 700;
      }
    }

    &.about-gadget {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.16) 0%,
          rgba(255, 255, 255, 0.16) 100%
        ),
        linear-gradient(0deg, #6cffdc 0%, #6cffdc 100%),
        radial-gradient(51.12% 134.79% at 83.82% 50%, #81dcec 0%, #0eb7d4 100%);

      img {
        top: -20px;
        right: 10px;

        width: 116px;
        transform: rotate(0deg);
      }
    }

    &.old-smartphone {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.16) 0%,
          rgba(255, 255, 255, 0.16) 100%
        ),
        radial-gradient(51.12% 134.79% at 83.82% 50%, #81dcec 0%, #0eb7d4 100%);
      img {
        top: -30px;

        width: 156px;
      }
    }

    &.delivery-europe {
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.16) 0%,
          rgba(255, 255, 255, 0.16) 100%
        ),
        linear-gradient(0deg, #8b78ff 0%, #8b78ff 100%),
        radial-gradient(51.12% 134.79% at 83.82% 50%, #81dcec 0%, #0eb7d4 100%);

      img {
        top: -45px;
        right: 30px;

        width: 140px;
      }
    }
  }
}
