.accessories-tab {
  @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);

  .accessories-page-container {
    display: flex;
    align-items: flex-start;
    gap: 1px;
    align-self: stretch;

    .accessories-page-header-container {
      display: flex;
      padding: 32px 48px 24px 48px;
      align-items: flex-start;
      align-self: stretch;

      background: var(---white, #fff);

      border-radius: 24px 24px 0 0;

      .accessories-page-header {
        font-size: 24px;
      }
    }

    .accessories-page-content {
      display: flex;
      align-items: flex-start;
      gap: 1px;
      align-self: stretch;

      background: var(---disabled, #e9e9e9);

      border-radius: 0 0 24px 24px;

      .accessories-page-content-left {
        display: flex;
        width: calc(320px - (32px + 48px));
        padding: 32px 32px 32px 48px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        background: var(---white, #fff);

        border-radius: 0 0 0 24px;

        .accessories-page-checkbox-ul {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          display: flex;
          gap: var(---gap-small, 16px);
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;

          .accessories-page-checkbox-li {
            display: flex;
            align-items: center;
            align-self: stretch;
            gap: 4px;

            label {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              width: 100%;
              cursor: pointer;

              .accessories-page-checkbox-box {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;

                .accessories-page-checkbox-value {
                  color: var(--colors-gray-700, #2f2c2f);

                  font-weight: 400;
                }

                .accessories-page-checkbox-count {
                  display: flex;
                  padding: 2px 8px;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;

                  border-radius: var(---radius-block, 24px);
                  background: var(--colors-gray-100, #f7f7f7);

                  color: var(--colors-gray-400, #929292);
                  text-align: center;

                  font-size: 12px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      .accessories-page-content-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1px;
        flex: 1 0 0;

        .global-p-short-product {
          justify-content: flex-end !important;
          gap: var(---gap-basic, 24px);
        }

        .global-button-show-more {
          button {
            border-radius: 0 0 24px 0;
          }
        }
      }
    }
  }
}
