.global-block-content-container {
  @include flexbox($alignItems: flex-start, $direction: column, $self: stretch);
  gap: 1px;

  // user-select: none;

  border-radius: 32px;
  background: var(--colors-gray-200, #e5e4e2);

  /* block-shadow */
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

  .global-block-header {
    @include flexbox(
      $alignItems: center,
      $justify: space-between,
      $self: stretch
    );
    user-select: none;

    height: 64px;
    padding: 0px 16px 0px 12px;

    background: var(--colors-white, #fff);
    border-radius: 24px 24px 0 0;

    .global-block-header-left {
      @include flexbox($alignItems: center);

      padding: 8px 16px;
      gap: 8px;
      flex: 1 0 0;

      border-radius: 24px;

      color: var(--colors-gray-700, #2f2c2f);
      font-size: 20px;

      &::before {
        width: 24px;
        height: 24px;
      }
    }

    .global-block-header-right {
      @include flexbox($alignItems: flex-start);
      gap: var(---gap-small, 16px);

      .block-header--btn {
        @include flexbox($alignItems: flex-start);
        padding: 4px;

        button {
          @include flexbox($alignItems: center, $justify: center);

          width: 32px;
          height: 32px;
          padding: 6px 10px 6px 8px;
          border-radius: 28px;
          border: 2px solid var(--colors-white, #fff);
          background: var(--colors-white, #fff);
          cursor: pointer;

          &:hover {
            background: var(--colors-gray-100, #f7f7f7);
          }
          &::after {
            @include flexbox();
          }
        }
      }
      .block-header--btn-previous {
        button {
          &::after {
            margin-right: 3px;
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none"><path d="M7 1L1 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/><path d="M7 13L1 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/></svg>');
          }
          &:hover::after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none"><path d="M7 1L1 7" stroke="%23333333" stroke-width="2" stroke-linecap="round"/><path d="M7 13L1 7" stroke="%23333333" stroke-width="2" stroke-linecap="round"/></svg>');
          }
        }
      }
      .block-header--btn-next {
        button {
          &::after {
            margin-left: 3px;
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none"><path d="M1 13L7 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/><path d="M1 1L7 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/></svg>');
          }
          &:hover::after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none"><path d="M1 13L7 7" stroke="%23333333" stroke-width="2" stroke-linecap="round"/><path d="M1 1L7 7" stroke="%23333333" stroke-width="2" stroke-linecap="round"/></svg>');
          }
        }
      }
    }
  }

  .global-block-content {
    @include flexbox($alignItems: flex-start, $self: stretch);

    align-content: flex-start;
    gap: 1px;
    flex-wrap: wrap;

    .global-block-container {
      @include flexbox($alignItems: center, $direction: column);

      min-width: 200px;
      max-width: 260px;
      padding: 20px;
      gap: 8px;
      flex: 1 0 0;

      background: var(--colors-white, #fff);

      @media (max-width: 1290px) {
        padding: 10px !important;
      }

      .global-block-container-header {
        @include flexbox(
          $alignItems: center,
          $direction: column,
          $self: stretch
        );
        user-select: none;

        gap: 8px;

        .global-block-img {
          @include flexbox(
            $alignItems: center,
            $justify: center,
            $self: stretch
          );

          position: relative;
          border-radius: 4px;

          a {
            display: flex;
          }

          img {
            max-width: 232px;
            height: 232px;
            object-fit: contain;

            border-radius: 8px;
          }

          .global-block-credit__btn {
            display: flex;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            border: none;
            position: relative;
            border-radius: 28px;
            background: var(--colors-white, #fff);
            cursor: pointer;
            /* micro */
            box-shadow: 0px 1px 3px 0px rgba(51, 51, 51, 0.24);

            &.active {
              background: var(---green, #13dd8b);
            }

            &::after {
              content: "";
              width: 20px;
              height: 20px;
            }
          }

          .global-block-credit-group {
            display: flex;
            padding: 4px;
            flex-direction: column;
            align-items: flex-end;
            gap: 6px;

            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;

            .global-block-credit__span {
              display: flex;
              width: 16px;
              height: 16px;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              position: absolute;
              left: -2px;
              bottom: -2px;

              border-radius: 8px;
              background: var(--colors-white, #fff);

              /* micro */
              box-shadow: 0px 1px 3px 0px rgba(51, 51, 51, 0.24);

              color: var(---dark-gray, #333);
              text-align: center;
              font-size: 10px;
              line-height: 10px; /* 100% */
            }

            .global-block-credit__btn {
              &:hover {
                background: var(--colors-gray-100, #f7f7f7);
              }
            }
            .global-block-credit-mono__btn {
              &::after {
                background: url(/images/bank\ mono.png) no-repeat center/contain;
              }
            }

            .global-block-credit-privat__btn {
              &::after {
                background: url(/images/bank\ privat.png) no-repeat
                  center/contain;
              }
            }

            .global-block-credit-a-bank__btn {
              &::after {
                background: url(/images/bank\ a\ bank.png) no-repeat
                  center/contain;
              }
            }

            .global-block-credit-sense__btn {
              &::after {
                background: url(/images/bank\ sense.png) no-repeat
                  center/contain;
              }
            }
          }

          .global-block-add-group {
            display: flex;
            padding: 4px;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            opacity: 0;

            position: absolute;
            top: 0;
            right: 0px;

            .global-block-add-compare__btn,
            .global-block-add-wishlist__btn {
              &::after {
                width: 24px;
                height: 24px;
              }
            }

            .global-block-add-wishlist__btn {
              &::after {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.7248 19.92L5.31485 13.57C5.04485 13.32 4.82485 13.02 4.63485 12.71C3.58485 10.98 3.85485 8.75 5.31485 7.31C6.15485 6.47 7.28485 6 8.47485 6C10.3448 6 11.5148 7.09 12.0048 7.72C12.4948 7.1 13.6648 6 15.5348 6C16.7248 6 17.8548 6.47 18.6948 7.31C20.1349 8.75 20.4248 10.97 19.3748 12.71C19.1848 13.02 18.9648 13.31 18.6948 13.57L12.2848 19.92C12.1248 20.08 11.8948 20.08 11.7348 19.92H11.7248Z" stroke="%23333333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
              }
              &:hover::after {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.7248 19.92L5.31485 13.57C5.04485 13.32 4.82485 13.02 4.63485 12.71C3.58485 10.98 3.85485 8.75 5.31485 7.31C6.15485 6.47 7.28485 6 8.47485 6C10.3448 6 11.5148 7.09 12.0048 7.72C12.4948 7.1 13.6648 6 15.5348 6C16.7248 6 17.8548 6.47 18.6948 7.31C20.1349 8.75 20.4248 10.97 19.3748 12.71C19.1848 13.02 18.9648 13.31 18.6948 13.57L12.2848 19.92C12.1248 20.08 11.8948 20.08 11.7348 19.92H11.7248Z" stroke="%232ea84f" stroke-linecap="round" stroke-linejoin="round"/></svg>');
              }
              &.active {
                &::after {
                  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.7248 19.92L5.31485 13.57C5.04485 13.32 4.82485 13.02 4.63485 12.71C3.58485 10.98 3.85485 8.75 5.31485 7.31C6.15485 6.47 7.28485 6 8.47485 6C10.3448 6 11.5148 7.09 12.0048 7.72C12.4948 7.1 13.6648 6 15.5348 6C16.7248 6 17.8548 6.47 18.6948 7.31C20.1348 8.75 20.4248 10.97 19.3748 12.71C19.1848 13.02 18.9649 13.31 18.6948 13.57L12.2848 19.92C12.1248 20.08 11.8948 20.08 11.7348 19.92H11.7248Z" fill="%23fff"/></svg>');
                }
              }
            }

            .global-block-add-compare__btn {
              &::after {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M3 16.2988H10.2C10.2 18.2888 8.59 19.8988 6.6 19.8988C4.61 19.8988 3 18.2888 3 16.2988Z" stroke="%23333333" stroke-linecap="round" stroke-linejoin="round"/><path d="M6.6 9.09961L8.4 12.6996L10.2 16.2996H6.6H3L4.8 12.6996L6.6 9.09961Z" stroke="%23333333" stroke-linecap="round" stroke-linejoin="round"/><path d="M13.8008 14.5H21.0008C21.0008 16.49 19.3908 18.1 17.4008 18.1C15.4108 18.1 13.8008 16.49 13.8008 14.5Z" stroke="%23333333" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.4008 7.30078L19.2008 10.9008L21.0008 14.5008H17.4008H13.8008L15.6008 10.9008L17.4008 7.30078Z" stroke="%23333333" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.01953 7.81L19.9795 5" stroke="%23333333" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.9996 7.3C12.4967 7.3 12.8996 6.89706 12.8996 6.4C12.8996 5.90294 12.4967 5.5 11.9996 5.5C11.5026 5.5 11.0996 5.90294 11.0996 6.4C11.0996 6.89706 11.5026 7.3 11.9996 7.3Z" stroke="%23333333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
              }
              &:hover::after {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M3 16.2988H10.2C10.2 18.2888 8.59 19.8988 6.6 19.8988C4.61 19.8988 3 18.2888 3 16.2988Z" stroke="%232ea84f" stroke-linecap="round" stroke-linejoin="round"/><path d="M6.6 9.09961L8.4 12.6996L10.2 16.2996H6.6H3L4.8 12.6996L6.6 9.09961Z" stroke="%232ea84f" stroke-linecap="round" stroke-linejoin="round"/><path d="M13.8008 14.5H21.0008C21.0008 16.49 19.3908 18.1 17.4008 18.1C15.4108 18.1 13.8008 16.49 13.8008 14.5Z" stroke="%232ea84f" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.4008 7.30078L19.2008 10.9008L21.0008 14.5008H17.4008H13.8008L15.6008 10.9008L17.4008 7.30078Z" stroke="%232ea84f" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.01953 7.81L19.9795 5" stroke="%232ea84f" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.9996 7.3C12.4967 7.3 12.8996 6.89706 12.8996 6.4C12.8996 5.90294 12.4967 5.5 11.9996 5.5C11.5026 5.5 11.0996 5.90294 11.0996 6.4C11.0996 6.89706 11.5026 7.3 11.9996 7.3Z" stroke="%232ea84f" stroke-linecap="round" stroke-linejoin="round"/></svg>');
              }
              &.active {
                &::after {
                  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M3 16.2988H10.2C10.2 18.2888 8.59 19.8988 6.6 19.8988C4.61 19.8988 3 18.2888 3 16.2988Z" fill="%23fff" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round"/><path d="M6.6 9.09961L8.4 12.6996L10.2 16.2996H6.6H3L4.8 12.6996L6.6 9.09961Z" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round"/><path d="M13.8008 14.5H21.0008C21.0008 16.49 19.3908 18.1 17.4008 18.1C15.4108 18.1 13.8008 16.49 13.8008 14.5Z" fill="%23fff" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.4008 7.30078L19.2008 10.9008L21.0008 14.5008H17.4008H13.8008L15.6008 10.9008L17.4008 7.30078Z" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.01953 7.81L19.9795 5" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.9996 7.3C12.4967 7.3 12.8996 6.89706 12.8996 6.4C12.8996 5.90294 12.4967 5.5 11.9996 5.5C11.5026 5.5 11.0996 5.90294 11.0996 6.4C11.0996 6.89706 11.5026 7.3 11.9996 7.3Z" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                }
              }
            }
          }
        }

        .global-block-colors {
          @include flexbox(
            $alignItems: center,
            $justify: center,
            $self: stretch
          );

          gap: 8px;

          .global-block-color {
            @include flexbox($alignItems: center, $direction: column);

            padding: 2px;
            border-radius: 8px;

            cursor: pointer;
            div {
              width: 16px;
              height: 16px;
              border-radius: 4px;
            }

            &.checked {
              border: 2px solid var(--colors-gray-700, #2f2c2f);
            }
            &.disabled {
              div {
                background: url("/images/color-dis.svg") 50% no-repeat !important;
              }
            }

            &.black {
              div {
                background: var(---black, #2b2b2b);
              }
            }
            &.blue {
              div {
                background: var(--colors-blue-500, #318ce7);
              }
            }
            &.gray {
              div {
                background: var(---gray, #ececec);
              }
            }
            &.pink {
              div {
                background: var(---pink, #ec8a8a);
              }
            }
          }
        }
      }

      &:hover {
        .global-block-container-header {
          .global-block-credit-group,
          .global-block-add-group {
            opacity: 1;
          }
        }
      }

      .global-block-container-bottom {
        @include flexbox(
          $alignItems: center,
          $direction: column,
          $self: stretch
        );
        gap: 8px;

        &,
        a {
          color: var(--colors-gray-700, #2f2c2f);
        }

        .global-block-container-bottom-list-header {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          align-self: stretch;

          overflow: hidden;
          text-overflow: ellipsis;

          font-weight: 400;
        }

        .global-block-container-bottom-list-status {
          @include flexbox(
            $alignItems: center,
            $justify: space-between,
            $self: stretch
          );
        }

        .global-block-container-bottom-value {
          @include flexbox(
            $alignItems: center,
            $justify: flex-end,
            $self: stretch
          );

          height: 32px;

          .global-p-short-product-new-price-container {
            display: block;
            color: var(--colors-gray-700, #2f2c2f);
            font-size: 16px;

            span {
              font-size: 24px;
            }
          }

          .global-p-short-product-formed {
            color: var(--colors-gray-300, #c0c0c0);
          }

          .global-p-short-product {
            &.all-price {
              @include flexbox(
                $alignItems: center,
                $justify: space-between,
                $self: stretch
              );

              width: 100%;

              div {
                display: flex;
                align-items: center;
                gap: 4px;

                .global-p-short-product-old-price-container {
                  font-size: 12px;
                  font-weight: 400;

                  span {
                    font-size: 16px;
                  }
                }

                .global-p-short-product-discount-container {
                  display: flex;
                  padding: 2px 6px 1px 5px;
                  justify-content: center;
                  align-items: center;

                  font-size: 12px;
                }
              }
            }
          }
        }

        .global-block-container-button {
          @include flexbox(
            $alignItems: center,
            $justify: center,
            $self: stretch
          );

          min-width: 140px;
        }
      }
    }
  }

  .global-button-show-more {
    @include flexbox($self: stretch);

    color: var(--colors-gray-500, #696969);

    button {
      @include flexbox($alignItems: center, $justify: center, $self: stretch);
      height: 64px;
      padding: 8px 32px;
      width: 100%;
      gap: 4px;
      border: none;
      background: var(--colors-white, #fff);
      border-radius: 0 0 24px 24px;
      cursor: pointer;
    }
  }

  .slick-list {
    border-radius: 0 0 24px 24px;
  }

  .global-block-cheaper-container {
    flex: 1 0 0;

    .global-block-product-container {
      display: flex;
      align-items: flex-end;
      align-self: stretch;

      .global-block-container {
        min-width: 220px;
        max-width: 320px;
        padding: 16px;
        justify-content: space-between;
        align-self: stretch;

        &.not-color {
          .global-block-colors {
            display: none;
          }
        }

        .global-block-container-bottom {
          .global-block-container-bottom-cheaper {
            color: var(--colors-gray-400, #929292);
            font-size: 24px;

            span {
              font-size: 16px;
            }
          }
        }
      }
    }

    .global-block-plus-container {
      display: flex;
      padding: 0px 12px;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      // flex: 1 0 0;
      background: var(--colors-white, #fff);

      &::after {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none"><path d="M16.25 4.5L16.25 28.5" stroke="%23DBF6E2" stroke-width="8" stroke-linecap="round"/><path d="M4.25 16.5L28.25 16.5" stroke="%23DBF6E2" stroke-width="8" stroke-linecap="round"/></svg>');
        width: 24px;
        height: 24px;
      }
    }
  }

  .global-block-price-container {
    display: flex;
    padding: 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    align-self: stretch;

    background: var(--colors-white, #fff);

    .global-p-short-product {
      display: flex;
      height: 32px;
      padding: 6px 0px;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;

      .global-p-short-product-discount-container {
        display: flex;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
      }

      .global-block-container-bottom-new-price {
        color: var(--colors-gray-700, #2f2c2f);
        font-size: 32px;

        span {
          margin-top: 7px;
          font-size: 24px;
        }
      }
    }

    .global-button {
      display: flex;
      height: var(---button-height, 48px);
      justify-content: center;
      align-items: center;
      flex: unset;
      // min-width: 140px;
      // max-width: 300px;
      width: 200px;

      button {
        display: flex;
        padding: 0px 32px 0px 24px;
        gap: 8px;
      }
    }
  }
}

.block-on-sale-soon {
  .global-block-header-left {
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.1334 6.66673C5.58111 6.66673 5.1334 6.21902 5.1334 5.66673V5.20007H3.7334C3.18111 5.20007 2.7334 5.64778 2.7334 6.20007V7.3334L21.2667 7.3334V6.20007C21.2667 5.64778 20.819 5.20007 20.2667 5.20007H18.8667V5.66673C18.8667 6.21902 18.419 6.66673 17.8667 6.66673C17.3144 6.66673 16.8667 6.21902 16.8667 5.66673V5.20007H7.1334V5.66673C7.1334 6.21902 6.68568 6.66673 6.1334 6.66673ZM16.8667 3.20007H7.1334V2.7334C7.1334 2.18111 6.68568 1.7334 6.1334 1.7334C5.58111 1.7334 5.1334 2.18111 5.1334 2.7334V3.20007H3.7334C2.07654 3.20007 0.733398 4.54321 0.733398 6.20007V19.8001C0.733398 21.4569 2.07655 22.8001 3.7334 22.8001H20.2667C21.9236 22.8001 23.2667 21.4569 23.2667 19.8001V6.20007C23.2667 4.54321 21.9236 3.20007 20.2667 3.20007H18.8667V2.7334C18.8667 2.18111 18.419 1.7334 17.8667 1.7334C17.3144 1.7334 16.8667 2.18111 16.8667 2.7334V3.20007ZM2.7334 9.3334V19.8001C2.7334 20.3524 3.18111 20.8001 3.7334 20.8001H20.2667C20.819 20.8001 21.2667 20.3524 21.2667 19.8001V9.3334L2.7334 9.3334Z" fill="%232F2C2F" /></svg>');
    }
  }
}
.block-recently-viewed {
  .global-block-header-left {
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 12.3999C20 16.8182 16.4183 20.3999 12 20.3999C7.58172 20.3999 4 16.8182 4 12.3999C4 7.98162 7.58172 4.3999 12 4.3999C16.4183 4.3999 20 7.98162 20 12.3999ZM22 12.3999C22 17.9227 17.5228 22.3999 12 22.3999C6.47715 22.3999 2 17.9227 2 12.3999C2 6.87705 6.47715 2.3999 12 2.3999C17.5228 2.3999 22 6.87705 22 12.3999ZM11.0006 5.97105V12.3804C10.9998 12.4203 11.0015 12.46 11.0055 12.4995C11.0198 12.6442 11.065 12.7798 11.1344 12.8997C11.2035 13.0197 11.2984 13.1266 11.4165 13.2114C11.4487 13.2346 11.4823 13.2559 11.5172 13.2753L15.2121 15.4085C15.6904 15.6846 16.302 15.5208 16.5781 15.0425C16.8543 14.5642 16.6904 13.9526 16.2121 13.6765L13.0006 11.8223V5.97105C13.0006 5.41877 12.5528 4.97105 12.0006 4.97105C11.4483 4.97105 11.0006 5.41877 11.0006 5.97105Z" fill="%232F2C2F"/></svg>');
    }
  }
}
.block-novelty {
  .global-block-header-left {
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M21.9138 10.3107C21.7818 9.88999 21.3659 9.15265 20.0582 8.95686L15.7351 8.30282L13.8035 4.21618C13.2156 2.9831 12.4198 2.7998 11.9959 2.7998C11.5719 2.7998 10.7721 2.9831 10.1882 4.22034L8.25664 8.30699L3.93354 8.96102C2.62181 9.15681 2.2059 9.89416 2.07793 10.3149C1.94595 10.7357 1.86997 11.5855 2.81377 12.5436L5.94512 15.7263L5.20927 20.217C5.03731 21.2543 5.32125 21.8667 5.58919 22.1999C6.14108 22.879 7.11688 22.9873 8.12866 22.4332L11.9999 20.3128L15.8671 22.4332C16.307 22.6748 16.7309 22.7998 17.1308 22.7998C17.6467 22.7998 18.1026 22.5873 18.4105 22.2041C18.6785 21.8708 18.9664 21.2585 18.7944 20.2212L18.0546 15.7304L21.1819 12.5519C22.1297 11.5938 22.0538 10.744 21.9218 10.3232L21.9138 10.3107Z" stroke="%232F2C2F" stroke-width="2"/></svg>');
    }
  }
}
.block-cheaper-together {
  .global-block-header-left {
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12ZM22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM12 7.5C12.5523 7.5 13 7.94772 13 8.5V11H15.5C16.0523 11 16.5 11.4477 16.5 12C16.5 12.5523 16.0523 13 15.5 13H13V15.5C13 16.0523 12.5523 16.5 12 16.5C11.4477 16.5 11 16.0523 11 15.5V13H8.5C7.94772 13 7.5 12.5523 7.5 12C7.5 11.4477 7.94772 11 8.5 11H11V8.5C11 7.94772 11.4477 7.5 12 7.5Z" fill="%232F2C2F"/></svg>');
    }
  }
}
.global-block-discount-group {
  @include flexbox($alignItems: flex-start, $direction: column);

  padding: 4px;
  gap: 4px;

  position: absolute;
  top: 0;
  left: 0;

  .global-block-discount {
    @include flexbox($alignItems: center, $justify: center);

    padding: 3px 10.5px 3px 4.5px;
    gap: 3px;

    border-radius: 24px;

    color: var(--colors-white, #fff);
    font-size: 12px;
    font-weight: 500;
  }

  .global-block-discount-new {
    background: var(--colors-mint-300, #81d8d0);
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.1366 5.03756L13.8444 4.16107C13.7577 3.88071 13.5791 3.63771 13.3374 3.4713C13.0957 3.30485 12.805 3.22468 12.5121 3.24367L11.8256 3.29334C11.4877 3.32221 11.152 3.21729 10.8906 3.00118L10.3472 2.54541C10.1134 2.35436 9.82081 2.25 9.51892 2.25C9.21702 2.25 8.92439 2.35436 8.69063 2.54541L8.06832 3.04792C7.80698 3.26193 7.47304 3.36661 7.13632 3.34009L6.48188 3.28457C6.17861 3.25837 5.87572 3.33889 5.62554 3.51226C5.37533 3.68566 5.19358 3.94095 5.11163 4.23411L4.90711 4.97036C4.82087 5.27731 4.62556 5.54224 4.35785 5.71538L3.66542 6.16239C3.41547 6.3241 3.22842 6.56651 3.13539 6.84929C3.04237 7.13208 3.04898 7.43821 3.15413 7.7167L3.41708 8.41789C3.52518 8.70912 3.52518 9.02948 3.41708 9.32068L3.12491 10.1212C3.0286 10.3922 3.02481 10.6874 3.11415 10.9607C3.2035 11.234 3.38091 11.47 3.61867 11.6317L4.24682 12.0933C4.51915 12.2777 4.71131 12.5586 4.7844 12.8792L4.97139 13.6739C5.03704 13.9616 5.19863 14.2185 5.42962 14.4022C5.66057 14.5859 5.94719 14.6856 6.2423 14.6848H7.2678C7.56992 14.6828 7.86331 14.7861 8.09754 14.977L8.68187 15.4561C8.91496 15.6462 9.20648 15.75 9.50723 15.75C9.80798 15.75 10.0995 15.6462 10.3326 15.4561L11.0163 14.9039C11.2758 14.6887 11.6093 14.5839 11.9453 14.6118L12.6553 14.6702C12.9569 14.6959 13.2581 14.6157 13.5071 14.4435C13.7561 14.2713 13.9373 14.0178 14.0197 13.7265L14.2564 12.8968C14.3368 12.6123 14.5121 12.3639 14.753 12.1926L15.4104 11.7223C15.6492 11.5515 15.8235 11.3052 15.9051 11.0232C15.9867 10.7412 15.9709 10.4399 15.8603 10.168L15.5682 9.47552C15.441 9.16168 15.441 8.81065 15.5682 8.49677L15.8603 7.78682C15.9712 7.50929 15.9835 7.20214 15.8953 6.91661C15.807 6.63108 15.6235 6.38446 15.3753 6.2179L14.6362 5.72122C14.3977 5.5558 14.2217 5.31502 14.1366 5.03756ZM11.6406 5.36673C11.4749 5.207 11.2112 5.21179 11.0514 5.37744C10.8917 5.54309 10.8965 5.80687 11.0621 5.9666L12.3584 7.2166C12.4048 7.26132 12.4162 7.30357 12.4162 7.33333C12.4162 7.3631 12.4048 7.40535 12.3584 7.45007C12.2729 7.53252 12.1582 7.53252 12.0727 7.45007L10.7764 6.20007C10.6107 6.04033 10.347 6.04513 10.1872 6.21078C10.0275 6.37643 10.0323 6.6402 10.1979 6.79994L11.4942 8.04994C11.5406 8.09465 11.552 8.1369 11.552 8.16667C11.552 8.19643 11.5406 8.23868 11.4942 8.2834C11.4087 8.36585 11.294 8.36585 11.2085 8.2834L9.91219 7.0334C9.74654 6.87366 9.48277 6.87846 9.32303 7.04411C9.1633 7.20976 9.1681 7.47353 9.33374 7.63327L10.63 8.88327C11.0384 9.27701 11.6644 9.27701 12.0727 8.88327C12.236 8.72576 12.3354 8.53334 12.3707 8.33336C12.5757 8.3018 12.7737 8.20732 12.9369 8.04994C13.3537 7.64798 13.3537 7.01868 12.9369 6.61673L11.6406 5.36673ZM9.04799 8.4666C9.21364 8.30687 9.21844 8.04309 9.05871 7.87744C8.89897 7.71179 8.6352 7.707 8.46955 7.86673L7.60535 8.70007C7.52391 8.7786 7.47791 8.88687 7.47791 9C7.47791 9.11313 7.52391 9.22141 7.60535 9.29994L8.46832 10.1321L8.47116 10.1348L9.33375 10.9666C9.49515 11.1222 9.75078 11.1222 9.91219 10.9666L10.7764 10.1333C10.942 9.97353 10.9468 9.70976 10.7871 9.54411C10.6274 9.37846 10.3636 9.37366 10.1979 9.5334L9.62297 10.0878L9.35904 9.83333L9.66528 9.53803C9.83093 9.3783 9.83572 9.11452 9.67599 8.94887C9.51626 8.78322 9.25248 8.77843 9.08683 8.93816L8.75877 9.2545L8.49484 9L9.04799 8.4666ZM7.7517 9.95007C7.34338 9.55633 6.71737 9.55633 6.30905 9.95007L5.87696 10.3667C5.79552 10.4453 5.74951 10.5535 5.74951 10.6667C5.74951 10.7798 5.79552 10.8881 5.87696 10.9666L7.60535 12.6333C7.771 12.793 8.03477 12.7882 8.19451 12.6226C8.35424 12.4569 8.34945 12.1931 8.1838 12.0334L6.76645 10.6667L6.8875 10.5499C6.97301 10.4675 7.08774 10.4675 7.17325 10.5499L8.46955 11.7999C8.6352 11.9597 8.89897 11.9549 9.05871 11.7892C9.21844 11.6236 9.21364 11.3598 9.04799 11.2001L7.7517 9.95007Z" fill="%23fff"/></svg>');
      width: 19px;
      height: 18px;
    }
  }

  .global-block-discount-hit-sale {
    background: var(--colors-red-300, #fa8072);
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none"><path d="M13.7188 3.375L16.25 6.80357M13.7188 3.375H5.28884M13.7188 3.375L12.0312 6.80357M16.25 6.80357L9.5 15.375M16.25 6.80357H2.75M9.5 15.375L2.75 6.80357M9.5 15.375L6.96875 6.80357M9.5 15.375L12.0312 6.80357M2.75 6.80357L5.28884 3.375M5.28884 3.375L6.96875 6.80357M6.96875 6.80357L9.49998 3.375L12.0312 6.80357" stroke="%23fff" stroke-width="0.9375" stroke-linecap="round"  stroke-linejoin="round" /></svg>');
      width: 19px;
      height: 18px;
    }
  }

  .global-block-discount-sale,
  .global-block-discount-outlet {
    &::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none"><path d="M1 4.88235C2.18261 4.88235 3.08696 5.8 3.08696 7C3.08696 8.2 2.18261 9.11765 1 9.11765V11.9412C1 12.5059 1.48696 13 2.04348 13L15.9565 13C16.513 13 17 12.5059 17 11.9412V9.11765C15.8174 9.11765 14.913 8.2 14.913 7C14.913 5.8 15.8174 4.88235 17 4.88235V2.05882C17 1.49412 16.513 1 15.9565 1L2.04348 1C1.48696 1 1 1.49412 1 2.05882V4.88235Z" stroke="%23fff" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" /><path d="M6.6 6.05761C7.12991 6.05761 7.575 5.61918 7.575 5.05908C7.575 4.49897 7.12991 4.06055 6.6 4.06055C6.07009 4.06055 5.625 4.49897 5.625 5.05908C5.625 5.61918 6.07009 6.05761 6.6 6.05761Z" stroke="%23fff" stroke-width="1.25" /><path d="M10.6 10.1162C11.1299 10.1162 11.575 9.67778 11.575 9.11767C11.575 8.55756 11.1299 8.11914 10.6 8.11914C10.0701 8.11914 9.625 8.55756 9.625 9.11767C9.625 9.67778 10.0701 10.1162 10.6 10.1162Z" stroke="%23fff" stroke-width="1.25" /><path d="M11.8008 3.8418L5.40078 10.3359" stroke="%23fff" stroke-width="1.25" stroke-linecap="round" /></svg>');
      width: 18px;
      height: 14px;
    }
  }

  .global-block-discount-sale {
    background: var(--colors-violet-300, #b57edc);
  }

  .global-block-discount-outlet {
    background: var(--colors-yellow-500, #ffbf00);
  }
}
