.global-pop-modal {
  z-index: 100;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  @media (max-width: 719px) {
    &.pop-up-location-modal {
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(4px);
    }
  }

  &.pop-up-cart-modal {
    display: block;
    visibility: hidden;

    &.overflow {
      visibility: visible;
    }
  }

  &.pop-up-credit-calculator-modal {
    @media (max-width: 719px) {
      left: 0;
      top: 0;
      right: unset;
      bottom: unset;
      text-rendering: optimizeLegibility;
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
      scrollbar-width: thin;
      position: fixed;
      transform: translate(0, 0%);
      transition: all 0.5s ease;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      z-index: 50;
    }
  }

  .global-pop-modal-content {
    display: flex;
    margin: 14.5% auto;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(---gap-basic, 24px);

    border-radius: 28px;
    background: var(--colors-white, #fff);
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.16);

    @media (max-width: 719px) {
      padding: 24px;
      margin: 2% auto;
    }

    &.user-fast-buy {
      width: calc(480px - (32px * 2));

      .global-modal-form-container {
        flex-direction: column;
        gap: var(---gap-small, 16px);
      }

      .global-p-short-product-span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        flex: 1 0 0;

        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 16px !important;
      }

      .global-modal-price-container {
        justify-content: flex-end !important;

        .global-p-short-product-new-price-container {
          font-size: 24px;
        }
      }

      form {
        .form-contact-block {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 4px;
          align-self: stretch;

          border-radius: 8px;
          background: unset;
          border: unset;
          box-shadow: unset;
          height: unset;
          position: relative;

          input {
            display: flex;
            height: 42px;
            padding: 0px 12px;
            align-items: center;
            gap: 16px;
            align-self: stretch;

            border-radius: 8px;
            border: 1px solid var(--colors-gray-200, #e5e4e2);
            background: var(--colors-white, #fff);

            font-size: 16px;
            font-weight: 400;
          }

          .error-label {
            display: none;
          }

          &.check {
            .checkbox-label::before {
              content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10Z" fill="%2362B378"/><path d="M5.25 11.0339L7.97035 13.7543L15.25 6.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
              width: 20px;
              height: 20px;
              position: absolute;
              right: 0px;
              top: 60%;
              transform: translateY(-50%);
              pointer-events: none;
            }
          }

          &.error {
            label {
              color: var(---red-post, #da291c);
            }

            input {
              border: 1px solid var(---red-post, #da291c);
            }

            .error-label {
              display: block;
            }
          }
        }
      }

      .global-modal-form-manager {
        color: var(--colors-gray-700, #2f2c2f);
        text-align: center;

        font-weight: 400;
      }
    }

    &.user-notify {
      width: calc(480px - (32px * 2));

      @media (max-width: 719px) {
        width: calc(100% - 64px);
      }
    }

    &.user-response {
      width: calc(640px - (32px * 2));

      @media (max-width: 719px) {
        width: calc(100% - 64px);
      }
    }

    &.user-location {
      width: calc(640px - (32px * 2));

      @media (max-width: 719px) {
        width: calc(100% - 64px);
      }

      .location-modal-form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;

        .location-modal-form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          .form-location-block {
            display: flex;
            height: 44px;
            padding: 0px 12px;
            align-items: center;
            align-self: stretch;

            border-radius: 8px;
            border: 1px solid var(--colors-gray-200, #e5e4e2);
            background: var(--colors-white, #fff);

            input {
              flex: 1 0 0;

              color: var(--colors-gray-700, #2f2c2f);
              leading-trim: both;
              text-edge: cap;
              font-size: 16px;
              font-weight: 400;
              border: none;
              outline: none;
            }
          }

          .form-location-list-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1px;
            align-self: stretch;

            background: var(--colors-gray-100, #f7f7f7);

            .form-location-list {
              display: flex;
              padding: 12px 8px;
              align-items: center;
              align-self: stretch;
              gap: 4px;
              background: var(--colors-white, #fff);
              cursor: pointer;

              .form-location-city {
                color: var(--colors-gray-700, #2f2c2f);
                font-weight: 500;
              }
              .form-location-region {
                color: var(--colors-gray-500, #696969);

                font-weight: 400;
              }

              &:hover {
                background: var(--colors-gray-100, #f7f7f7);
              }
            }
          }
        }

        .location-modal-container-city {
          display: flex;
          align-items: flex-start;
          align-content: flex-start;
          gap: 8px;
          align-self: stretch;
          flex-wrap: wrap;

          .span-city {
            display: flex;
            padding: 8px 16px;
            align-items: center;
            gap: 2px;

            border-radius: 8px;
            background: var(--colors-gray-100, #f7f7f7);

            color: var(--colors-gray-700, #2f2c2f);

            font-weight: 400;
            cursor: pointer;
            user-select: none;

            &:hover {
              background: var(--colors-blue-100, #e9f5ff);
            }
          }
        }
      }
    }

    &.credit-calculator {
      width: 840px;
      margin: 0.5% auto;

      @media (max-width: 719px) {
        gap: 8px !important;
        background: unset !important;
        width: calc(100% - 16px);
        margin: 8px;
        box-shadow: unset !important;
      }
    }

    &.user-cart,
    &.user-to-cart {
      width: calc(960px - (32px * 2));
      gap: 32px;
      margin: 2% auto;
    }

    .global-pop-modal-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      align-self: stretch;

      color: var(---dark-gray, #333);
      font-weight: 400;

      .global-pop-modal-header-top {
        display: flex;
        height: 24px;
        align-items: center;
        gap: 32px;
        font-weight: 500;
        justify-content: space-between;
        align-self: stretch;

        font-size: 24px;
      }

      .global-pop-modal-header-bottom {
        display: flex;
        align-items: center;
        align-self: stretch;
        gap: 8px;

        font-size: 14px;

        .pop-up-user-question-value {
          color: #808080;
        }
      }
    }

    .global-modal-block-content {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;

      img {
        max-width: 80px;
        height: 80px;
        object-fit: contain;
      }

      .global-modal-block-content-container {
        display: flex;
        padding: 4px 4px 0px 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;

        .global-p-short-product-span {
          color: var(---dark-gray, #333);
          font-size: 14px;
          font-weight: 400;
        }

        .global-modal-price-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;

          .global-p-short-product {
            user-select: none;

            .global-p-short-product-old-price-container {
              color: var(---gray, #c0c0c0);
              font-size: 12px;
              font-weight: 400;
            }

            .global-p-short-product-discount-container {
              display: flex;
              padding: 2px 6px 1px 5px;
              justify-content: center;
              align-items: center;

              font-size: 12px;
            }

            .global-p-short-product-new-price-container {
              color: var(---dark-gray, #333);
              user-select: text;
            }
          }
        }
      }
    }

    .global-modal-form-container {
      display: flex;
      align-self: stretch;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(---gap-small, 16px);
        align-self: stretch;
        width: 100%;

        div {
          display: flex;
          height: 40px;
          padding: 0px 16px;
          align-items: center;
          align-self: stretch;

          border-radius: 4px;
          background: #fafafa;

          /* form-inner-shadow */
          box-shadow: 2px 2px 4px 0px rgba(216, 216, 216, 0.5) inset;

          color: var(--gray, #c0c0c0);
          font-size: 12px;
          font-weight: 400;

          input {
            width: 100%;
            border: none;
            background: #fafafa;
            outline: none;
          }
        }

        .global-raiting {
          flex-direction: row-reverse;
          background: transparent;
          box-shadow: unset;
        }

        .global-modal-textarea {
          display: flex;
          height: 120px;
          padding: 13px 16px;
          align-items: flex-start;
          align-self: stretch;

          textarea {
            resize: none;
            outline: none;
            background: #fafafa;
            height: 120px;
            width: 100%;
          }

          textarea:valid {
            border: none;
          }
        }
      }
    }
  }
}

.global-modal-counter-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  user-select: none;

  .ctrl-button {
    display: flex;
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--colors-gray-300, #c0c0c0);
    text-align: center;

    cursor: pointer;
    border-radius: 8px;
    background: var(--colors-white, #fff);

    -webkit-transition: background-color 100ms ease-in;
    transition: background-color 100ms ease-in;

    &:hover {
      background: var(--colors-green-100, #e9f9e9);
      color: var(--colors-green-400, #62b278);
      -webkit-transition: background-color 100ms ease-in;
      transition: background-color 100ms ease-in;
    }

    &:active {
      background: var(--colors-green-200, #dbf6e2);
      -webkit-transition: background-color 100ms ease-in;
      transition: background-color 100ms ease-in;
    }
  }

  .ctrl-counter {
    position: relative;
    color: var(--colors-gray-700, #2f2c2f);
    overflow: hidden;

    .global-modal-counter,
    .ctrl-counter-num {
      display: flex;
      min-width: 12px;
      max-width: 20px;
      height: 24px;
      padding: 0px 3px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      color: var(--colors-gray-700, #2f2c2f);

      text-align: center;
      font-size: 16px;
      font-family: Rubik;
      font-weight: 400;
      line-height: 150%; /* 24px */
    }

    .global-modal-counter {
      z-index: 2;
      position: relative;

      border: none;

      box-shadow: none;
      outline: none;
    }

    .ctrl-counter-num {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .ctrl-counter-num,
    &.is-input .ctrl-counter-input {
      visibility: visible;
      opacity: 1;
    }
    .to-cart-counter-num,
    .cart-counter-num,
    &.is-input .ctrl-counter-input {
      visibility: hidden;
    }

    .global-modal-counter,
    &.is-input .ctrl-counter-num {
      visibility: hidden;
      opacity: 0;
    }

    .global-modal-counter,
    .ctrl-counter-num,
    &.is-input .ctrl-counter-num,
    &.is-input .ctrl-counter-input {
      -webkit-transition: opacity 100ms ease-in;
      transition: opacity 100ms ease-in;
    }

    .ctrl-counter-num.is-increment-hide {
      opacity: 0;
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      -webkit-animation: increment-prev 100ms ease-in;
      animation: increment-prev 100ms ease-in;
    }

    .ctrl-counter-num.is-decrement-hide {
      opacity: 0;
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      -webkit-animation: decrement-prev 100ms ease-in;
      animation: decrement-prev 100ms ease-in;
    }

    .ctrl-counter-num.is-decrement-visible {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation: decrement-next 100ms ease-out;
      animation: decrement-next 100ms ease-out;
    }
    .ctrl-counter-num.is-increment-visible {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation: increment-next 100ms ease-out;
      animation: increment-next 100ms ease-out;
    }
  }
}

@-webkit-keyframes decrement-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes decrement-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes decrement-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
@keyframes decrement-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
@-webkit-keyframes increment-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes increment-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes increment-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@keyframes increment-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
