.common-template__tabs {
  @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);

  position: sticky;
  top: 64px;
  z-index: 24;
  user-select: none;

  .tabs {
    @include flexbox($justify: center, $alignItems: center, $self: stretch);

    gap: 1px;

    border-radius: 32px;
    background: var(---disabled, #e9e9e9);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

    .tablist {
      @include flexbox($justify: center, $alignItems: center);
      gap: 1px;
      flex: 1 0 0;

      .tabs__link {
        @include flexbox($justify: center, $alignItems: center);
        height: 64px;
        padding: 0px 32px;
        gap: 4px;
        flex: 1 0 0;

        background: var(--colors-white, #fff);

        color: var(--colors-gray-700, #2f2c2f);

        font-weight: 400;

        &:first-child {
          border-radius: 32px 0 0 32px;
        }

        &:last-child {
          border-radius: 0 32px 32px 0;
        }

        &.active {
          color: var(--colors-green-500-primary, #2ea84f);

          .tabs__link-count {
            background: var(--colors-green-500-primary, #2ea84f);
            color: var(--colors-white, #fff);
          }
        }

        &:hover {
          background: var(--colors-gray-100, #f7f7f7);
        }

        .tabs__link-count {
          @include flexbox(
            $justify: center,
            $alignItems: center,
            $direction: column
          );

          padding: 2px 8px;
          flex-direction: column;

          border-radius: 24px;
          background: var(--colors-green-100, #e9f9e9);

          color: var(--colors-green-400, #62b278);
          text-align: center;

          font-size: 12px;
        }
      }
    }

    .p-short-info {
      display: none;
    }
  }

  &.fixed {
    background: var(---white, #fff);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    .tabs-fixed {
      box-shadow: none;
      border-radius: 0;
      background: var(---white, #fff);
      .tabs__link {
        padding: 0px 16px;

        &:first-child {
          border-radius: 0;
        }

        &:last-child {
          border-radius: 0;
        }
      }
    }

    .p-short-info {
      display: flex !important;
      padding: 8px;
      justify-content: flex-end;
      align-items: center;
      align-self: stretch;
      gap: 8px;
      flex: 1 0 0;

      .p-short-info-left {
        @include flexbox($alignItems: center, $self: stretch);
        width: 210px;
        max-width: 210px;
        gap: 8px;

        img {
          width: 48px;
          height: 48px;
          flex-shrink: 0;
          border-radius: 4px;
        }

        .p-short-product-container {
          @include flexbox(
            $alignItems: flex-start,
            $direction: column,
            $justify: space-between,
            $self: stretch
          );

          padding: 4px 0px;
          flex: 1 0 0;
          color: var(--colors-gray-700, #2f2c2f);

          .p-short-product-span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-self: stretch;

            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 10px;
            font-weight: 400;
          }

          .p-short-product {
            @include flexbox($alignItems: center, $self: stretch);
            gap: 4px;

            .p-short-product-old-price-container {
              @include flexbox($alignItems: center, $justify: center);

              color: var(--colors-gray-300, #c0c0c0);
              text-align: center;
              font-size: 10px;

              span {
                margin-right: 2px;
              }
            }

            .p-short-product-discount-container {
              padding: 1px 4px 0px 3px;

              border-radius: 28px;
              background: var(--colors-red-300, #fa8072);

              color: var(--colors-white, #fff);
              text-align: center;
              font-size: 10px;
            }

            .p-short-product-new-price-container {
              @include flexbox($alignItems: center, $justify: center);

              span {
                margin-right: 2px;
              }
            }
          }
        }
      }
      .p-short-info-button {
        button {
          width: 160px;
          min-width: 160px;
          padding: 0px 32px 0px 24px;
          gap: 8px;
        }
      }
    }
  }
}
