.offers-tab {
  @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);
  left: 0;
  top: 0;
  display: none;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  scrollbar-width: thin;
  position: fixed;
  transform: translate(0, 0%);
  transition: all 0.5s ease;
  width: 100%;
  // height: 100vh;
  box-sizing: border-box;
  z-index: 50;

  .offers-page-container {
    @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);
    flex-direction: column;
    margin: 2% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    // width: unset;
    // height: 100%;
    border-radius: 24px;
    background: var(---disabled, #e9e9e9);

    /* block-shadow */
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

    .offers-page-header {
      display: flex;
      height: 64px;
      padding: 0 16px 0 32px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      background: var(---white, #fff);

      border-radius: 24px 24px 0 0;
      user-select: none;
      border-bottom: 1px solid var(---disabled, #e9e9e9);

      h2 {
        color: var(---dark-gray, #333);
        font-size: 20px;
        margin: 0;
      }

      .offers-page-header-actions {
        @include flexbox($justify: center, $alignItems: center, $self: stretch);
        gap: 8px;

        font-size: 14px;

        .global-horizontal-switch {
          label {
            display: flex;
            padding: 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;

            color: var(--colors-gray-700, #2f2c2f);

            font-weight: 400;
          }
        }

        .offers-page-header-sorting-block {
          display: inline-flex;
          align-items: center;

          border-radius: 48px;
          background: var(--colors-gray-100, #f7f7f7);

          font-weight: 400;

          position: relative;
          min-width: 115px;
          height: 32px;

          margin-left: 10px;

          .offers-page-header-sorting-container {
            border-radius: 48px;
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            background: var(--colors-gray-100, #f7f7f7);

            .ASC,
            .DESC,
            .ASC_RATING,
            .DESC_RATING {
              display: none;
              white-space: nowrap;
            }

            .sorting {
              height: 32px;
              padding: 8px 16px;
              align-items: center;

              border: none;
              border-radius: 48px;
              background: var(--colors-gray-100, #f7f7f7);

              cursor: pointer;

              color: var(--colors-gray-500, #696969);
              font-weight: 400;

              &.selected {
                display: inline-flex;
                padding: 0px 16px 0px 8px;

                color: var(--colors-white, #fff);

                background: var(--colors-blue-100, #e9f5ff);

                color: var(--colors-blue-400, #62a8ed);
                text-align: center;
                font-weight: 500;

                &::before {
                  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M7 6L7 18" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path d="M12 8L12 18" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path d="M17 10L17 18" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/></svg>');
                  width: 24px;
                  height: 24px;
                }

                &.BTN::before {
                  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M7 10L7 18" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path d="M12 6L12 18" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path d="M17 12L17 18" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/></svg>');
                  width: 24px;
                  height: 24px;
                }

                &:hover {
                  color: var(--colors-white, #fff);
                  font-weight: 500;

                  background: linear-gradient(
                      0deg,
                      var(--colors-blue-500, #318ce7) 0%,
                      var(--colors-blue-500, #318ce7) 100%
                    ),
                    var(--colors-white, #fff);
                }
              }
            }
          }

          &.active {
            .sorting {
              display: inline-flex;

              &.active {
                padding: 0px 16px 0px 8px;

                color: var(--colors-white, #fff);
                font-weight: 500;

                background: linear-gradient(
                    0deg,
                    var(--colors-blue-500, #318ce7) 0%,
                    var(--colors-blue-500, #318ce7) 100%
                  ),
                  var(--colors-white, #fff);

                &::before {
                  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M7 10L7 18" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M12 6L12 18" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M17 12L17 18" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
                  width: 24px;
                  height: 24px;
                }
              }

              &:hover:not(.active, .selected) {
                color: var(--colors-gray-700, #2f2c2f);

                background: var(--colors-gray-200, #e5e4e2);
              }
            }
          }
        }

        .offers-page-header-filter-block {
          display: inline-flex;
          align-items: center;
          gap: 8px;

          .cancellation,
          .apply {
            display: none;
            border: none;
          }

          .filter {
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
          }

          .BTN {
            display: flex;
            padding: 4px 16px 4px 8px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            position: relative;

            border-radius: 48px;
            background: linear-gradient(
                0deg,
                var(--colors-blue-100, #e9f5ff) 0%,
                var(--colors-blue-100, #e9f5ff) 100%
              ),
              var(--colors-white, #fff);
            border: none;

            color: var(--colors-blue-400, #62a8ed);

            &::before {
              content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M19 7L5 7" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><circle cx="11" cy="7" r="2" transform="rotate(90 11 7)" fill="%2362A8ED"/><path d="M19 12L5 12" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><circle cx="15" cy="12" r="2" transform="rotate(90 15 12)" fill="%2362A8ED"/><path d="M19 17L5 17" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><circle cx="12" cy="17" r="2" transform="rotate(90 12 17)" fill="%2362A8ED"/></svg>');
              width: 24px;
              height: 24px;
            }

            &:hover {
              background: var(--colors-blue-500, #318ce7);

              color: var(--colors-white, #fff);

              &::before {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M19 7L5 7" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="11" cy="7" r="2" transform="rotate(90 11 7)" fill="white"/><path d="M19 12L5 12" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="15" cy="12" r="2" transform="rotate(90 15 12)" fill="white"/><path d="M19 17L5 17" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="12" cy="17" r="2" transform="rotate(90 12 17)" fill="white"/></svg>');
              }
            }

            &.active {
              &::after {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none"><circle cx="4" cy="4" r="3.5" fill="%23318CE7" stroke="white"/></svg>');
                position: absolute;
                right: 4px;
                top: -4px;
                width: 6px;
                height: 6px;
              }

              &:hover {
                &::after {
                  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none"><circle cx="4" cy="4" r="3.5" fill="%23318CE7" stroke="white"/></svg>');
                }
              }
            }
          }

          &.active {
            .BTN {
              display: none;
            }

            .cancellation {
              display: inline-flex;
              height: 32px;
              justify-content: center;
              align-items: center;
              gap: 4px;

              border-radius: 8px;
              background: var(--colors-white, #fff);

              color: var(--colors-gray-500, #696969);

              &:hover {
                color: var(--colors-red-300, #fa8072);
              }
            }

            .apply {
              display: inline-flex;
              height: 32px;
              padding: 0px 16px;
              justify-content: center;
              align-items: center;
              gap: 4px;

              border-radius: 48px;
              background: linear-gradient(
                  0deg,
                  var(--colors-green-100, #e9f9e9) 0%,
                  var(--colors-green-100, #e9f9e9) 100%
                ),
                var(--colors-white, #fff);

              color: var(--colors-green-400, #62b278);

              &:hover {
                border-radius: 48px;
                background: linear-gradient(
                    0deg,
                    var(--colors-green-500-primary, #2ea84f) 0%,
                    var(--colors-green-500-primary, #2ea84f) 100%
                  ),
                  var(--colors-white, #fff);

                color: var(--colors-white, #fff);
              }
            }
          }
        }

        .offers-page-header-view-block {
          display: inline-flex;
          align-items: flex-start;
          gap: 1px;

          border-radius: 32px;
          background: var(--colors-white, #fff);

          .view-block {
            display: inline-flex;
            align-items: flex-start;

            border: none;
            background: var(--colors-blue-100, #e9f5ff);
            cursor: pointer;

            &:hover {
              background: var(--colors-blue-500, #318ce7);

              path {
                fill: var(--colors-white, #fff);
              }
            }

            &.active {
              background: var(--colors-blue-500, #318ce7);

              path {
                fill: var(--colors-white, #fff);
              }
            }
          }

          .list-view {
            padding: 9.5px 8px 9.5px 12px;
            border-radius: 32px 0 0 32px;
          }

          .grid-view {
            padding: 9.5px 12px 9.5px 8px;
            border-radius: 0 32px 32px 0;
          }
        }
      }

      .pop-up-location-close {
        margin-left: 32px;
      }
    }

    .offers-filter-options {
      display: none;
      align-self: stretch;

      background: var(--colors-white, #fff);

      user-select: none;

      .offers-filter-group-container {
        display: flex;
        padding: 32px 48px;
        align-items: flex-start;
        gap: 32px;
        width: 100%;
        border-bottom: 1px solid var(---disabled, #e9e9e9);
      }
      .offers-filter-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        flex: 1 0 0;
        list-style: none;
        margin: 0;
        padding: 0;

        h3 {
          display: flex;
          align-items: center;
          gap: 4px;
          align-self: stretch;
          margin: 0;

          color: var(--colors-gray-700, #2f2c2f);
          font-size: 14px;
          font-weight: 500;
        }

        div {
          display: flex;
          padding-left: 4px;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          label {
            display: flex;
            align-items: center;
            gap: 4px;
            position: relative;
            color: var(--colors-gray-700, #2f2c2f);

            font-weight: 400;
            cursor: pointer;
          }
        }
        .global-page-checkbox + label:before {
          width: 16px;
        }
      }
    }

    .offers-page-content {
      width: 100%;
      overflow-y: scroll;
      max-height: 85vh;

      &::-webkit-scrollbar {
        width: 8px; /* Ширина всего элемента навигации */
      }

      &::-webkit-scrollbar-track {
        border-radius: 8px; /* Округление бегунка */

        background: var(--colors-gray-100, #f7f7f7); /* Цвет дорожки */
      }

      &::-webkit-scrollbar-thumb {
        background: var(--colors-gray-200, #e5e4e2);
        /* Цвет бегунка */
        border-radius: 8px; /* Округление бегунка */
      }

      .offers-page-block__list-block:last-child {
        border-radius: 0 0 24px 24px;
      }

      .offers-page-block__list,
      .offers-page-block__column,
      .offers-page-block__comparison {
        display: none;

        &.active {
          display: flex;
        }
      }
    }
    @import "../_12-offers-tab/12.1-block-list";
    @import "../_12-offers-tab/12.2-block-column";
    @import "../_12-offers-tab/12.3-block-comparison";
  }
}
