.common-template__content-top {
  @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);

  user-select: none;
  margin-top: 64px;

  @media (max-width: 719px) {
    .breadcrumbs-content {
      width: min(100%, var(---width, 1366px));
    }
  }

  .breadcrumbs {
    @include flexbox($alignItems: center);

    height: 48px;
    padding: 0 24px;
    flex-shrink: 0;

    @media (max-width: 719px) {
      overflow-x: auto;
      scrollbar-width: none;
      padding: 0 12px;
      height: 40px;
    }

    .breadcrumbs__item {
      @include flexbox($justify: center, $alignItems: center);

      color: var(--colors-gray-400, #929292);
      font-size: 12px;

      @media (max-width: 719px) {
        span {
          width: 100%;
          white-space: nowrap;
        }
      }

      &:last-child {
        color: var(--colors-gray-300, #c0c0c0);
      }
      &:hover {
        color: var(--colors-gray-500, #696969);
      }

      &:not(:last-child)::after {
        // SVG COLOR var(--colors-gray-400, #929292);
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M6.5 11L9.5 8L6.5 5" stroke="%23929292" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        width: 16px;
        height: 16px;
      }
      &:hover:not(:last-child)::after {
        // SVG COLOR var(--colors-gray-500, #696969);
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M6.5 11L9.5 8L6.5 5" stroke="%23696969" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
    }
  }
}
