.smartphone-filters-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;

  .smartphone-filters-content-container {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    border-radius: 32px;
    background: var(---white, #fff);

    /* block-shadow */
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

    width: min(92%, (var(---width, 1366px) - 32px));
    overflow: auto;

    @media (max-width: 719px) {
      width: min(93%, (var(---width, 1366px) - 32px));
      background: unset;
      box-shadow: unset;
    }

    .smartphone-filters-block {
      display: flex;
      min-width: 140px;
      max-width: 180px;
      padding: 16px 16px 12px 16px;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;

      border-radius: 16px;
      background: var(--colors-white, #fff);

      @media (max-width: 719px) {
        padding: 4px 12px 4px 4px;
        background: unset;
        flex-direction: unset;
      }

      img {
        width: 48px;
        height: 48px;
        object-fit: contain;
        border-radius: 4px;

        @media (max-width: 719px) {
          width: 24px;
          height: 24px;
        }
      }

      span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        align-self: stretch;

        overflow: hidden;
        color: var(--colors-gray-500, #696969);
        text-align: center;
        text-overflow: ellipsis;

        font-size: 14px;

        @media (max-width: 719px) {
          display: flex;
          align-items: center;
          font-size: 12px;
        }
      }

      &:hover {
        background: var(--colors-gray-100, #f7f7f7);
      }
    }
  }
}
