.gen-tab__info {
  @include flexbox($alignItems: flex-start, $direction: column, $self: stretch);
  padding: 32px 32px 24px 32px;
  gap: 8px;

  background: var(---white, #fff);

  .gen-tab__info-name {
    @include flexbox($alignItems: flex-start, $self: stretch);
    gap: var(---gap-big, 48px);

    .gen-tab__info-p {
      flex: 1 0 0;
      align-self: stretch;

      color: var(--colors-gray-700, #2f2c2f);
      font-weight: 500;
      font-size: 24px;
    }

    .gen-tab__info-btn {
      @include flexbox($alignItems: flex-start);
      gap: 8px;

      .gen-tab-controls__btn {
        @include flexbox($justify: center, $alignItems: center);
        border: none;
        border-radius: 8px;
        background: var(--colors-white, #fff);
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:hover {
          path {
            stroke: var(--colors-gray-700, #2f2c2f);
          }
        }
        &.gen-tab__info-wishlist-btn.active {
          path {
            stroke: var(--colors-green-500-primary, #2ea84f);
            fill: var(--colors-green-500-primary, #2ea84f);
          }
        }
        &.gen-tab__info-compare-btn.active {
          path {
            stroke: var(--colors-green-500-primary, #2ea84f);
          }
          .gen-tab__info-compare-btn_fill {
            fill: var(--colors-green-500-primary, #2ea84f);
          }
        }
      }
    }
  }

  .gen-tab__info-list {
    @include flexbox($alignItems: center, $self: stretch);
    gap: var(---gap-small, 16px);

    color: var(--colors-gray-700, #2f2c2f);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 14px;

    user-select: none;

    .gen-tab__info-list-line {
      @include flexbox($alignItems: center);
      gap: 2px;
    }

    .gen-tab__info-list-guarantee-days {
      color: var(--colors-green-400, #62b278);

      font-weight: 500;
      margin-left: 2px;
    }

    .gen-tab__info-list-reviews-container {
      @include flexbox($alignItems: center);
      gap: var(---gap-small, 16px);

      .gen-tab__info-list-rating {
        @include flexbox($alignItems: center);

        color: var(---dark-gray, #333);
        text-align: center;
      }
      .gen-tab__info-list-reviews {
        @include flexbox($alignItems: center);

        gap: 4px;

        text-align: center;

        font-size: 16px;

        &:hover {
          path {
            fill: var(--colors-green-500-primary, #2ea84f);
          }
          a {
            color: var(--colors-green-500-primary, #2ea84f);
          }
        }
      }
    }
  }

  .gen-tab__info-price {
    @include flexbox(
      $alignItems: baseline,
      $self: stretch,
      $justify: space-between
    );

    .gen-tab__info-price-cashback {
      @include flexbox(
        $alignItems: center,
        $direction: column,
        $justify: space-between
      );
      height: 24px;
      position: relative;

      color: var(--colors-gray-700, #2f2c2f);

      font-size: 14px;
      font-weight: 400;
      user-select: none;

      &::after {
        background-color: #333;
        border-radius: 10px;
        display: none;
        width: 211px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: var(--colors-white, #fff);
        font-size: 10px;
        font-weight: 500;
        line-height: 150%; /* 15px */
        z-index: 15;
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(100% + 5px));
        user-select: none;
      }

      &::before {
        background-color: #333;
        content: " ";
        display: none;
        position: absolute;
        width: 15px;
        height: 15px;
        z-index: 15;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(100%)) rotate(45deg);
      }

      &:hover::after {
        display: flex;
      }

      &:hover::before {
        display: block;
      }

      .gen-tab__info-price-cashback-span {
        @include flexbox($alignItems: center);

        gap: 2px;
      }

      .gen-tab__info-price-cashback-current {
        color: var(--colors-green-400, #62b278);
        margin-left: 2px;

        font-weight: 500;
      }
    }

    .gen-tab__info-price-value {
      color: var(---dark-gray, #333);
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      .gen-tab__info-price-simb {
        font-size: 32px;
        user-select: none;
      }
    }
  }

  .gen-tab__info-delivery {
    @include flexbox($alignItems: flex-start, $self: stretch);

    border-radius: 4px;
    background: radial-gradient(
        46.03% 170.31% at 75.55% 50%,
        var(---blue-light, #81dcec) 0%,
        var(---blue, #0eb7d4) 100%
      ),
      var(---blue, #0eb7d4);

    user-select: none;

    .gen-tab__info-delivery-text {
      @include flexbox(
        $alignItems: flex-start,
        $direction: column,
        $justify: center,
        $self: stretch
      );
      padding-left: 16px;
      height: 64px;

      flex: 1 0 0;

      color: var(---white, #fff);
      font-style: normal;
      line-height: normal;

      background: url(/images/delivery\ Europe.png) no-repeat right;

      .gen-tab__info-delivery-top {
        font-size: 18px;
        font-weight: 600;
      }
      .gen-tab__info-delivery-bottom {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
