.gen-tab__add-product-mobile {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  border-radius: 24px;
  background: var(---white, #fff);

  .gen-tab__add-product-mobile-header {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;

    color: var(--colors-gray-700, #2f2c2f);
    font-size: 14px;
    font-weight: 500;
  }

  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    padding: 0 10px;

    .gen-tab__add-product-mobile-accessories {
      display: flex;
      padding: 8px 12px 8px 16px;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      position: relative;

      background: var(--colors-gray-100, #f7f7f7);
      border-radius: 8px;

      img {
        width: 48px;
        flex-shrink: 0;
      }

      .gen-tab__add-product-accessories--info-conteiner {
        display: flex;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
        align-self: stretch;
        color: var(--colors-gray-700, #2f2c2f);

        .gen-tab__add-product-accessories--name {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          flex: 1 0 0;

          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
          font-weight: 400;
          line-height: 150%; /* 18px */
        }

        .agen-tab__add-product-accessories--price {
          display: flex;
          align-items: center;
          gap: 8px;

          font-size: 14px;
          font-weight: 500;
        }
      }

      .gen-tab__add-product-accessories--button {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 50%;
        left: -8px;
        transform: translateY(-50%);
        border-radius: 50%;

        &.add-product {
          background-color: var(--colors-gray-200, #e5e4e2);

          &::after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M0 12.5001C0 5.87271 5.37258 0.500122 12 0.500122C18.6274 0.500122 24 5.87271 24 12.5001C24 19.1275 18.6274 24.5001 12 24.5001C5.37258 24.5001 0 19.1275 0 12.5001Z" fill="%23E5E4E2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9998 6.05013C12.6625 6.05013 13.1998 6.58738 13.1998 7.25013V11.3001H17.2498C17.9125 11.3001 18.4498 11.8374 18.4498 12.5001C18.4498 13.1629 17.9125 13.7001 17.2498 13.7001H13.1998V17.7501C13.1998 18.4129 12.6625 18.9501 11.9998 18.9501C11.3371 18.9501 10.7998 18.4129 10.7998 17.7501V13.7001H6.7498C6.08706 13.7001 5.5498 13.1629 5.5498 12.5001C5.5498 11.8374 6.08706 11.3001 6.7498 11.3001H10.7998V7.25013C10.7998 6.58738 11.3371 6.05013 11.9998 6.05013Z" fill="white"/></svg>');
            width: 24px;
            height: 24px;
          }
        }

        &.success {
          background-color: var(--colors-green-500-primary, #2ea84f);

          &::after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M0 12.5001C0 5.87271 5.37258 0.500122 12 0.500122C18.6274 0.500122 24 5.87271 24 12.5001C24 19.1275 18.6274 24.5001 12 24.5001C5.37258 24.5001 0 19.1275 0 12.5001Z" fill="%232EA84F"/><path d="M7.25 13.534L9.97035 16.2544L17.25 9.00012" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .gen-tab__add-product-all-models {
    align-self: stretch;

    a {
      height: 48px;
    }
  }

  &.add-product-mobile {
    padding: 0;
    border-radius: unset;
    background: unset;

    .add-product-mobile-conteiner {
      align-self: stretch;

      border-radius: 24px;
      background: var(---white, #fff);
      margin: 0 auto;

      .add-product-mobile-header {
        display: flex;
        padding: 24px;
        padding-bottom: 8px;
        align-items: center;
        gap: 4px;
        align-self: stretch;
      }

      .add-product-mobile-block {
        padding: 0 14px 16px 14px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
      }

      .add-product-mobile-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        background: var(---white, #fff);

        &:not(:first-child) {
          .gen-tab__add-product-mobile-header {
            border-top: var(--colors-gray-100, #f7f7f7) 1px solid;
          }
        }

        .gen-tab__add-product-mobile-header {
          display: flex;
          height: 48px;
          padding: 0px 16px;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          justify-content: space-between;

          div {
            display: flex;
            gap: 8px;
          }

          span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;

            overflow: hidden;
            color: var(--colors-gray-700, #2f2c2f);
            text-overflow: ellipsis;
            font-size: 16px;
            font-weight: 400;
          }

          .gen-tab__add-product-mobile-counter {
            display: flex;
            padding: 2px 8px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border-radius: 24px;
            background: var(--colors-gray-100, #f7f7f7);

            color: var(--colors-gray-400, #929292);
            text-align: center;

            font-size: 12px;
            font-weight: 500;
          }

          &::after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><path d="M5 7L8 10L11 7" stroke="%232F2C2F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            width: 16px;
            height: 16px;
            transition: transform 0.5s ease;
          }
        }

        &.active {
          .gen-tab__add-product-mobile-header {
            span {
              font-weight: 500;
            }
            &::after {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
