.inf-tab__information-block {
  @media (max-width: 719px) {
    align-items: center;

    .inf-tab__specifications-container,
    .inf-tab__reviews-container,
    .inf-tab__questions-container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      align-self: stretch;
      gap: 16px;
      border-radius: 24px;
      background: var(---white, #fff);
      position: relative;
      padding: 24px 0 16px 0;
      margin: 0 auto;

      .specifications-header {
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        align-self: stretch;

        span {
          display: flex;
          flex-wrap: nowrap;
          gap: 4px;
        }

        span#specifications-value {
          flex-wrap: nowrap;
          font-weight: 400;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          flex: 1 0 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .inf-tab__information-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        align-self: stretch;
        gap: 24px;

        max-height: 600px;
        overflow: hidden;
        padding: 0 24px;

        transition: max-height 0.5s ease;

        .specifications-block-header {
          font-size: 16px;
        }

        .reviews-block-rating-value {
          display: none;

          &.mobile {
            display: block;
          }
        }

        .global-button-reviews,
        .global-button-questions {
          margin-top: -12px;
        }

        .inf-tab__block-user-date {
          font-size: 9px;
        }

        .inf-tab__to-questions-button {
          span {
            display: none;
          }
        }
      }

      .fade {
        display: block;
        width: 100%;
        height: 80px;
        position: absolute;
        bottom: calc(32px + 16px);
        background: linear-gradient(
          0deg,
          #fff 0%,
          rgba(255, 255, 255, 0.75) 25%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      &.show {
        .inf-tab__information-container {
          max-height: unset;
        }
        .fade,
        .global-all-view-button {
          display: none;
        }

        padding: 24px 0;
      }
    }

    .inf-tab__specifications-container {
      .specifications-block-content {
        gap: 24px;
        font-size: 14px;
        align-items: flex-start !important;

        span:nth-child(odd) {
          color: var(--colors-gray-500, #696969);
          text-align: justify;
          font-weight: 500;
        }
        span:nth-child(even) {
          color: var(--colors-gray-700, #2f2c2f);
          text-align: right;

          font-weight: 400;
        }
      }
    }
  }
}
