.common-template {
  display: flex;
  flex-direction: column;
  gap: 32px;
  // background-color: aqua;

  @import "../_2-main/_1-tabs/1-tabs";
  @import "../_2-main/_2-general-tab/2-general-tab";
  @import "../_2-main/_3-block-on-sale-soon/3-block-on-sale-soon";
}
