//colors

$---disabled: #e9e9e9;
$---dark-gray: #333;
$--colors-blue-100: #e9f5ff;
$--colors-blue-400: #62a8ed;
$--colors-blue-500: #318ce7;
$--colors-green-400: #62b278;
$--colors-gray-200: #e5e4e2;
$--colors-gray-400: #929292;
$--colors-gray-500: #696969;
$--colors-gray-700: #2f2c2f;
