.common-template {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding-bottom: 32px;

  @import "../_2-main/3-breadcrumbs";
  @import "../_2-main/_1-tabs/1-tabs";
  @import "../_2-main/_2-general-tab/2-general-tab";
  @import "../_2-main/_3-block-on-sale-soon/3-block-on-sale-soon";
  @import "../_2-main/_4-description/4-description";
  @import "../_2-main/_5-recently-viewed/5-recently-viewed";
  @import "../_2-main/_6-novelty/6-novelty";
  @import "../_2-main/_7-information-tab/7-information-tab";
  @import "../_2-main/_8-cheaper-together/8-cheaper-together";
  @import "../_2-main/_9-acces-tab/9-acces-tab";
  @import "../_2-main/_10-service-tab/10-service-tab";
  @import "../_2-main/_11-used-sentences/11-used-sentences";
  @import "../_2-main/_12-offers-tab/12-offers-tab";
}
