.common-template {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding-bottom: 32px;

  @import "../_2-main/3-breadcrumbs";
  @import "../_2-main/_1-tabs/1-tabs";
  @import "../_2-main/_2-general-tab/2-general-tab";
  @import "../_2-main/_3-block-on-sale-soon/3-block-on-sale-soon";
  @import "../_2-main/_4-description/4-description";
  @import "../_2-main/_5-recently-viewed/5-recently-viewed";
  @import "../_2-main/_6-novelty/6-novelty";
  @import "../_2-main/_7-information-tab/7-information-tab";
  @import "../_2-main/_8-cheaper-together/8-cheaper-together";
  @import "../_2-main/_9-acces-tab/9-acces-tab";
  @import "../_2-main/_10-service-tab/10-service-tab";
  @import "../_2-main/_11-used-sentences/11-used-sentences";
  @import "../_2-main/_12-offers-tab/12-offers-tab";
  @import "../_2-main/inf-tab__information-block";
  @import "../_2-main/acces-mobile";
  @import "../_2-main/popular-questions";
  @import "../_2-main/_13-mobile-nav/13-mobile-nav";

  @media (max-width: 719px) {
    gap: 12px;

    .common-template__tabs {
      position: unset;
    }
    .common-template__content-top {
      order: 1;
    }
    .general-tab {
      order: 2;
    }
    .block-on-sale-soon {
      order: 3;
    }
    .block-description {
      order: 4;
    }
    .inf-tab__information-block#box-specifications {
      order: 5;
    }
    .block-recently-viewed {
      order: 6;
    }
    .block-novelty {
      order: 7;
    }
    .inf-tab__information-block#box-reviews {
      order: 8;
    }
    .block-cheaper-together {
      order: 9;
    }
    .inf-tab__information-block#box-questions {
      order: 10;
    }

    .gen-tab__block {
      order: 6;
    }
    .gen-tab__info {
      order: 0;
    }
    .gen-tab__promo {
      order: 1;
    }
    .gen-tab__constructor {
      order: 2;
    }
    .gen-tab__to-order {
      order: 3;
    }
    .gen-tab__credit {
      order: 4;
    }
    .gen-tab__delivery-options {
      order: 5;
    }

    .add-product-mobile {
      order: 11;
    }
    .gen-tab__popular {
      order: 12;
    }
  }
}
