.common-template {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding-bottom: 32px;

  @import "../_2-main/3-breadcrumbs";
  @import "../_2-main/popular-questions";
  @import "../_2-main/_13-mobile-nav/13-mobile-nav";

  @media (max-width: 719px) {
    gap: 12px;
  }
}
