.offers-page-mobile {
  .offers-page-mobile-container {
    width: calc(93% - 32px) !important;
    padding: 16px;
    position: relative;

    .offers-page-mobile-span {
      display: flex;
      align-items: center;
      gap: 24px;
      align-self: stretch;

      .left {
        display: flex;
        padding-left: 8px;
        align-items: center;
        gap: 4px;
        flex: 1 0 0;

        color: var(--colors-gray-700, #2f2c2f);
        font-size: 14px;

        .offers-page-mobile-span-value {
          display: flex;
          padding: 2px 8px;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          border-radius: var(---radius-block, 24px);
          background: var(--colors-blue-100, #e9f5ff);

          color: var(--colors-blue-400, #62a8ed);
          text-align: center;

          font-size: 12px;
        }
      }

      .right {
        display: flex;
        align-items: flex-start;
        gap: 12px;

        .BTN {
          display: flex;
          padding: 4px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          position: relative;

          border: none;
          border-radius: var(---button-height, 48px);
          background: var(--colors-blue-100, #e9f5ff);

          &.active {
            background: var(--colors-blue-500, #318ce7);
          }
          &.selected::after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none"><circle cx="4" cy="4" r="3.5" fill="%23318CE7" stroke="white"/></svg>');
            width: 6px;
            height: 6px;
            right: 2px;
            top: -4px;
            position: absolute;
          }
        }

        .sorting {
          &::before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M7 10L7 18" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path d="M12 6L12 18" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><path d="M17 12L17 18" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/></svg>');
            width: 24px;
            height: 24px;
          }
          &.active::before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M7 10L7 18" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M12 6L12 18" stroke="white" stroke-width="2" stroke-linecap="round"/><path d="M17 12L17 18" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
          }
        }
        .filter {
          &::before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M19 7L5 7" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><circle cx="11" cy="7" r="2" transform="rotate(90 11 7)" fill="%2362A8ED"/><path d="M19 12L5 12" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><circle cx="15" cy="12" r="2" transform="rotate(90 15 12)" fill="%2362A8ED"/><path d="M19 17L5 17" stroke="%2362A8ED" stroke-width="2" stroke-linecap="round"/><circle cx="12" cy="17" r="2" transform="rotate(90 12 17)" fill="%2362A8ED"/></svg>');
            width: 24px;
            height: 24px;
          }
          &.active::before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M19 7L5 7" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="11" cy="7" r="2" transform="rotate(90 11 7)" fill="white"/><path d="M19 12L5 12" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="15" cy="12" r="2" transform="rotate(90 15 12)" fill="white"/><path d="M19 17L5 17" stroke="white" stroke-width="2" stroke-linecap="round"/><circle cx="12" cy="17" r="2" transform="rotate(90 12 17)" fill="white"/></svg>');
          }
        }
      }
    }

    .offers-page-block__con {
      display: none;
      padding: 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      flex: 1 0 0;

      border-radius: 16px;
      background: var(--colors-gray-100, #f7f7f7);

      .offers-page-block__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .header__span {
          display: flex;
          align-items: center;
          gap: 4px;

          color: var(--colors-gray-500, #696969);
          font-size: 14px;
        }

        .header__close {
          display: flex;
          align-items: center;
          gap: 2px;

          color: var(--colors-red-300, #fa8072);
          font-size: 14px;

          &::after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M4.6665 11.333L11.3332 4.66634" stroke="%23FA8072" stroke-width="1.33" stroke-linecap="round"/><path d="M4.6665 4.6665L11.3332 11.3332" stroke="%23FA8072" stroke-width="1.33" stroke-linecap="round"/></svg>');
            width: 16px;
            height: 16px;
          }
        }
      }

      .offers-page-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;

        .filter-header__span {
          color: var(--colors-gray-700, #2f2c2f);
          font-size: 14px;
          display: flex;

          gap: 8px;
        }
      }

      .offers-page-block__container {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        gap: 4px;
        align-self: stretch;
        flex-wrap: wrap;

        span {
          &.active {
            padding: 0px 14px 0px 8px;

            &::before {
              content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M4.5 8.62713L6.67628 10.8034L12.5 5" stroke="%23696969" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
              width: 16px;
              height: 16px;
            }
          }
        }

        .block__filter-span {
          &.active {
            padding: 0px 14px 0px 8px;

            &::before {
              content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M4.5 8.62713L6.67628 10.8034L12.5 5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
              width: 16px;
              height: 16px;
            }
          }
        }

        .block__sorting-span {
          display: flex;
          padding: 8px 16px;
          align-items: center;

          border-radius: var(---button-height, 48px);
          background: var(--colors-white, #fff);

          color: var(--colors-gray-700, #2f2c2f);
          text-align: center;
          font-size: 14px;
          font-weight: 400;

          &.active {
            padding: 8px 14px 8px 8px;
          }
        }

        .block__filter-span {
          display: flex;
          height: 32px;
          padding: 0px 14px;
          align-items: center;
          gap: 6px;

          border-radius: 8px;
          color: var(--colors-white, #fff);
          font-size: 12px;
        }

        .block__all-span {
          display: flex;
          height: 32px;
          padding: 0px 14px;
          align-items: center;
          gap: 4px;

          border-radius: 8px;
          background: var(--colors-gray-200, #e5e4e2);

          color: var(--colors-gray-500, #696969);
          font-size: 12px;
        }
      }

      &.active {
        display: flex !important;
      }
    }

    .offers-page-block__column {
      display: flex;
      max-height: 600px;
      flex-direction: column;
      align-items: flex-start;
      gap: 1px;
      align-self: stretch;

      background: var(--colors-gray-100, #f7f7f7);

      flex-wrap: unset;
      overflow: hidden;
      transition: max-height 2s ease;

      .offers-page-block__column-container {
        display: flex;
        padding: 12px 8px;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;

        flex-direction: row;

        background: var(--colors-white, #fff);
        border-radius: unset;
        min-width: unset;
        max-width: unset;

        .offers-page-block__column-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 12px;
          flex: 1 0 0;
        }

        .offers-page-rating {
          width: 100%;
        }

        .offers-page-block__column-img {
          display: flex;
          justify-content: center;
          align-items: center;

          align-self: unset;

          img {
            width: 116px;
            max-height: 116px;
            background: unset;
            box-shadow: unset;
            border-radius: 8px;
          }

          .pixo-indx {
            display: flex;
            width: 14px;
            height: 10px;
            padding: 3px 5px;
            justify-content: center;
            align-items: center;
            gap: 5px;

            border-radius: 4px;

            font-size: 9px;
            left: 8px;
          }
        }

        .offers-page-block__column-btn {
          display: flex;
          justify-content: flex-end;
          align-items: baseline;
          align-self: stretch;

          .global-p-short-product {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            gap: 16px;
            align-self: stretch;

            div {
              display: flex;
              align-items: center;

              .global-p-short-product-to-container {
                color: var(--colors-gray-500, #696969);

                font-size: 12px;
              }
            }

            .global-p-short-product-new-price-container {
              color: var(--colors-gray-700, #2f2c2f);
              font-size: 20px;
            }
          }
        }
      }
    }

    .fade {
      position: absolute;
      bottom: 64px;
      left: 0;
      width: 100%;
      height: 80px;
      background: linear-gradient(
        0deg,
        #fff 0%,
        rgba(255, 255, 255, 0.75) 25%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &.show {
      .offers-page-block__column {
        max-height: 5000px;
      }
      .fade,
      .global-all-view-button {
        display: none;
      }

      padding: 16px 16px 12px 16px;
    }
  }
}
