.mobile-nav__tabs {
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  background: var(--colors-gray-200, #e5e4e2);
  width: 100%;
  transition: bottom 0.5s ease;

  .mobile-tabs {
    width: 100%;
    position: relative;

    .tablist {
      display: flex;

      .tabs__link {
        display: flex;
        padding: 10px 12px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 0 0;
        border-top: 1px solid var(--colors-gray-200, #e5e4e2);
        background: var(---white, #fff);
        align-self: stretch;
        position: relative;

        &:not(:first-child) {
          border-left: 1px solid var(--colors-gray-200, #e5e4e2);
        }
        .tabs__link-menu-buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .tabs__link-menu-container {
            display: flex;
            width: 32px;
            height: 32px;
            padding: 0 9px;
            justify-content: center;
            align-items: center;
            position: relative;

            .tabs__link-menu-counter {
              position: absolute;

              padding: 1px 3px;

              color: var(--colors-white, #fff);
              text-align: center;
              font-family: Rubik;
              font-size: 6px;
              font-style: normal;
              font-weight: 500;
              line-height: 6px; /* 100% */

              border-radius: 28px;
              border: 1px solid var(--colors-white, #fff);
              background: var(--colors-green-400, #62b278);
              right: 8px;

              &.tabs__link-menu-counter-accaunt {
                bottom: 1px;
              }

              &.tabs__link-menu-counter-cart {
                top: 3px;
              }

              &.bonus {
                background: var(--colors-red-300, #fa8072);
              }
            }
          }
          .tabs__link-span {
            color: var(--colors-gray-700, #2f2c2f);
            font-size: 9px;
          }
        }

        .tabs__link-menu-list {
          position: fixed;
          // top: 0px;
          // right: 800px;
          top: 1800px;
          left: 0;
          bottom: 0;
          transform: translate(0, 0%);
          transition: top 0.5s ease;
          width: 100%;
          overflow-y: auto;
          box-sizing: border-box;
          z-index: 50;
          display: flex;
          flex-direction: column;
          gap: 12px;
          height: calc(100% - calc(63px + (12px * 2)));

          .gen-block-mobile {
            gap: 12px;
            position: relative;
          }

          .gen-block-mobile-header {
            font-weight: 500;

            .tabs__link-menu-spans {
              color: var(--colors-gray-500, #696969);
              font-size: 12px;
            }
          }
          .tabs__link-menu-containers {
            color: var(--colors-gray-700, #2f2c2f);

            gap: 8px;

            &.promo {
              background: unset;
              padding: 0;
              width: calc(95%);
              img {
                object-fit: cover;
                width: 100%;
              }
            }

            &.trade {
              width: calc(95% - (16px * 2));

              padding: 8px 16px;

              color: var(--colors-gray-700, #2f2c2f);

              font-size: 16px;
              font-weight: 400;
            }

            .tabs__link-menu__content {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
              align-self: stretch;

              span,
              a {
                width: 100%;

                font-weight: 400;
              }
              a {
                color: var(--colors-gray-700, #2f2c2f);
              }

              .tabs__link-menu__bonus {
                display: flex;
                padding: 12px 16px;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 16px;
                align-self: stretch;

                border-radius: 16px;
                background: var(--colors-green-100, #e9f9e9);

                .left {
                  display: flex;
                  padding-top: 4px;
                  flex-direction: column;
                  justify-content: flex-end;
                  align-items: flex-end;
                  gap: 8px;
                  flex: 1 0 0;

                  .top {
                    color: var(--colors-green-400, #62b278);
                    font-size: 12px;
                    font-weight: 500;
                  }

                  .bottom {
                    color: var(--colors-green-400, #62b278);
                    font-size: 10px;
                    font-weight: 400;
                  }
                }

                .price-bonus {
                  width: unset;
                  color: var(--colors-green-400, #62b278);
                  font-size: 32px;
                }
              }
            }
          }

          &.messenger {
            height: calc(100% - 75px);

            .tabs__link-menu-containers {
              width: calc(100% - (12px * 2));
              border-radius: unset;

              padding: 12px;
              justify-content: space-between;
              align-items: center;
              flex-direction: unset;

              .tabs__link-messengers-left,
              .tabs__link-messengers-right {
                display: flex;
                align-items: center;
                gap: 8px;
              }

              a.messengers-block,
              button.messengers-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                border-radius: 8px;

                color: var(--colors-white, #fff);
                text-align: center;
                font-size: 6px;

                svg {
                  width: 24px;
                  height: 24px;
                }
              }

              a.messengers-block {
                width: 32px;
                height: 36px;
                padding: 1px 4px 3px 4px;
              }

              button.messengers-block {
                border: none;
                width: 40px;
                height: 40px;
              }

              .messengers-block {
                &.viber {
                  background: #7360f2;
                }
                &.instagram {
                  background: #dd4280;
                }
                &.messenger {
                  background: #1e85ff;
                }
                &.tiktok {
                  background: #101010;
                }
                &.telegram {
                  background: #4ea4f6;
                }
                &.manager {
                  background: var(--colors-blue-100, #e9f5ff);
                  color: var(--colors-blue-400, #62a8ed);
                }
                &.chat {
                  background: var(--colors-mint-100, #daf8f5);
                  color: var(--colors-mint-400, #28b2a2);
                  text-wrap: nowrap;
                }
              }
            }
          }
        }

        .tabs__link-menu-list-bottom-arrow {
          width: 16px;
          height: 16px;
          position: fixed;
          bottom: -50px;
          right: 5%;
          z-index: 100;
          transition: right 0.5s ease, bottom 0.5s ease;

          border: 1px solid var(--colors-gray-300, #e5e4e2);
          border-radius: 50%;
          padding: 3px 3px;
          background: var(--colors-gray-100, #e5e4e2);

          svg {
            margin-top: 2px;

            path {
              fill: var(--colors-gray-300, #e5e4e2);
            }
          }

          &.active {
            bottom: 83px;
          }

          &.hide {
            right: -50px !important;
          }
        }

        &.active {
          background: var(--colors-green-100, #e9f9e9);

          .tabs__link-menu-list {
            // top: 12px;
            // right: 0;
            top: 12px;
            left: 0;
            bottom: 0;
          }

          &.tabs__link-menu,
          &.tabs__link-cabinet,
          &.tabs__link-cart {
            .tabs__link-menu-container {
              path {
                stroke: var(--colors-green-600, #25863f);
              }
            }
          }

          &.tabs__link-catalog {
            .tabs__link-menu-container {
              path {
                fill: var(--colors-green-600, #25863f);
              }
            }
          }

          &.tabs__link-cart {
            .tabs__link-menu-container {
              circle {
                fill: var(--colors-green-600, #25863f);
              }
            }
          }

          &.tabs__link-messenger {
            .tabs__link-menu-container {
              path,
              circle {
                fill: var(--colors-green-600, #25863f);
              }
            }
          }

          .tabs__link-span {
            color: var(--colors-green-600, #25863f);
            font-size: 9px;
          }
        }

        &.tabs__link-messenger {
          .tabs__link-menu-list {
            flex-direction: column-reverse;
          }
        }

        &.tabs__link-cart {
          .tabs__link-menu-containers {
            width: calc(95% - 16px);
            padding: 8px;
            border-radius: 16px;

            .global-modal-block-content {
              display: flex;
              padding: 8px;
              align-items: flex-start;
              gap: 8px;
              align-self: stretch;

              img {
                width: 64px;
                height: 64px;
              }

              .global-modal-block-content-container {
                display: flex;
                height: 64px;
                padding-right: 4px;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;

                .global-p-short-product-span {
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  flex: 1 0 0;

                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 150%; /* 18px */
                }

                .global-modal-price-container {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  align-self: stretch;

                  .global-modal-counter-container {
                    font-size: 12px;

                    .ctrl-button {
                      background: var(--colors-gray-100, #f7f7f7);
                    }
                  }

                  .global-modal-total-container {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 16px;
                    flex: 1 0 0;
                    align-self: stretch;

                    .gen-tab__info-price-cashback {
                      font-size: 10px;
                      justify-content: center;

                      svg {
                        width: 16px;
                        height: 16px;
                      }
                    }

                    .global-p-short-product {
                      font-size: 16px;
                      text-align: right;
                    }
                  }
                }
              }
            }

            .tabs__link-menu-block-buttom {
              display: flex;
              align-self: stretch;
              flex-direction: column;

              .tabs__link-menu-block-header {
                display: flex;
                height: 20px;
                justify-content: space-between;
                align-items: center;
                gap: 8px;
                width: 100%;

                .delete-product {
                  color: var(--colors-red-300, #fa8072);
                  font-family: Rubik;
                  font-size: 8px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  margin-left: 20px;
                }

                div {
                  display: flex;
                  justify-content: flex-end;
                  gap: 8px;
                  align-self: stretch;
                  flex: 1 0 0;
                  margin-left: 8px;

                  .add-services {
                    display: flex;
                    padding: 4px 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;

                    border-radius: 24px;
                    background: var(--colors-blue-100, #e9f5ff);

                    color: var(--colors-blue-400, #62a8ed);
                    font-size: 10px;
                    flex: 1 0 0;

                    &.active {
                      background: var(--colors-blue-500, #318ce7);

                      color: var(--colors-white, #fff);
                    }
                  }
                }
              }

              .tabs__link-services,
              .tabs__link-product-mobile {
                display: none;
                padding-right: 0;
                margin-left: calc(72px - 24px);
                padding-top: 20px;
                padding-bottom: 0;

                &.active {
                  display: flex;
                }
              }

              .tabs__link-services {
                padding-left: 24px;
              }

              .tabs__link-product-mobile {
                .carousel-container {
                  padding-right: 0;
                }
              }
            }

            &.block-mobile-container-bottom {
              display: flex;
              padding: 8px 8px 8px 12px;
              justify-content: flex-end;
              align-items: center;
              gap: 16px;
              align-self: stretch;
              flex-direction: row;

              .modal-total-container-bottom {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex: 1 0 0;

                .gen-tab__info-price-cashback {
                  font-size: 10px;
                  justify-content: center;

                  svg {
                    width: 16px;
                    height: 16px;
                  }
                }

                .global-p-short-product {
                  display: flex;
                  padding-left: 12px;
                  justify-content: flex-end;
                  align-items: center;
                  flex: 1 0 0;

                  font-size: 24px;
                }
              }

              .global-button-send-fast-buy {
                width: unset;

                button {
                  height: 48px;
                  padding: 0px 20px;
                  width: unset;
                  border-radius: 8px;
                }
              }
            }
          }
        }
      }
    }

    .p-short-info {
      display: flex;
      height: 48px;
      padding: 8px 16px 8px 12px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background: var(--colors-white, #fff);
      position: absolute;
      bottom: -63px;
      transition: bottom 0.5s ease;

      .p-short-info-left {
        display: flex;
        align-items: center;
        align-self: stretch;
        gap: 8px;

        img {
          width: 48px;
          height: 48px;
          flex-shrink: 0;
          border-radius: 4px;
        }

        .global-p-short-product-container {
          display: flex;
          padding: 4px 0px;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          flex: 1 0 0;
          align-self: stretch;

          .global-p-short-product-span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-self: stretch;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 10px;
            font-weight: 400;
          }

          .global-p-short-product {
            display: flex;
            align-items: center;
            gap: 8px;
            align-self: stretch;

            .global-p-short-product-old-price-container {
              font-size: 10px;
              font-weight: 500;
            }

            .global-p-short-product-discount-container {
              display: flex;
              height: 12px;
              padding: 0px 4px;
              justify-content: center;
              align-items: center;

              font-size: 10px;
              font-weight: 600;
            }

            .global-p-short-product-new-price-container {
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }

      .p-short-info-right {
        button {
          padding: 0px 32px 0px 24px;
        }
      }

      &.visible {
        bottom: 63px;
      }
      &.mobile {
        bottom: -63px;
      }
    }
  }

  &.video {
    bottom: -63px;

    .p-short-info {
      background: transparent;
    }
  }
}
