@import "../scss/_0-global/normalize";
@import "../scss/_0-global/global";
@import "../scss/_0-global/root";
@import "../scss/_1-header/header";
@import "../scss/_2-main/main";
@import "../scss/_3-footer/_footer";
// @import "../scss/_4-pop-up/4-pop-up";
