.pop-up-bu-products-modal-content {
  width: min(90%, 1300px);
  margin: 4% auto;

  @media (max-width: 1280px) {
    margin: 2% auto;
  }

  .pop-up-bu-main-photo-block-slider {
    background: var(--colors-white, #fff);
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.16);
    border-radius: 28px;

    .splide__arrow--prev {
      left: -52px;
    }
    .splide__arrow--next {
      right: -52px;
    }

    .splide__track--slide {
      border-radius: 28px;

      .pop-up-bu-main-block__list-block {
        display: flex;
        align-items: flex-start;

        align-self: stretch;

        .splide__track--slide {
          border-radius: unset;
        }

        .pop-up-bu-main__left-side {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex: 1 0 0;
          align-self: stretch;

          user-select: none;

          .pop-up-bu-main__carousel-container-img {
            display: flex;
          }

          .pop-up-bu-splide__arrow {
            width: 40px;
            height: 80px;
            background-color: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: unset;
          }

          .pop-up-bu-splide__arrow--prev {
            left: 0px;

            &::after {
              content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="81" viewBox="0 0 40 81" fill="none"><g opacity="0.5"><path d="M0 0.5C22.0914 0.5 40 18.4086 40 40.5C40 62.5914 22.0914 80.5 0 80.5V0.5Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M18.5429 28.5429L7.63498 39.4508C7.63458 39.4512 7.63419 39.4516 7.6338 39.452C7.24328 39.8425 7.24328 40.4757 7.6338 40.8662C7.63419 40.8666 7.63459 40.867 7.63498 40.8674L18.5429 51.7753C18.9334 52.1658 19.5666 52.1658 19.9571 51.7753C20.3476 51.3848 20.3476 50.7516 19.9571 50.3611L9.75512 40.1591L19.9571 29.9571C20.3476 29.5666 20.3476 28.9334 19.9571 28.5429C19.5666 28.1524 18.9334 28.1524 18.5429 28.5429Z" fill="%23333333"/></g></svg>');
            }
          }

          .pop-up-bu-splide__arrow--next {
            right: 0px;

            &::after {
              content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="81" viewBox="0 0 40 81" fill="none"><g opacity="0.5"><path d="M0 40.5C0 18.4086 17.9086 0.5 40 0.5V80.5C17.9086 80.5 0 62.5914 0 40.5Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M21.4571 28.5429L32.365 39.4508C32.3654 39.4512 32.3658 39.4516 32.3662 39.452C32.7567 39.8425 32.7567 40.4757 32.3662 40.8662C32.3658 40.8666 32.3654 40.867 32.365 40.8674L21.4571 51.7753C21.0666 52.1658 20.4334 52.1658 20.0429 51.7753C19.6524 51.3848 19.6524 50.7516 20.0429 50.3611L30.2449 40.1591L20.0429 29.9571C19.6524 29.5666 19.6524 28.9334 20.0429 28.5429C20.4334 28.1524 21.0666 28.1524 21.4571 28.5429Z" fill="%23333333"/></g></svg>');
            }
          }

          .pop-up-bu-main__left-side {
            display: flex;
            width: 55.38%;
            align-items: flex-start;
            align-self: stretch;
          }

          .pop-up-bu-main__carousel-img {
            @include flexbox(
              $direction: column,
              $alignItems: center,
              $self: stretch
            );

            width: 100%;
            border-radius: 8px;

            position: relative;

            img {
              width: 100%;

              object-fit: cover;

              background: lightgray 50% / cover no-repeat;
            }

            .pop-up-bu-main-parameter-indx {
              display: flex;
              height: 48px;
              padding-right: 12px;
              align-items: center;
              gap: 8px;

              border-radius: 8px;
              background: rgba(255, 255, 255, 0.8);

              position: absolute;
              top: 24px;
              left: 24px;

              .pixo-indx {
                display: flex;
                padding: 16.5px 21px;

                justify-content: center;
                align-items: center;
                align-self: stretch;

                font-size: 24px;
                border-radius: 8px 0 0 8px;
              }

              .global-list-line {
                font-size: 12px;
              }
            }

            .pop-up-bu-main-spec-block {
              display: flex;
              align-items: center;
              gap: 8px;
              align-self: stretch;
              position: absolute;
              top: 24px;
              right: 24px;

              .pop-up-bu-main-spec-span {
                display: flex;
                height: 48px;
                max-width: 120px;
                padding: 0 16px;
                justify-content: center;
                align-items: center;
                gap: 2px;
                flex: 1 0 0;

                border-radius: var(---radius-min, 8px);
                background: var(--colors-gray-100, #f7f7f7);

                color: var(--colors-gray-300, #c0c0c0);

                font-size: 14px;
              }
            }

            .global-block-discount-group,
            .pop-up-bu-main-spec-span__esim,
            .pop-up-bu-main-spec-span__oem,
            .pop-up-bu-main-spec-span__mdm {
              display: none !important;
            }
          }

          .splide:not(.is-overflow) .splide__pagination {
            display: flex !important;
          }
        }

        .pop-up-bu-main__right-side {
          display: flex;
          max-width: 44.62%;
          flex-direction: column;
          align-items: flex-start;

          background: var(---disabled, #e9e9e9);

          .pop-up-bu-main-parameter-container {
            display: flex;
            padding: 32px 32px 24px 32px;
            flex-direction: column;
            align-items: flex-start;
            gap: var(---gap-small, 16px);
            align-self: stretch;
            background: var(---white, #fff);

            .pop-up-bu-main-parameter-block {
              display: flex;
              align-items: flex-start;
              gap: var(---gap-big, 48px);
              align-self: stretch;

              h4 {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                flex: 1 0 0;
                margin: 0;
                padding: 0;

                overflow: hidden;
                color: var(--colors-gray-700, #2f2c2f);
                text-overflow: ellipsis;
                font-family: Rubik;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }

            .offers-page-buy-block {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              gap: var(---gap-basic, 24px);
              align-self: stretch;

              .offers-page-buy-header {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 8px;
                align-self: stretch;

                .offers-page-buy-guarantee {
                  display: flex;
                  justify-content: flex-end;
                  align-items: flex-end;
                  gap: var(---gap-small, 16px);
                  align-self: stretch;

                  @media (max-width: 1280px) {
                    gap: 8px;
                  }

                  .gen-tab__info-price-cashback {
                    height: 21px;
                  }

                  .used-sentences-list-block-value {
                    display: flex;
                    justify-content: flex-end;
                    align-items: baseline;
                    gap: var(---gap-basic, 24px);
                    margin-left: 8px;

                    color: var(--colors-gray-700, #2f2c2f);

                    font-size: 48px;

                    @media (max-width: 1280px) {
                      font-size: 26px;
                    }
                  }
                }

                .offers-page-buy-guarantee-bottom {
                  display: flex;
                  justify-content: flex-end;
                  align-items: flex-end;
                  gap: var(---gap-small, 16px);
                  align-self: stretch;

                  &,
                  & span {
                    color: var(--colors-gray-400, #929292) !important;
                  }

                  .gen-tab__info-list-guaran {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    gap: var(---gap-small, 16px);
                    align-self: stretch;

                    @media (max-width: 1280px) {
                      flex-wrap: wrap;
                    }
                    .gen-tab__info-price-cashback {
                      height: 21px;
                    }

                    .used-sentences-list-block-value {
                      font-size: 16px;

                      span {
                        font-size: 24px;
                      }

                      @media (max-width: 1280px) {
                        font-size: 14px;

                        span {
                          font-size: 20px;
                        }
                      }
                    }
                  }
                }
              }

              .offers-page-buy-bottom {
                display: flex;
                height: 48px;
                align-items: center;
                gap: var(---gap-small, 16px);
                align-self: stretch;
              }
            }
          }

          .pop-up-bu-main__nav-container {
            display: flex;
            padding-top: 1px;
            flex-direction: column;
            align-items: flex-start;
            gap: 1px;
            align-self: stretch;

            background: var(---disabled, #e9e9e9);

            .pop-up-bu-main-description-block,
            .gen-tab__block,
            .pop-up-bu-main-delivery {
              display: none;
            }

            .pop-up-bu-main-menu {
              align-self: stretch;

              .pop-up-bu-main-menu-ul {
                display: flex;
                height: 48px;
                align-items: flex-start;
                gap: 1px;
                align-self: stretch;
                list-style: none;
                padding: 0;

                .contain-submenu {
                  display: flex;
                  padding: 0px 32px;
                  justify-content: center;
                  align-items: center;
                  gap: 4px;
                  flex: 1 0 0;
                  align-self: stretch;
                  background: var(--colors-white, #fff);
                  cursor: pointer;

                  color: var(--colors-gray-700, #2f2c2f);

                  font-weight: 400;

                  &.active {
                    color: var(--colors-green-500-primary, #2ea84f);

                    font-weight: 500;
                  }

                  &:hover {
                    background: var(--colors-gray-100, #f7f7f7);
                  }
                }
              }
            }

            .active.active.pop-up-bu-main-description-block {
              display: flex;
              padding: 24px 32px;
              flex-direction: column;
              align-items: flex-start;
              gap: 12px;
              align-self: stretch;

              background: var(---white, #fff);

              .pop-up-bu-main-description-top {
                display: flex;
                padding: 0 4px;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                align-self: stretch;

                .pop-up-bu-main-description-container {
                  display: flex;
                  align-items: baseline;
                  gap: var(---gap-small, 16px);
                  align-self: stretch;

                  .pop-up-bu-main-description-name {
                    display: flex;
                    width: 120px;
                    align-items: flex-start;
                    gap: 10px;
                    align-self: stretch;

                    color: var(--colors-gray-400, #929292);

                    font-size: 14px;

                    user-select: none;
                  }

                  .pop-up-bu-main-description-datail {
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;
                    flex: 1 0 0;

                    color: var(--colors-gray-700, #2f2c2f);

                    font-weight: 400;
                  }
                }
              }
            }

            .active.gen-tab__block {
              display: flex;
              padding: 24px 32px;
              flex-direction: column;
              align-items: flex-start;
              gap: var(---gap-small, 16px);
              align-self: stretch;

              background: var(--colors-white, #fff);

              .gen-tab__add-services {
                justify-content: center;
                align-items: center;
                padding: 0;

                .gen-tab__add-services-block {
                  width: calc(
                    var(---width, 1366px) / 2 - var(---width, 1366px) / 2.35 *
                      0.3
                  );

                  .gen-tab__add-services-text {
                    width: 366px;
                  }

                  .gen-tab__add-services-ul {
                    top: 47px;
                  }
                }

                form {
                  width: 100%;

                  .gen-tab__add-services-block {
                    height: unset;
                  }
                  .gen-tab__add-services-ul {
                    li {
                      overflow: unset;
                    }

                    &.scroll {
                      overflow-y: scroll;
                      max-height: 160px;

                      &::-webkit-scrollbar {
                        width: 8px; /* Ширина всего элемента навигации */
                      }

                      &::-webkit-scrollbar-track {
                        border-radius: 8px; /* Округление бегунка */

                        background: var(
                          --colors-gray-100,
                          #f7f7f7
                        ); /* Цвет дорожки */
                      }

                      &::-webkit-scrollbar-thumb {
                        background: var(--colors-gray-200, #e5e4e2);
                        /* Цвет бегунка */
                        border-radius: 8px; /* Округление бегунка */
                      }
                    }
                  }
                }
              }

              .gen-tab__add-product {
                display: flex;
                padding: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;
                align-self: stretch;

                background: var(--colors-white, #fff);
                position: relative;

                .gen-tab__add-product-header {
                  color: var(---dark-gray, #333);
                  font-size: 16px;
                  font-weight: 400;
                  align-self: stretch;
                }

                .carousel-container {
                  display: flex;
                  align-items: center;
                  gap: 12px;
                  align-self: stretch;

                  .pop-up-bu-acces-block-slider {
                    width: 700px;
                    display: flex;
                    gap: 12px;
                    position: unset;

                    .splide__arrow {
                      top: 58%;
                      display: flex;
                      padding: 4px;
                      align-items: flex-start;

                      border-radius: 28px;
                      border: 2px solid var(--colors-white, #fff);
                      background: var(--colors-white, #fff);
                    }

                    .splide__arrow--prev {
                      left: -30px;
                      &::after {
                        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none"><path d="M7.5 1L1.5 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/><path d="M7.5 13L1.5 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/></svg>');
                      }
                    }

                    .splide__arrow--next {
                      right: -30px;
                      &::after {
                        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none"><path d="M1.5 13L7.5 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/><path d="M1.5 1L7.5 7" stroke="%23E5E4E2" stroke-width="2" stroke-linecap="round"/></svg>');
                      }
                    }
                  }

                  .gen-tab__add-product-accessories--item {
                    display: flex;
                    width: 200px;
                    padding: 8px;
                    justify-content: center;
                    align-items: flex-start;

                    border-radius: 16px;
                    border: 2px solid var(--colors-gray-100, #f7f7f7);
                    background: var(--colors-white, #fff);

                    img {
                      display: flex;
                      width: 64px;
                      height: 64px;
                      justify-content: center;
                      align-items: center;
                      object-fit: cover;
                      border-radius: 8px;
                    }

                    .gen-tab__add-product-accessories--info-conteiner {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      flex: 1 0 0;
                      align-self: stretch;

                      .gen-tab__add-product-accessories--name {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        width: calc(100% - 6%);
                        height: 24px;
                        align-self: stretch;
                        overflow: hidden;
                        color: var(--colors-gray-700, #2f2c2f);
                        text-overflow: ellipsis;
                        font-size: 10px;
                        font-weight: 400;
                      }

                      .gen-tab__add-product-accessories--info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        align-self: stretch;

                        color: var(--colors-gray-700, #2f2c2f);

                        font-size: 12px;
                        font-weight: 500;
                      }
                    }
                  }
                }
              }
            }

            .active.pop-up-bu-main-delivery {
              @include flexbox(
                $direction: column,
                $alignItems: flex-start,
                $self: stretch
              );

              padding: 24px 28px;
              gap: var(---gap-small, 16px);

              background: var(---white, #fff);
              user-select: none;

              text-align: center;

              .gen-tab__delivery-options-header {
                color: var(---dark-gray, #333);
                font-weight: 400;
                line-height: 150%; /* 24px */

                .delivery-options-header-location {
                  color: var(--colors-gray-700, #2f2c2f);
                }
              }

              .delivery-options--pickup {
                @include flexbox(
                  $justify: space-between,
                  $alignItems: center,
                  $self: stretch
                );

                padding: 8px 4px;
                font-weight: 400;

                & .delivery-options--pickup-left {
                  @include flexbox($alignItems: flex-start);

                  gap: 8px;

                  color: var(---dark-gray, #333);
                  line-height: 150%; /* 24px */
                }
                & .delivery-options--pickup-right {
                  @include flexbox($alignItems: center);

                  gap: 4px;

                  color: var(--colors-gray-700, #2f2c2f);

                  & .delivery-options--pickup-value {
                    color: var(---dark-gray, #333);
                  }
                }
              }

              .delivery-options--group {
                @include flexbox(
                  $direction: column,
                  $alignItems: flex-start,
                  $self: stretch
                );

                color: var(---dark-gray, #333);
                font-weight: 400;
                line-height: 150%; /* 24px */

                .delivery-options--group-shipping {
                  @include flexbox($alignItems: flex-start, $self: stretch);

                  padding: 8px 4px;
                  gap: 8px;
                }

                .new-post-shipping-details-container {
                  align-self: stretch;
                  padding-left: 32px;

                  .new-post-shipping-details {
                    @include flexbox(
                      $alignItems: center,
                      $justify: space-between,
                      $self: stretch
                    );

                    padding: 8px 4px;

                    color: var(--colors-gray-700, #2f2c2f);
                  }
                }
              }

              .delivery-options-header-location,
              .new-post-shipping-text,
              .delivery-options--pickup-value,
              .new-post-shipping-details-price {
                user-select: text;
              }
            }
          }
        }
      }
    }
  }
}
