.block-cheaper-together {
  &.hidden {
    display: none;
  }

  @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);

  .global-block-content-container {
    display: flex;
    flex-direction: column;

    .slick-list {
      border-radius: 0 0 24px 24px;
    }

    .global-block-cheaper-container {
      flex: 1 0 0;

      .global-block-product-container {
        display: flex;
        align-items: flex-end;
        align-self: stretch;

        .global-block-container {
          min-width: 260px;
          max-width: 300px;
          padding: 16px;
          justify-content: space-between;
          align-self: stretch;

          &.not-color {
            .global-block-colors {
              display: none;
            }
          }

          .global-block-container-bottom {
            .global-block-container-bottom-cheaper {
              color: var(--colors-gray-400, #929292);
              font-size: 24px;

              span {
                font-size: 16px;
              }
            }
          }
        }
      }

      .global-block-plus-container {
        display: flex;
        padding: 0px 12px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        // flex: 1 0 0;
        background: var(--colors-white, #fff);

        &::after {
          content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none"><path d="M16.25 4.5L16.25 28.5" stroke="%23DBF6E2" stroke-width="8" stroke-linecap="round"/><path d="M4.25 16.5L28.25 16.5" stroke="%23DBF6E2" stroke-width="8" stroke-linecap="round"/></svg>');
          width: 24px;
          height: 24px;
        }
      }
    }

    .global-block-price-container {
      display: flex;
      padding: 16px;
      justify-content: flex-end;
      align-items: center;
      gap: var(--nums-block-radius, 32px);
      align-self: stretch;

      background: var(--colors-white, #fff);

      .global-p-short-product {
        display: flex;
        height: var(--nums-block-radius, 32px);
        padding: 6px 0px;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;

        .global-p-short-product-discount-container {
          display: flex;
          padding: 4px 12px;
          justify-content: center;
          align-items: center;
        }

        .global-block-container-bottom-new-price {
          color: var(--colors-gray-700, #2f2c2f);
          font-size: 32px;

          span {
            margin-top: 7px;
            font-size: 24px;
          }
        }
      }

      .global-button {
        display: flex;
        height: var(---button-height, 48px);
        justify-content: center;
        align-items: center;
        flex: unset;
        // min-width: 140px;
        // max-width: 300px;
        width: 200px;

        button {
          display: flex;
          padding: 0px 32px 0px 24px;
          gap: 8px;
        }
      }
    }
  }
}
