.footer {
  @include flexbox($alignItems: center, $direction: column, $self: stretch);
  padding: 32px 10px 16px 10px;
  gap: var(---gap-small, 16px);

  background: var(--colors-green-900, #1c4427);

  .footer-container {
    @include flexbox($alignItems: center, $direction: column);
    gap: var(---gap-basic, 24px);

    &,
    & a {
      color: var(--colors-gray-200, #e5e4e2);

      font-size: 14px;
      font-weight: 400;
    }

    .footer-top {
      @include flexbox($alignItems: flex-start, $self: stretch);

      gap: var(---gap-big, 48px);

      .footer-nav__column {
        @include flexbox(
          $alignItems: flex-start,
          $direction: column,
          $self: stretch
        );
        flex: 1 0 0;
        gap: var(---gap-small, 16px);

        // &:not(.footer-logo-container, .footer-nav__contact) {
        // display: flex;
        // align-items: flex-start;
        // align-self: stretch;
        // gap: var(---gap-small, 16px);
        // flex: 1 0 0;
        // flex-wrap: wrap;
        // }

        .footer-nav__title {
          @include flexbox($alignItems: center, $self: stretch);
          height: 48px;

          color: var(--colors-white, #fff);
          font-size: 20px;
          font-weight: 500;
        }

        .footer-nav__list {
          @include flexbox(
            $alignItems: flex-start,
            $direction: column,
            $self: stretch
          );
          gap: 12px;

          list-style: none;
          margin: 0;
          padding: 0;
        }
      }

      .footer-container {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        gap: 48px;
        flex-direction: row;
      }

      .footer-nav__contact {
        .footer-nav__contact-link {
          color: var(--colors-white, #fff);

          font-size: 16px;
          font-weight: 500;
        }

        .footer-nav__phone-details,
        .footer-nav__contact-column {
          @include flexbox($alignItems: flex-start, $direction: column);
        }

        .footer-nav__contact-column {
          gap: 4px;
          align-self: stretch;
        }

        .footer-nav__contact-group {
          @include flexbox($alignItems: flex-start, $self: stretch);
          padding: 4px 8px;

          border-radius: 8px;
        }

        .footer-nav__phone-details {
          padding: 4px 8px;
          gap: 8px;
        }

        .footer-nav__social-media-container {
          @include flexbox($alignItems: flex-start);
          gap: 8px;

          .footer-nav__contact-link {
            width: 32px;
            height: 32px;
            @include flexbox($alignItems: center, $justify: center);
          }
        }
      }

      .footer-logo-container {
        $width: 144px;
        gap: var(---gap-basic, 24px);

        user-select: none;

        .footer-logo-block-container {
          width: $width;
        }

        .footer-nav__title {
          img {
            width: $width;
            object-fit: contain;

            border-radius: 8px;
          }
        }

        .footer-nav__list {
          @include flexbox(
            $alignItems: center,
            $direction: column,
            $self: stretch
          );

          gap: var(---gap-small, 16px);
        }
      }

      @media (max-width: 719px) {
        &,
        .footer-container {
          flex-direction: column;
        }
      }
    }

    .footer-nav__span-title {
      color: var(--colors-green-700, #1d6d33);
      font-size: 12px;
      font-weight: 500;
    }

    .footer-bottom {
      .footer-nav__span-title {
        font-weight: 400;
      }
    }
  }
}
