.footer {
  @include flexbox($alignItems: center, $direction: column, $self: stretch);
  padding: 32px 10px;
  gap: 16px;

  background: var(--colors-green-900, #1c4427);

  @media (max-width: 992px) {
    padding-bottom: 70px;
  }

  .footer-content-container {
    @include flexbox($alignItems: center, $direction: column);
    gap: var(---gap-basic, 24px);

    &,
    & a {
      color: var(--colors-gray-200, #e5e4e2);

      font-size: 14px;
      font-weight: 400;
    }

    & a:hover {
      color: var(--colors-green-600, #25863f) !important;
    }

    .footer-top {
      @include flexbox($alignItems: flex-start, $self: stretch);

      gap: var(---gap-big, 48px);

      @media (max-width: 1200px) {
        flex-wrap: wrap;
      }

      .footer-nav__column {
        @include flexbox(
          $alignItems: flex-start,
          $direction: column,
          $self: stretch
        );
        flex: 1 0 0;
        gap: 16px;

        // &:not(.footer-logo-container, .footer-nav__contact) {
        // display: flex;
        // align-items: flex-start;
        // align-self: stretch;
        // gap: 16px;
        // flex: 1 0 0;
        // flex-wrap: wrap;
        // }

        .footer-nav__title {
          @include flexbox($alignItems: center, $self: stretch);
          height: 48px;
          color: var(--colors-white, #fff);
          font-size: 20px;
          font-weight: 500;
        }

        .footer-nav__list {
          @include flexbox(
            $alignItems: flex-start,
            $direction: column,
            $self: stretch
          );
          gap: 12px;

          list-style: none;
          margin: 0;
          padding: 0;
        }
      }

      .footer-container {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        gap: 48px;
        flex-direction: row;
        
        @media (max-width: 1200px) {
            gap: 18px;
        }
      }

      .footer-nav__contact {
        .footer-nav__contact-link {
          color: var(--colors-white, #fff);

          font-size: 16px;
          font-weight: 500;
        }

        .footer-nav__phone-details,
        .footer-nav__contact-column {
          @include flexbox($alignItems: flex-start, $direction: column);
        }

        .footer-nav__contact-column {
          gap: 4px;
          align-self: stretch;
        }

        .footer-nav__contact-group {
          @include flexbox($alignItems: flex-start, $self: stretch);
          padding: 4px 8px;

          border-radius: 8px;
        }

        .footer-nav__phone-details {
          padding: 4px 8px;
          gap: 8px;
        }

        .footer-nav__social-media-container {
          @include flexbox($alignItems: flex-start);
          gap: 8px;

          .footer-nav__contact-link {
            width: 32px;
            height: 32px;
            @include flexbox($alignItems: center, $justify: center);

            &:hover {
              svg {
                path:not(:last-child) {
                  fill: var(--colors-green-600, #25863f);
                }
              }
            }
            &.footer-nav__link-viber:hover {
              background-color: var(--colors-green-600, #25863f);
              border-radius: 50%;
              svg {
                fill: white;
                path {
                  fill: white;
                }
              }
            }
          }
        }
      }

      .footer-logo-container {
        $width: 144px;
        gap: var(---gap-basic, 24px);

        user-select: none;

        .footer-logo-block-container {
          width: $width;
        }

        .footer-nav__title {
          img {
            width: $width;
            object-fit: contain;

            border-radius: 8px;
          }
          padding-bottom: 24px;
        }

        .footer-nav__list {
          @include flexbox(
            $alignItems: center,
            $direction: column,
            $self: stretch
          );

          gap: 16px;
        }
      }

      @media (max-width: 1200px) {
        .footer-logo-container {
          width: 100%;
          flex: 1 1 auto;
        }
        .footer-nav__column {
          .footer-logo-block-container {
            width: unset;
            align-self: stretch;
            
            .footer-nav__title {
              padding-top: 8px;
              justify-content: center;
              padding-bottom: 32px;

              img {
                width: 192px;
                height: 64px;
              }
            }

            .footer-nav__list {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
            }
          }
        }
      }

      @media (max-width: 992px) {
        &, 
        .footer-container {
          flex-direction: column;
          gap: 24px;
        }

        .footer-nav__column {
          align-items: center;
        }

        .footer-container {
          gap: 12px;

          .footer-nav__column {
            gap: 1px;

            .footer-nav__title {
              align-items: flex-start;
              border-radius: 8px;
              background: var(--colors-green-800, #215931);
              justify-content: space-between;
              padding: 12px 16px;
              gap: 24px;
              align-self: stretch;
              height: unset;
              transition: border-radius 1.8s ease;

              &::after {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><path d="M5 7L8 10L11 7" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                width: 16px;
                height: 17px;
                transition: transform 0.5s ease;
                margin: auto 0;
              }
            }

            .footer-nav__block {
              display: none;
              align-items: flex-start;
              gap: 16px;
              align-self: stretch;
              background: var(--colors-green-800, #215931);
              border-radius: 0px 0px 8px 8px;
            }
            .footer-nav__list {
              padding: 12px 16px;
            }

            &.active {
              .footer-nav__title {
                &::after {
                  transform: rotate(180deg);
                }
                border-radius: 8px 8px 0px 0px;
              }
              .footer-nav__list {
                padding: 12px 16px;
              }
            }
          }
        }

        .footer-nav__contact {
          gap: 24px;

          .footer-nav__span-title {
            font-size: 14px;
            font-weight: 500;
          }
          .footer-nav__contact-link {
            font-size: 24px;
            justify-content: center;
          }

          .footer-nav__contact-column {
            align-items: center;
            gap: 8px;
          }

          .footer-nav__social-media-container {
            gap: 16px;

            .footer-nav__contact-link {
              &,
              svg {
                width: 48px;
                height: 48px;
              }
            }
            .footer-nav__link-viber {
              svg {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }

    .footer-nav__span-title {
      color: var(--colors-green-700, #1d6d33);
      font-size: 12px;
      font-weight: 500;
    }

    .footer-bottom {
      .footer-nav__span-title {
        font-weight: 400;
      }

      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
  }
}
