.header_top {
  @include flexbox($alignItems: flex-start, $justify: center, $self: stretch);

  background: var(---white, #fff);

  font-size: 14px;
  user-select: none;

  a {
    @include flexbox($alignItems: center, $justify: center);

    text-align: center;

    &:hover {
      color: var(--colors-green-500-primary, #2ea84f);
    }
  }

  .header_top-content {
    @include flexbox($alignItems: center, $justify: space-between);

    padding: 8px 0px;
    flex-shrink: 0;

    .left_side {
      @include flexbox($alignItems: center);

      padding: 0px 8px 0px 6px;
      gap: var(---gap-basic, 24px);

      .main_logo {
        @include flexbox($alignItems: center);

        .main_logo-img {
          width: 144px;
          height: 48px;

          background: url("/images/main\ logo.png") 50% / cover no-repeat;
        }
      }

      .city-switch {
        @include flexbox($alignItems: center);

        gap: 2px;

        &:hover {
          path {
            fill: var(--colors-green-500-primary, #2ea84f);
          }
        }
      }
    }

    .right_side {
      @include flexbox($alignItems: center);
      padding: 0px 8px;
      gap: var(---gap-basic, 24px);

      .menu {
        @include flexbox($alignItems: center, $justify: flex-end);

        gap: var(---gap-basic, 24px);

        .menu_promotion {
          padding: 8px 24px;

          border-radius: 24px;
          background: var(--colors-red-300, #fa8072);

          color: var(---white, #fff);
          text-align: center;

          &:hover {
            background: var(--colors-red-500, #dc343b);
          }
        }

        .menu_contacts {
          gap: 2px;
        }
      }

      .language_switch-top {
        .language_switch-span {
          &.active {
            color: var(--colors-green-500-primary, #2ea84f);
          }
        }

        input[type="checkbox"] {
          background: var(--colors-green-500-primary, #2ea84f);

          &::before {
            background-color: var(---white, #fff);
          }

          &:checked {
            &::before {
              background-color: var(---white, #fff);
            }
          }
        }
      }
    }
  }
}
