.header_bottom {
  @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 3s ease; /* добавляем transition для плавного изменения свойств */
  background: var(--colors-green-500-primary, #2ea84f);

  .header_bottom-content {
    @include flexbox($justify: center, $alignItems: center);

    padding: 8px 0px;
    gap: var(---gap-big, 48px);
    flex-shrink: 0;

    @media (max-width: 719px) {
      gap: 16px;
      font-size: 12px;
    }

    .header_bottom-content__left {
      display: flex;
      gap: var(---gap-small, 16px);
      flex: 1 0 0;
      user-select: none;

      .main_logo-bottom {
        display: block !important;
        width: 144px;
        height: 48px;
        margin-left: 6px;

        background: url("/images/main\ logo_w.png") 50% / cover no-repeat;
      }
    }

    .header_bottom-content__center {
      display: flex;
      align-items: center;

      user-select: none;

      .header_bottom-content__center-item {
        display: flex;
        height: 24px;
        padding: 0px 16px;
        justify-content: center;
        align-items: center;

        border-radius: 24px;
        border: 1.5px solid var(--colors-white, #fff);

        color: var(--colors-white, #fff);
        leading-trim: both;
        text-edge: cap;
        font-size: 12px;
        text-transform: capitalize;

        &.ckeck {
          display: flex;
          padding: 0px 16px 0px 12px;
          gap: 4px;

          border-radius: 24px;
          background: var(--colors-white, #fff);

          color: var(--colors-green-500-primary, #2ea84f);
        }
      }

      .header_bottom-content__center-line {
        width: 16px;
        height: 1.5px;
        background-color: white;
      }
    }

    .header_bottom-content__right {
      @include flexbox($justify: flex-end, $alignItems: center, $self: stretch);
      gap: var(---gap-small, 16px);
      flex: 1 0 0;

      @media (max-width: 719px) {
        padding-left: 0;
      }

      .header_bottom-contact-number {
        display: flex;
        align-items: center;
        gap: 4px;

        a {
          color: var(--colors-white, #fff);
        }
      }

      .language_switch-bottom {
        @include flexbox($alignItems: center, $justify: center);
        padding: 0 8px;

        .language_switch-span {
          color: var(--colors-white, #fff);
          &.active {
            color: var(--colors-green-500-primary, #2ea84f);
            background: var(--colors-white, #fff);
          }
        }

        input[type="checkbox"] {
          background: var(--colors-white, #fff);

          &::before {
            background-color: var(--colors-green-500-primary, #2ea84f);
          }

          &:checked {
            &::before {
              background-color: var(--colors-green-500-primary, #2ea84f);
            }
          }
        }
      }

      .header_bottom-contact-advance {
        display: none;

        @media (max-width: 719px) {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 8px;

          color: #fff;
          font-size: 14px;
          font-weight: 400;

          .header_bottom-contact-advance__counter {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
