@keyframes slideOpation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.catalog_products_main {
  // width: 1390px;
  width: calc(var(---width, 1366px) + 1.25%);

  align-items: flex-start;
  position: fixed;
  top: 128px;
  border-radius: 0px 0px var(---radius-block, 24px) var(---radius-block, 24px);
  background: rgba(255, 255, 255, 0.64);
  backdrop-filter: blur(8px);
  z-index: 20;
  left: auto;
  left: 50%;
  transform: translateX(-50%);
  min-height: 630px;
  height: 68.5vh;
  max-height: 650px;

  &.active {
    top: 64px;
  }

  .main-menu {
    @include flexbox(
      $direction: column,
      $alignItems: flex-start,
      $self: stretch
    );

    padding: 16px 0px 16px 16px;

    // background: rgba(255, 255, 255, 0.64);
    backdrop-filter: blur(8px);
    border-radius: 0px 0px 0px 24px;

    list-style: none;
    margin: 0;
    width: 280px;
    height: calc(100% - (16px * 2));

    .vertical-list {
      @include flexbox($alignItems: center, $self: stretch);

      height: 48px;
      padding: 0px 12px 0px 8px;

      & a {
        @include flexbox($alignItems: center);

        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 1;
        // overflow: hidden;
        // text-overflow: ellipsis;
        color: var(--colors-gray-700, #2f2c2f);

        font-size: 14px;
        font-weight: 400;
        width: 100%;
        height: 100%;
      }

      .nsmenu-thumb {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }

      &:hover {
        border-radius: 8px 0px 0px 8px;
        background: var(--colors-white, #fff);

        .active-link {
          color: var(--colors-green-500-primary, #2ea84f);

          font-weight: 500;
        }
        path {
          stroke: var(--colors-green-500-primary, #2ea84f);
        }
      }

      .js-menu-list {
        display: none;

        &.active {
          @include flexbox($alignItems: flex-start, $self: stretch);

          gap: 24px;
          flex: 1 0 0;
          // width: 1094px;
          width: calc(var(---width, 1366px) - 91.89%);

          position: absolute;
          top: 0;
          left: 296px;
          background: #fff;
          height: 100%;
          border-radius: 0px 0px 24px 0px;
          animation: slideOpation 0.5s ease forwards;

          .js-menu-col-left {
            padding: 28px 24px 24px 24px;
            gap: 24px;
            flex: 1 0 0;
            align-self: stretch;
            columns: 3;

            .submenu-list__item {
              @include flexbox($alignItems: flex-start, $direction: column);

              break-inside: avoid-column;
              padding: 6px 0;
              padding-right: 24px;

              .menu-categories-list {
                @include flexbox($alignItems: flex-start, $direction: column);

                list-style: none;
                padding: 0;

                a {
                  line-height: 24px;
                }

                .submenu-list__see-all {
                  color: var(--colors-green-500-primary, #2ea84f);
                }
              }

              .submenu-list__name {
                font-weight: 500;
              }

              .submenu-list__span,
              .submenu-list__name,
              a {
                &:hover {
                  color: var(--colors-green-500-primary, #2ea84f);
                }
              }
            }
          }

          .js-menu-col-right {
            @include flexbox($alignItems: center, $justify: center);

            width: 300px;
            height: 100%;

            .js-menu-col-img {
              height: 100%;

              .js-menu-right__link {
                height: 100%;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 0px 0px 24px 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}
