//colors

$--colors-gray-svg: #e5e4e2;
$--colors-gray-100: #f7f7f7;
$--colors-gray-300: #c0c0c0;
$--colors-green-600: #25863f;
$--colors-green-700: #1d6d33;
$--colors-red-300: #fa8072;
$--colors-red-500: #dc343b;
