.header {
  @include flexbox($alignItems: flex-start, $direction: column);

  .header-container {
    @include flexbox($alignItems: flex-start, $direction: column);
    width: 100%;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

    @import "../_1-header/1-header_top";
    @import "../_1-header/2-header_bottom";
    @import "../_1-header/2.1-header-menu";

    .header_promo-mobile {
      display: none;
    }

    @media (max-width: 719px) {
      .header_top {
        display: none;
      }

      .header_promo-mobile {
        display: block;
        width: 100%;
        height: 48px;

        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .header_bottom {
        &.fixed {
          position: unset;
        }

        .main_logo-bottom {
          display: block !important;
          width: 63.429px !important;
          height: 48px !important;
          margin-left: 6px !important;

          background: url("/images/mobile-logo.png") 50% / contain no-repeat !important;
        }

        .header_bottom-catalog,
        .language_switch,
        .header-bottom-controls {
          display: none !important;
        }
      }
    }
  }
}
