.general-tab {
  @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);
  // user-select: none;
  .page-container {
    $padding: 48px;
    @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);
    gap: 1px;

    border-radius: 24px;
    background: var(---disabled, #e9e9e9);

    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    // width: min(95%, calc(var(---width, 1366px) - ($padding * 2)));

    .gen-tab__left-side {
      @include flexbox($direction: column, $alignItems: center, $self: stretch);
      flex: 1 0 0;
      background: var(--colors-white, #fff);
      border-radius: 24px 0 0 24px;

      padding: 32px $padding;
      user-select: none;

      .gen-tab__carousel {
        @include flexbox(
          $direction: column,
          $alignItems: center,
          $self: stretch
        );

        gap: 10px;

        position: sticky;
        top: 128px;

        .gen-tab__carousel-container-img {
          width: calc(
            var(---width, 1366px) / 2 - (var(---width, 1366px) / 2 * 0.15)
          );
          @include flexbox(
            $direction: column,
            $alignItems: center,
            $self: stretch
          );

          gap: var(---gap-small, 16px);
          $border-w: 2px;

          .gen-tab__carousel-img {
            @include flexbox(
              $direction: column,
              $alignItems: center,
              $self: stretch
            );

            border-radius: 8px;

            position: relative;
            padding: 20px;

            img {
              width: 100%;

              min-height: 430px;
              height: 51.5vh;
              max-height: 600px;
              // height: 440px;
              object-fit: contain;
            }

            .gen-tab__carousel-discount-group {
              padding: 16px;

              .global-block-discount {
                padding: 4px 14px 4px 6px;
                gap: 4px;

                font-size: 16px;
              }

              .global-block-discount-new {
                &::before {
                  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 19 18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.1366 5.03756L13.8444 4.16107C13.7577 3.88071 13.5791 3.63771 13.3374 3.4713C13.0957 3.30485 12.805 3.22468 12.5121 3.24367L11.8256 3.29334C11.4877 3.32221 11.152 3.21729 10.8906 3.00118L10.3472 2.54541C10.1134 2.35436 9.82081 2.25 9.51892 2.25C9.21702 2.25 8.92439 2.35436 8.69063 2.54541L8.06832 3.04792C7.80698 3.26193 7.47304 3.36661 7.13632 3.34009L6.48188 3.28457C6.17861 3.25837 5.87572 3.33889 5.62554 3.51226C5.37533 3.68566 5.19358 3.94095 5.11163 4.23411L4.90711 4.97036C4.82087 5.27731 4.62556 5.54224 4.35785 5.71538L3.66542 6.16239C3.41547 6.3241 3.22842 6.56651 3.13539 6.84929C3.04237 7.13208 3.04898 7.43821 3.15413 7.7167L3.41708 8.41789C3.52518 8.70912 3.52518 9.02948 3.41708 9.32068L3.12491 10.1212C3.0286 10.3922 3.02481 10.6874 3.11415 10.9607C3.2035 11.234 3.38091 11.47 3.61867 11.6317L4.24682 12.0933C4.51915 12.2777 4.71131 12.5586 4.7844 12.8792L4.97139 13.6739C5.03704 13.9616 5.19863 14.2185 5.42962 14.4022C5.66057 14.5859 5.94719 14.6856 6.2423 14.6848H7.2678C7.56992 14.6828 7.86331 14.7861 8.09754 14.977L8.68187 15.4561C8.91496 15.6462 9.20648 15.75 9.50723 15.75C9.80798 15.75 10.0995 15.6462 10.3326 15.4561L11.0163 14.9039C11.2758 14.6887 11.6093 14.5839 11.9453 14.6118L12.6553 14.6702C12.9569 14.6959 13.2581 14.6157 13.5071 14.4435C13.7561 14.2713 13.9373 14.0178 14.0197 13.7265L14.2564 12.8968C14.3368 12.6123 14.5121 12.3639 14.753 12.1926L15.4104 11.7223C15.6492 11.5515 15.8235 11.3052 15.9051 11.0232C15.9867 10.7412 15.9709 10.4399 15.8603 10.168L15.5682 9.47552C15.441 9.16168 15.441 8.81065 15.5682 8.49677L15.8603 7.78682C15.9712 7.50929 15.9835 7.20214 15.8953 6.91661C15.807 6.63108 15.6235 6.38446 15.3753 6.2179L14.6362 5.72122C14.3977 5.5558 14.2217 5.31502 14.1366 5.03756ZM11.6406 5.36673C11.4749 5.207 11.2112 5.21179 11.0514 5.37744C10.8917 5.54309 10.8965 5.80687 11.0621 5.9666L12.3584 7.2166C12.4048 7.26132 12.4162 7.30357 12.4162 7.33333C12.4162 7.3631 12.4048 7.40535 12.3584 7.45007C12.2729 7.53252 12.1582 7.53252 12.0727 7.45007L10.7764 6.20007C10.6107 6.04033 10.347 6.04513 10.1872 6.21078C10.0275 6.37643 10.0323 6.6402 10.1979 6.79994L11.4942 8.04994C11.5406 8.09465 11.552 8.1369 11.552 8.16667C11.552 8.19643 11.5406 8.23868 11.4942 8.2834C11.4087 8.36585 11.294 8.36585 11.2085 8.2834L9.91219 7.0334C9.74654 6.87366 9.48277 6.87846 9.32303 7.04411C9.1633 7.20976 9.1681 7.47353 9.33374 7.63327L10.63 8.88327C11.0384 9.27701 11.6644 9.27701 12.0727 8.88327C12.236 8.72576 12.3354 8.53334 12.3707 8.33336C12.5757 8.3018 12.7737 8.20732 12.9369 8.04994C13.3537 7.64798 13.3537 7.01868 12.9369 6.61673L11.6406 5.36673ZM9.04799 8.4666C9.21364 8.30687 9.21844 8.04309 9.05871 7.87744C8.89897 7.71179 8.6352 7.707 8.46955 7.86673L7.60535 8.70007C7.52391 8.7786 7.47791 8.88687 7.47791 9C7.47791 9.11313 7.52391 9.22141 7.60535 9.29994L8.46832 10.1321L8.47116 10.1348L9.33375 10.9666C9.49515 11.1222 9.75078 11.1222 9.91219 10.9666L10.7764 10.1333C10.942 9.97353 10.9468 9.70976 10.7871 9.54411C10.6274 9.37846 10.3636 9.37366 10.1979 9.5334L9.62297 10.0878L9.35904 9.83333L9.66528 9.53803C9.83093 9.3783 9.83572 9.11452 9.67599 8.94887C9.51626 8.78322 9.25248 8.77843 9.08683 8.93816L8.75877 9.2545L8.49484 9L9.04799 8.4666ZM7.7517 9.95007C7.34338 9.55633 6.71737 9.55633 6.30905 9.95007L5.87696 10.3667C5.79552 10.4453 5.74951 10.5535 5.74951 10.6667C5.74951 10.7798 5.79552 10.8881 5.87696 10.9666L7.60535 12.6333C7.771 12.793 8.03477 12.7882 8.19451 12.6226C8.35424 12.4569 8.34945 12.1931 8.1838 12.0334L6.76645 10.6667L6.8875 10.5499C6.97301 10.4675 7.08774 10.4675 7.17325 10.5499L8.46955 11.7999C8.6352 11.9597 8.89897 11.9549 9.05871 11.7892C9.21844 11.6236 9.21364 11.3598 9.04799 11.2001L7.7517 9.95007Z" fill="%23fff"/></svg>');
                  width: 24px;
                  height: 24px;
                }
              }

              .global-block-discount-hit-sale {
                &::before {
                  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 19 18" fill="none"><path d="M13.7188 3.375L16.25 6.80357M13.7188 3.375H5.28884M13.7188 3.375L12.0312 6.80357M16.25 6.80357L9.5 15.375M16.25 6.80357H2.75M9.5 15.375L2.75 6.80357M9.5 15.375L6.96875 6.80357M9.5 15.375L12.0312 6.80357M2.75 6.80357L5.28884 3.375M5.28884 3.375L6.96875 6.80357M6.96875 6.80357L9.49998 3.375L12.0312 6.80357" stroke="%23fff" stroke-width="0.9375" stroke-linecap="round"  stroke-linejoin="round" /></svg>');
                  width: 24px;
                  height: 24px;
                }
              }

              .global-block-discount-sale,
              .global-block-discount-outlet {
                &::before {
                  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 18 14" fill="none"><path d="M1 4.88235C2.18261 4.88235 3.08696 5.8 3.08696 7C3.08696 8.2 2.18261 9.11765 1 9.11765V11.9412C1 12.5059 1.48696 13 2.04348 13L15.9565 13C16.513 13 17 12.5059 17 11.9412V9.11765C15.8174 9.11765 14.913 8.2 14.913 7C14.913 5.8 15.8174 4.88235 17 4.88235V2.05882C17 1.49412 16.513 1 15.9565 1L2.04348 1C1.48696 1 1 1.49412 1 2.05882V4.88235Z" stroke="%23fff" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" /><path d="M6.6 6.05761C7.12991 6.05761 7.575 5.61918 7.575 5.05908C7.575 4.49897 7.12991 4.06055 6.6 4.06055C6.07009 4.06055 5.625 4.49897 5.625 5.05908C5.625 5.61918 6.07009 6.05761 6.6 6.05761Z" stroke="%23fff" stroke-width="1.25" /><path d="M10.6 10.1162C11.1299 10.1162 11.575 9.67778 11.575 9.11767C11.575 8.55756 11.1299 8.11914 10.6 8.11914C10.0701 8.11914 9.625 8.55756 9.625 9.11767C9.625 9.67778 10.0701 10.1162 10.6 10.1162Z" stroke="%23fff" stroke-width="1.25" /><path d="M11.8008 3.8418L5.40078 10.3359" stroke="%23fff" stroke-width="1.25" stroke-linecap="round" /></svg>');
                  width: 24px;
                  height: 20px;
                }
              }
            }
          }

          .splide {
            .splide__arrow {
              background: var(--colors-white, #fff);

              svg {
                opacity: 0.5;
              }

              &:hover {
                background: var(--colors-gray-100, #f7f7f7);
                svg {
                  opacity: 0.9;
                }
              }
            }

            .splide__arrow--prev {
              left: -1em;
            }

            .splide__arrow--next {
              right: -1em;
            }
          }

          .secondary-slider {
            width: 100%;
            & .splide__slide {
              &.is-active {
                border: $border-w solid var(--colors-gray-700, #2f2c2f) !important;
              }
            }

            .thumbnail {
              $padding: 6px;
              padding: $padding;
              width: calc(90px - ($padding * 2) - ($border-w * 2));
              height: calc(90px - ($padding * 2) - ($border-w * 2));
              overflow: hidden;
              list-style: none;
              cursor: pointer;
              opacity: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 8px;
              border: $border-w solid var(--colors-gray-100, #f7f7f7) !important;

              background: var(---white, #fff);

              &:hover {
                border: $border-w solid var(--colors-gray-200, #e5e4e2) !important;
                // border: none !important;
              }
              // &.is-active {
              //   opacity: 1;
              // }
              & img {
                @include flexbox($justify: center, $alignItems: center);
                height: 100%;
              }
            }
          }

          .gen-tab__carousel-bottom {
            @include flexbox($justify: center, $alignItems: center);
            padding: 8px 32px;
            gap: 4px;

            border-radius: 8px;
            background: var(--colors-gray-100, #f7f7f7);

            color: var(--colors-gray-400, #929292);

            font-size: 14px;
          }
        }
      }
    }

    .gen-tab__right-side {
      @include flexbox($direction: column, $alignItems: center);
      gap: 1px;
      flex: 1 0 0;

      background: var(---disabled, #e9e9e9);
      border-radius: 0 24px 24px 0;

      .gen-tab__block {
        &:first-child {
          border-radius: 0 24px 0 0;
        }

        &:last-child {
          border-radius: 0 0 24px 0;
        }
      }

      @import "../_2-general-tab/2.1-tab-info";
      @import "../_2-general-tab/2.2-tab-to-order";
      @import "../_2-general-tab/2.3-tab-constructor";
      @import "../_2-general-tab/2.4-tab-stock";
      @import "../_2-general-tab/2.5-tab-credit";
      @import "../_2-general-tab/2.6-tab-services";
      @import "../_2-general-tab/2.7-tab-product";
      @import "../_2-general-tab/2.8-tab-delivery";
      @import "../_2-general-tab/2.9-tab-order-services";
      @import "../_2-general-tab/2.10-gen-tab__work-checked";

      &.no-acces {
        .gen-tab__info {
          width: calc(
            var(---width, 1366px) / 2 - var(---width, 1366px) / 2 * 0.095
          );
        }
      }

      &.to-order {
        .gen-tab__info-price {
          .global-p-short-product-old-price-container,
          .global-p-short-product-discount-container {
            display: none;
          }
        }
      }

      &.disabled,
      &.no-price {
        .gen-tab__info-price {
          justify-content: flex-end;

          .gen-tab__info-price-cashback,
          .global-p-short-product-old-price-container,
          .global-p-short-product-discount-container {
            display: none;
          }

          .global-p-short-product-new-price-container {
            color: var(--colors-gray-300, #c0c0c0) !important;
          }
        }
      }

      &.no-price {
        .gen-tab__info-price {
          .global-p-short-product-new-price-container {
            font-size: 24px !important;

            .global-p-short-product-old-price-container,
            .global-p-short-product-discount-container,
            .gen-tab__info-price-simb {
              display: none;
            }
          }
        }
      }
    }
  }
}

@import "../_2-general-tab/2.0-zoom";
