.general-tab {
  @include flexbox($justify: center, $alignItems: flex-start);
  width: 100%;

  // user-select: none;
  .page-container {
    @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);
    gap: 1px;

    border-radius: 24px;
    background: var(---disabled, #e9e9e9);

    /* block-shadow */
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

    .gen-tab__left-side {
      @include flexbox($direction: column, $alignItems: center, $self: stretch);
      flex: 1 0 0;
      height: 2000px;
      background: var(--colors-white, #fff);
      border-radius: 24px 0 0 24px;
    }

    .gen-tab__right-side {
      @include flexbox($direction: column, $alignItems: center);
      gap: 1px;
      flex: 1 0 0;

      background: var(---disabled, #e9e9e9);
      border-radius: 0 24px 24px 0;

      .gen-tab__block {
        &:first-child {
          border-radius: 0 24px 0 0;
        }

        &:last-child {
          border-radius: 0 0 24px 0;
        }
      }
      @import "../_2-general-tab/2.1-tab-info";
      @import "../_2-general-tab/2.2-tab-to-order";
      @import "../_2-general-tab/2.3-tab-constructor";
      @import "../_2-general-tab/2.4-tab-stock";
      @import "../_2-general-tab/2.5-tab-credit";
      @import "../_2-general-tab/2.6-tab-services";
      @import "../_2-general-tab/2.7-tab-product";
    }
  }
}
