.gen-tab__info {
  @include flexbox($alignItems: flex-start, $direction: column, $self: stretch);
  padding: 32px 32px 24px 32px;
  gap: 8px;

  background: var(---white, #fff);

  .gen-tab__info-name {
    @include flexbox($alignItems: flex-start, $self: stretch);
    gap: var(---gap-big, 48px);

    .gen-tab__info-p {
      flex: 1 0 0;
      align-self: stretch;

      color: var(--colors-gray-700, #2f2c2f);
      font-weight: 500;
      font-size: 24px;
    }

    .gen-tab__info-btn {
      @include flexbox($alignItems: flex-start);
      gap: 8px;

      .gen-tab-controls__btn {
        @include flexbox($justify: center, $alignItems: center);
        border: none;
        border-radius: 8px;
        background: var(--colors-white, #fff);
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:hover {
          path {
            stroke: var(--colors-gray-700, #2f2c2f);
          }
        }

        &.gen-tab__info-wishlist-btn.active {
          path {
            stroke: var(--colors-green-500-primary, #2ea84f);
            fill: var(--colors-green-500-primary, #2ea84f);
          }
        }

        &.gen-tab__info-compare-btn.active {
          path {
            stroke: var(--colors-green-500-primary, #2ea84f);
          }

          .gen-tab__info-compare-btn_fill {
            fill: var(--colors-green-500-primary, #2ea84f);
          }
        }
      }
    }
  }

  .gen-tab__info-list {
    @include flexbox($alignItems: center, $self: stretch);
    gap: var(---gap-small, 16px);

    .gen-tab__info-list-reviews-container {
      @include flexbox($alignItems: center);
      gap: var(---gap-small, 16px);
    }
  }

  .gen-tab__info-price {
    @include flexbox(
      $alignItems: flex-end,
      $self: stretch,
      $justify: space-between
    );
    gap: 16px;

    .gen-tab__info-price-value {
      align-items: flex-end;

      .global-p-short-product-old-price-container {
        font-size: 24px;
      }

      .global-p-short-product-discount-container {
        padding: 2px 9px 2px 7px;

        font-weight: 700;

        margin-right: 8px;
        margin-bottom: 10px;
      }

      .global-p-short-product-new-price-container {
        color: var(---dark-gray, #333);
        font-size: 48px;

        .gen-tab__info-price-simb {
          font-size: 32px;
          margin-top: 10px;
          user-select: none;
        }
      }
    }

    .gen-tab__info-price-cashback,
    .global-p-short-product-old-price-container {
      margin-bottom: 7px;
    }
  }

  .gen-tab__info-discount {
    display: flex;
    padding: 8px 24px 8px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 8px;
    background: linear-gradient(
        0deg,
        rgba(255, 208, 88, 0.2) 0%,
        rgba(255, 208, 88, 0.2) 100%
      ),
      #fff;

    color: var(---dark-gray, #333);
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
  }

  .gen-tab__info-delivery {
    @include flexbox($alignItems: flex-start, $self: stretch);

    border-radius: 4px;
    background: radial-gradient(
        46.03% 170.31% at 75.55% 50%,
        var(---blue-light, #81dcec) 0%,
        var(---blue, #0eb7d4) 100%
      ),
      var(---blue, #0eb7d4);

    user-select: none;

    .gen-tab__info-delivery-text {
      @include flexbox(
        $alignItems: flex-start,
        $direction: column,
        $justify: center,
        $self: stretch
      );
      padding-left: 16px;
      height: 64px;

      flex: 1 0 0;

      color: var(---white, #fff);
      font-style: normal;
      line-height: normal;

      background: url(/images/delivery\ Europe.png) no-repeat right;

      .gen-tab__info-delivery-top {
        font-size: 18px;
        font-weight: 600;
      }
      .gen-tab__info-delivery-bottom {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
