.gen-tab__to-order {
  @include flexbox($justify: center, $alignItems: center, $self: stretch);

  gap: var(---gap-small, 16px);

  padding: 24px 32px;

  background: var(---white, #fff);
  user-select: none;

  @media (max-width: 719px) {
    flex-direction: column;
    align-items: stretch;
  }
}
