.gen-tab__credit {
  @include flexbox($alignItems: flex-start, $direction: column, $self: stretch);

  padding: 24px 32px;
  gap: 12px;

  background: var(--colors-white, #fff);
  user-select: none;

  &.hide {
    .gen-tab__credit-container {
      width: unset;

      .gen-tab__credit-block {
        gap: var(---gap-small, 16px);
      }

      .gen-tab__credit-btn {
        display: none;
      }
    }
  }

  .gen-tab__credit-header {
    @include flexbox();

    color: var(--colors-gray-700, #2f2c2f);

    font-weight: 400;

    .gen-tab__credit-header-span {
      color: var(--colors-gray-700, #2f2c2f);

      font-weight: 500;
    }

    #gen-tab__credit-value {
      user-select: text;
    }
  }

  .gen-tab__credit-container {
    @include flexbox();
    gap: var(---gap-small, 16px);
    width: 100%;

    .gen-tab__credit-block {
      @include flexbox($justify: space-between, $alignItems: center);
      flex: 1 0 0;

      .gen-tab__credit-block__btn {
        @include flexbox($justify: center, $alignItems: center);
        padding: 4px;
        position: relative;

        border: none;
        border-radius: 8px;
        background: var(--colors-white, #fff);

        cursor: pointer;

        &:hover {
          background: var(--colors-gray-100, #f7f7f7);
        }

        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }

        .gen-tab__credit-block__span {
          @include flexbox($justify: center, $alignItems: center);
          width: 12px;
          height: 12px;
          position: absolute;
          left: 2px;
          bottom: 2px;

          border-radius: 12px;
          background: var(--colors-white, #fff);

          color: var(--colors-gray-700, #2f2c2f);
          text-align: center;
          font-size: 8px;
        }
      }
    }
  }
}
