.gen-tab__add-services {
  @include flexbox(
    $justify: center,
    $alignItems: flex-start,
    $direction: column,
    $self: stretch
  );

  padding: 24px 28px;
  gap: 12px;

  background: var(---white, #fff);

  .gen-tab__add-services-header {
    align-self: stretch;

    color: var(---dark-gray, #333);
    font-weight: 400;
  }

  .gen-tab__add-services-block {
    @include flexbox($alignItems: flex-start, $direction: column);

    width: 613px;
    height: var(--nums-block-radius, 32px);
    flex-shrink: 0;
    position: relative;

    &:not(:last-child) {
      padding-bottom: 10px;
    }

    .gen-tab__add-services-wrapper {
      @include flexbox($alignItems: center, $self: stretch);

      gap: var(---gap-small, 16px);
      user-select: none;

      // Toogle Switch Checkbox
      input[type="checkbox"] {
        position: relative;
        width: 32px;
        height: 16px;
        appearance: none;
        background: var(--colors-gray-300, #c0c0c0);

        outline: none;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        transition: background 300ms linear;

        // circle
        &::before {
          position: absolute;
          content: "";
          width: 12px;
          height: 12px;
          top: 2px;
          left: 2px;
          border-radius: 16px;
          background-color: var(---white, #fff);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: top 300ms linear;
        }

        // move to right
        &:checked {
          background: var(--colors-green-500-primary, #2ea84f);
          &::before {
            left: 18px;
            background-color: var(---white, #fff);
          }
        }
      }

      .gen-tab__add-services-content {
        @include flexbox($alignItems: center);

        gap: 8px;
        flex: 1 0 0;

        .gen-tab__add-services-text {
          @include flexbox(
            $alignItems: center,
            $justify: space-between,
            $self: stretch
          );

          height: var(--nums-block-radius, 32px);
          padding-left: 16px;
          gap: 64px;
          flex-shrink: 0;
          flex: 1 0 0;
          cursor: pointer;
          border-radius: var(---radius-min, 8px);
          border: var(---stroke-thickness, 2px) solid transparent;
          background: var(--colors-white, #fff);
        }
      }

      .gen-tab__add-services-price {
        @include flexbox($alignItems: baseline, $justify: flex-end);
        width: 80px;
      }
    }

    .gen-tab__add-services-ul {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      position: absolute;
      z-index: 24;

      width: 477px;
      left: 40px;
      top: 26px;

      border-radius: var(---radius-min, 8px);
      background: var(--colors-white, #fff);
      padding: 0;
      /* pop-up_shadow */
      box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.16);

      li {
        @include flexbox(
          $alignItems: flex-start,
          $direction: column,
          $self: stretch
        );

        padding: 16px;
        gap: 8px;
        cursor: pointer;

        background: var(--colors-white, #fff);

        overflow: hidden;
        color: var(--colors-gray-500, #696969);
        text-overflow: ellipsis;
        font-family: Rubik;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */

        &:first-child {
          border-radius: 8px 8px 0 0;
        }

        &:last-child {
          border-radius: 0 0 8px 8px;
        }

        p {
          margin: 0;
        }

        &:hover {
          background: linear-gradient(
              0deg,
              var(--colors-gray-100, #f7f7f7) 0%,
              var(--colors-gray-100, #f7f7f7) 100%
            ),
            var(--colors-white, #fff);
        }
        .gen-tab__add-services-li-div {
          @include flexbox(
            $alignItems: center,
            $justify: space-between,
            $self: stretch
          );
          gap: var(--nums-block-radius, 32px);

          color: var(--colors-gray-700, #2f2c2f);
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    &.default,
    &.enable-check {
      &.active {
        .gen-tab__add-services-text {
          border: var(---stroke-thickness, 2px) solid
            var(--colors-gray-200, #e5e4e2) !important;
        }
      }
      .gen-tab__add-services-text {
        border: var(---stroke-thickness, 2px) solid
          var(--colors-gray-100, #e5e4e2) !important;

        &:hover {
          border: var(---stroke-thickness, 2px) solid
            var(--colors-gray-200, #e5e4e2) !important;
        }
        &::after {
          content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M11.5007 14.4993L16 19.1005L20.4993 14.4993" stroke="%232F2C2F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
