.gen-tab__add-product {
  @include flexbox($alignItems: flex-start, $direction: column, $self: stretch);

  padding: 24px 32px;
  gap: 12px;

  background: var(---white, #fff);

  color: var(---dark-gray, #333);
  text-align: start;
  font-size: 18px;
  font-weight: 400;

  user-select: none;

  .carousel-container {
    overflow: hidden;
  }
  .gen-tab__add-product-accessories-container {
    @include flexbox($alignItems: flex-start, $self: stretch);

    // (1366/2)-10% = 615px
    width: calc(var(---width, 1366px) / 2 - (var(---width, 1366px) / 2 * 0.1));

    transition: transform 0.3s ease;

    & .slick-slide {
      margin-right: var(---gap-small, 16px);
    }

    .gen-tab__add-product-accessories--item {
      @include flexbox($alignItems: flex-start, $justify: center);

      width: 181.167px;
      padding: 8px;
      gap: 8px;

      border-radius: 16px;
      border: 2px solid var(--colors-gray-100, #f7f7f7);
      background: var(--colors-white, #fff);

      &:hover {
        border: 2px solid var(--colors-gray-200, #e5e4e2);
      }

      img {
        width: 64px;
        height: 64px;
        object-fit: contain;
      }

      .gen-tab__add-product-accessories--info-conteiner {
        @include flexbox(
          $alignItems: center,
          $direction: column,
          $self: stretch
        );

        flex: 1 0 0;
        gap: 8px;

        .gen-tab__add-product-accessories--name {
          $font-size: 10px;

          display: -webkit-box;
          -webkit-line-clamp: 2; /* количество строк */
          -webkit-box-orient: vertical;
          width: 90px;
          height: calc(($font-size + 2px) * 2);
          align-self: stretch;
          overflow: hidden;
          color: var(--colors-gray-700, #2f2c2f);
          text-overflow: ellipsis;
          font-size: $font-size;
          font-weight: 400;
        }

        .gen-tab__add-product-accessories--info {
          @include flexbox(
            $alignItems: center,
            $justify: space-between,
            $self: stretch
          );

          color: var(--colors-gray-700, #2f2c2f);

          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }
}
