.gen-tab__delivery-options {
  @include flexbox($direction: column, $alignItems: flex-start, $self: stretch);

  padding: 24px 28px;
  gap: var(---gap-small, 16px);

  background: var(---white, #fff);
  user-select: none;

  text-align: center;

  .gen-tab__delivery-options-header {
    color: var(---dark-gray, #333);
    font-weight: 400;
    line-height: 150%; /* 24px */

    .delivery-options-header-location {
      color: var(--colors-gray-700, #2f2c2f);
    }
  }

  .delivery-options--pickup {
    @include flexbox(
      $justify: space-between,
      $alignItems: center,
      $self: stretch
    );

    padding: 8px 4px;
    font-weight: 400;

    & .delivery-options--pickup-left {
      @include flexbox($alignItems: flex-start);

      gap: 8px;

      color: var(---dark-gray, #333);
      line-height: 150%; /* 24px */
    }
    & .delivery-options--pickup-right {
      @include flexbox($alignItems: center);

      gap: 4px;

      color: var(--colors-gray-700, #2f2c2f);

      & .delivery-options--pickup-value {
        color: var(---dark-gray, #333);
      }
    }
  }

  .delivery-options--group {
    @include flexbox(
      $direction: column,
      $alignItems: flex-start,
      $self: stretch
    );

    color: var(---dark-gray, #333);
    font-weight: 400;
    line-height: 150%; /* 24px */

    .delivery-options--group-shipping {
      @include flexbox($alignItems: flex-start, $self: stretch);

      padding: 8px 4px;
      gap: 8px;
    }

    .new-post-shipping-details-container {
      align-self: stretch;
      padding-left: 32px;

      .new-post-shipping-details {
        @include flexbox(
          $alignItems: center,
          $justify: space-between,
          $self: stretch
        );

        padding: 8px 4px;

        color: var(--colors-gray-700, #2f2c2f);
      }
    }
  }

  .delivery-options-header-location,
  .new-post-shipping-text,
  .delivery-options--pickup-value,
  .new-post-shipping-details-price {
    user-select: text;
  }
}
