.gen-tab__delivery-options {
  display: flex;
  padding: 24px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  text-align: center;

  background: var(--colors-white, #fff);

  .gen-tab__delivery-options-header {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;

    color: var(--colors-gray-700, #2f2c2f);

    font-weight: 400;

    .delivery-options-header-location {
      color: var(--colors-green-400, #62b278);

      cursor: pointer;
    }
  }

  .delivery-options--group {
    @include flexbox(
      $direction: column,
      $alignItems: flex-start,
      $self: stretch
    );

    gap: 12px;
    font-weight: 400;

    .delivery-options--group-header {
      display: flex;
      align-items: center;
      gap: 8px;
      align-self: stretch;

      color: var(--colors-gray-700, #2f2c2f);

      font-size: 16px;
      font-weight: 400;
    }

    .delivery-options--container {
      display: flex;
      align-self: stretch;
      gap: 12px;

      padding-left: 32px;

      .delivery-options-details {
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        flex: 1 0 0;

        border-radius: 16px;
        border: 2px solid var(--colors-gray-100, #f7f7f7);

        span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          align-self: flex-start;

          overflow: hidden;
          color: var(--colors-gray-700, #2f2c2f);
          text-overflow: ellipsis;

          font-weight: 400;
        }

        .delivery-options-department-header {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 4px;
          align-self: stretch;
          font-size: 14px;

          .options-details-location {
            overflow: hidden;
            color: var(--colors-gray-700, #2f2c2f);
            text-overflow: ellipsis;
            white-space: nowrap;

            font-weight: 500;
          }

          .delivery-options-details-phonetime {
            color: var(--colors-gray-500, #696969);

            font-weight: 400;
          }
        }

        .options-details-time {
          display: flex;
          align-items: center;
          gap: 2px;
          align-self: stretch;

          color: var(--colors-gray-400, #929292);
          font-size: 12px;
          font-weight: 500;
        }

        &.not-available {
          background: var(--colors-gray-100, #f7f7f7);

          .options-details-location {
            font-weight: 400;
            color: var(--colors-gray-300, #c0c0c0);
          }
        }
      }
    }
  }

  .options-details-time,
  .delivery-options-header-label {
    user-select: none;
  }
}
