.gen-tab__to-order-services {
  @include flexbox($justify: center, $alignItems: center, $self: stretch);

  padding: 24px 32px;
  gap: 8px;

  background: var(---white, #fff);

  .gen-tab__to-order-services-pay-block {
    @include flexbox($justify: center, $alignItems: center, $self: stretch);

    height: 28px;
    padding: 8px 16px;
    flex: 1 0 0;

    border-radius: 8px;
    background: var(---soft-gray, #f8f8f8);

    & div {
      width: 100%;
      height: 100%;
      background-size: inherit;
    }
    .gen-tab__to-order-services-pay-visa {
      background: url("/images/icon-visa--new\ 1.svg") 50% no-repeat;
    }
    .gen-tab__to-order-services-pay-mastercard {
      background: url("/images/icon-mastercard--new\ 1.svg") 50% no-repeat;
    }
    .gen-tab__to-order-services-pay-google {
      background: url("/images/icon-google-pay\ 1.svg") 50% no-repeat;
    }
    .gen-tab__to-order-services-pay-apple {
      background: url("/images/icon-apple-pay\ 1.svg") 50% no-repeat;
    }
    .gen-tab__to-order-services-pay-privat {
      background: url("/images/icon-privat--new\ 1.svg") 50% no-repeat;
    }
  }
}
