.information-tab {
  @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);
  display: none;

  .information-page-container {
    @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);

    gap: 1px;
    border-radius: 24px;
    background: var(---disabled, #e9e9e9);

    /* block-shadow */
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    $padding: 48px;

    .inf-tab__left-side {
      display: flex;
      padding: $padding;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
      gap: 32px;

      background: var(---white, #fff);
      border-radius: 24px 0 0 24px;
      height: calc(100% - ($padding * 2));

      .specifications-header {
        color: var(---dark-gray, #333);
        font-size: 24px;
      }

      .inf-tab__information-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 32px;

        .inf-tab__questions-container,
        .inf-tab__reviews-container,
        .inf-tab__specifications-container {
          display: none;
          flex-direction: column;
          align-items: flex-start;
          gap: 32px;
          align-self: stretch;
        }

        .global-button-reviews,
        .global-button-questions {
          align-self: stretch;
        }

        .reviews-block,
        .questions-block-question,
        .questions-block-answers {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;
        }
        .inf-tab__questions-container {
          .global-button-questions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;

            button {
              padding: 13px 0;
              align-self: stretch;
            }

            span {
              color: var(--colors-gray-700, #2f2c2f);
              text-align: center;
              font-weight: 400;
              align-self: stretch;
            }
          }

          .questions-block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;

            .questions-block-answers {
              padding-left: 40px;

              position: relative;

              .questions-block-rectangle {
                width: 20px;
                height: 20px;

                position: absolute;
                left: 12px;
                top: -10px;

                border-radius: 0px 0px 0px 8px;
                border-bottom: 2px solid var(--colors-green-200, #dbf6e2);
                border-left: 2px solid var(--colors-green-200, #dbf6e2);
              }
            }
          }
        }

        .inf-tab__reviews-container {
          .reviews-block-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            .reviews-block-rating-container {
              display: flex;
              align-items: center;
              gap: 4px;

              color: var(--colors-gray-700, #2f2c2f);
              text-align: center;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }

        .inf-tab__specifications-container {
          .specifications-block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            text-align: justify;

            gap: 16px;

            .specifications-block-header {
              font-size: 20px;
            }
            .specifications-block-content {
              display: flex;
              padding: 4px 8px;
              justify-content: space-between;
              align-items: center;
              align-self: stretch;

              border-bottom: 1px solid var(--colors-gray-200, #e5e4e2);

              color: var(--colors-gray-700, #2f2c2f);
              text-align: justify;
              font-weight: 400;
              line-height: 150%; /* 24px */
            }
          }
        }

        .inf-tab__block-user-name-container {
          display: flex;
          align-items: center;
          gap: 8px;

          user-select: none;

          .inf-tab__block-user-name {
            color: var(--colors-gray-700, #2f2c2f);
            text-align: center;
            font-size: 16px;
          }

          .inf-tab__block-user-date {
            display: flex;
            padding: 4px 12px;
            align-items: center;
            gap: 10px;

            border-radius: 24px;
            background: var(--colors-gray-100, #f7f7f7);

            color: var(--colors-gray-500, #696969);
            text-align: center;

            font-size: 12px;
          }
        }

        .inf-tab__block-content {
          align-self: stretch;

          color: var(--colors-gray-700, #2f2c2f);
          text-align: justify;
          font-weight: 400;
          line-height: 150%;

          margin: 0;
        }
      }
    }

    .inf-tab__right-side {
      display: flex;
      width: calc(480px - ($padding * 2));
      padding: $padding;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      align-self: stretch;

      background: var(---white, #fff);
      border-radius: 0 24px 24px 0;
      user-select: none;

      .inf-tab__specifications-photo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;

        position: sticky;
        top: 156px;

        img {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          width: calc(480px - ($padding * 2));

          border-radius: var(---radius-min, 8px);
        }

        .inf-tab__specifications-photo-price {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          .global-p-short-product {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 8px;
            align-self: stretch;

            .global-p-short-product-old-price-container {
              font-size: 24px;
              margin-bottom: 8px;
            }

            .global-p-short-product-discount-container {
              display: flex;
              padding: 2px 9px 2px 7px;
              justify-content: center;
              align-items: center;

              font-weight: 700;
              margin-right: 8px;
              margin-bottom: 12px;
            }

            .global-p-short-product-new-price-container {
              font-size: 48px;
              user-select: text;

              .inf-tab__info-price-simb {
                margin-left: 8px;
              }
            }
          }

          .inf-tab__to-order {
            display: flex;
            align-self: stretch;
            gap: 16px;
          }
        }

        // .global-button-notify,
        // .global-button-fast-buy,
        // .inf-tab__to-order-button {
        //   display: none;
        // }
      }
    }
  }

  &.specifications {
    display: flex;

    .inf-tab__specifications-container {
      display: flex !important;
    }
    .inf-tab__questions-container,
    .inf-tab__reviews-container {
      display: none !important;
    }
  }

  &.reviews {
    display: flex;

    .inf-tab__reviews-container {
      display: flex !important;
    }
    .inf-tab__questions-container,
    .inf-tab__specifications-container {
      display: none !important;
    }
  }

  &.questions {
    display: flex;

    .inf-tab__questions-container {
      display: flex !important;
    }
    .inf-tab__reviews-container,
    .inf-tab__specifications-container {
      display: none !important;
    }
  }
}
