.service-tab {
  @include flexbox($justify: center, $alignItems: flex-start, $self: stretch);

  .service-page-container {
    display: flex;
    align-items: flex-start;
    gap: 1px;
    align-self: stretch;
    flex-direction: column;

    border-radius: 24px;
    background: var(---disabled, #e9e9e9);

    /* block-shadow */
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);

    .service-page-header {
      display: flex;
      padding: 32px 48px 24px 48px;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;

      background: var(---white, #fff);
      border-radius: 24px 24px 0 0;

      color: var(---dark-gray, #333);
      font-size: 24px;
    }

    .service-page-content {
      display: flex;
      width: var(---width, 1366px);
      flex-direction: column;
      align-items: flex-start;
      gap: 1px;

      .service-page-block {
        display: flex;
        padding: 32px;
        align-items: flex-start;
        gap: var(---gap-basic, 24px);
        align-self: stretch;

        background: var(--colors-white, #fff);

        &:last-child {
          border-radius: 0 0 24px 24px;
        }

        .service-page-block-img {
          width: 200px;
          height: 200px;

          img {
            width: 200px;
            height: 200px;
            border-radius: 8px;
          }
        }

        .service-page-block-content {
          display: flex;
          padding-top: 12px;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          flex: 1 0 0;
          align-self: stretch;

          .service-page-block-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(---gap-small, 16px);
            align-self: stretch;

            p,
            span {
              align-self: stretch;
            }

            span {
              color: var(--colors-gray-700, #2f2c2f);
              font-size: 20px;
            }

            p {
              margin: 0;

              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 4;
              align-self: stretch;

              overflow: hidden;
              color: var(--colors-gray-700, #2f2c2f);
              text-align: justify;
              text-overflow: ellipsis;
              font-weight: 400;
              line-height: 150%; /* 24px */
            }
          }

          .service-page-block-bottom {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: var(---gap-basic, 24px);
            align-self: stretch;

            .service-page-block-value {
              color: var(--colors-gray-700, #2f2c2f);
              font-size: 24px;
              text-align: center;

              span {
                font-size: 32px;
              }
            }

            .service-page-button {
              display: flex;
              height: var(---button-height, 48px);
              padding: 0px 32px 0px 24px;
              justify-content: center;
              align-items: center;
              flex: unset;
              width: 160px;
              min-width: 160px;

              button {
                gap: 8px;
              }
            }
          }
        }
      }
    }
  }
}
